.question {
  margin-bottom: 16px;
  background: #fff;
  border-radius: 5px;

  &__header {

    margin-bottom: 1.5px;
    padding: 15.5px 20px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    color: $primary-new;

    @include transition;

    &:after {
      margin-top: 4.5px;
      margin-left: 20px;
      display: block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      content: '';
      background: url(../img/question-plus.svg) no-repeat center;
      background-size: contain;
    }

    &--active {

      &:after {
        background: url(../img/question-minus.svg) no-repeat center;
      }
    }
  }

  &__content {
    padding: 0 20px 7.5px;
    display: none;

    p {
      margin-bottom: 16px;
    }
  }
}
