mixin question(data)
  .question&attributes(attributes)
    a.question__header.h3(href="#")= data.title
    .question__content
      p Вопросы и ответы на сайте Сбербанка. На сайте Сбербанка имеется отдельный раздел, который называется «Вопросы и ответы», имеющий древовидную структуру, позволяющую добраться до ответа в четыре клика. ... Также, узнать, насколько пользователям удобен раздел “Вопросы и ответы” на своём сайте вы можете с помощью аналогичного исследования
