.modal {
  padding: 0;
  display: none;
  width: 100%;
  max-width: 870px;
  border-radius: 5px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 0 !important;
    border-radius: 0;
  }

  .card__info {
    margin-bottom: 0;
  }

  .card__content {
    padding-top: 30px;
    padding-right: 45px;
    padding-left: 45px;
    padding-bottom: 40px;
    border-bottom: 1px solid #f6f6f7;

    @include media-breakpoint-down(sm) {
      padding: 15px;
    }
  }

  &__footer {
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      padding: 15px;
    }
  }

  &__footer-btn {
    padding: 2px 0;
    width: 100%;
    max-width: 180px;
    font-size: 15px;
    text-align: center;
    color: $primary;
    border: 1px solid #1969e2;
    border-radius: 5px;

    @include transition;

    @include media-breakpoint-down(sm) {
      max-width: 45%;
      font-size: 13px;
    }

    &:hover {
      opacity: .75;
    }
  }

  &__close {

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__form-btn {
    padding-right: 80px;
    padding-left: 80px;

    @include media-breakpoint-down(sm) {
      padding-right: 40px;
      padding-left: 40px;
      width: 100%;
    }
  }

  &--default {
    padding: 40px;

    @include media-breakpoint-down(sm) {
      padding: 20px;
    }

    .fancybox-close-small {
      display: block;
    }
  }

  &__gallery,
  &__userpic {

    .slick-arrow {
      position: absolute;
      z-index: 1;
      top: 50%;
      display: flex !important;
      width: 48px;
      height: 48px;
      justify-content: center;
      align-items: center;
      font-size: 0;
      background: transparent;
      border-radius: 50%;
      transform: translateY(-50%);

      @include media-breakpoint-down(sm) {
        top: 110px;
        transform: none;
      }

      @include transition;

      &:hover {
        background: rgba(#fff, .5);
      }

      &.slick-disabled {
        display: none;
      }

      &.slick-prev {
        left: 0;

        &:after {
          display: block;
          width: 8px;
          height: 16px;
          content: '';
          background: url(../img/gallery-arrow.svg) no-repeat center;
          background-size: contain;
          transform: rotate(180deg);
        }
      }

      &.slick-next {
        right: 322px;

        @include media-breakpoint-down(sm) {
          right: 0;
        }

        &:after {
          display: block;
          width: 8px;
          height: 16px;
          content: '';
          background: url(../img/gallery-arrow.svg) no-repeat center;
          background-size: contain;
        }
      }
    }
  }

  &__gallery-item {
    display: flex !important;

    @include media-breakpoint-down(sm) {
      min-height: 100vh;
      flex-direction: column;
    }
  }

  &__gallery-photo {
    position: relative;
    padding-top: 54.7%;
    flex-grow: 1;

    @media (max-height: 700px) {
      padding-top: 47%;
    }
  }

  &__gallery-photo-title {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 14px 25px;
    width: 100%;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 700;
    color: #fff;
    background: rgba(#2f2f2f, .5);

    @include media-breakpoint-down(sm) {
      padding: 14px 30px 14px 14px;
    }
  }

  &__gallery-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
  }

  &__gallery-content {
    display: flex;
    width: 300px;
    flex-direction: column;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__gallery-header {
    padding: 9.5px 22px 9.5px 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__gallery-header-left {
    display: flex;
    align-items: center;
  }

  &__gallery-header-icon {
    margin-right: 14px;
    width: 31px;
    height: 31px;
    flex-shrink: 0;
    background-position: top center;
    background-size: cover;
    border-radius: 50%;
  }

  &__gallery-header-content {
    flex-grow: 1;
    font-size: 11px;
    line-height: 1.2;
    font-weight: 500;
    color: $primary-new;
  }

  &__gallery-close {
    margin-left: 20px;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    background: url(../img/gallery-close.svg) no-repeat center;

    @include transition;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    &:hover {
      opacity: .8;
    }
  }

  &__gallery-subheader {
    padding: 14px 22px 14px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(#b6c3d9, .25);
  }

  &__gallery-header-likes {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 700;

    @include transition;

    &:hover {
      opacity: .8;
    }

    &:before {
      margin-right: 10px;
      display: block;
      width: 16px;
      height: 15px;
      content: '';
      background: url(../img/gallery-like.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__gallery-header-share {
    width: 16px;
    height: 16px;
    background: url(../img/gallery-share.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &__gallery-comments-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__gallery-comments-top {
    padding: 15px;
  }

  &__gallery-comment {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
  }

  &__gallery-comment-photo {
    margin-right: 17px;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    background-position: top center;
    background-size: cover;
    border-radius: 5px;
  }

  &__gallery-comment-content {
    margin-top: -2px;
  }

  &__gallery-comment-text {
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 1.4;
    color: #2f2f2f;
  }

  &__gallery-comment-date {
    font-size: 12px;
    line-height: 1.2;
    color: rgba(#2f2f2f, .5);
  }

  &__gallery-comment-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(#b6c3d9, .2);
  }

  &__gallery-comment-input {
    padding: 13px 10px 13px 20px;
    height: 40px;
    flex-grow: 1;
    font-size: 12px;
    border: 0;

    @include placeholder(rgba(#2c4064, .5));
  }

  &__gallery-send {
    margin-right: 11px;
    width: 24px;
    height: 24px;
    background: url(../img/modal-comment-send.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &__userpic {

    .slick-arrow {

      @include media-breakpoint-down(sm) {
        top: 50%;
        transform: translateY(-50%);
      }

      &.slick-prev {
        left: -50px;
      }

      &.slick-next {
        right: -50px;
      }
    }

    .slick-dots {
      margin: 20px 0;
      padding-left: 0;
      display: flex;
      justify-content: center;

      li {
        margin-right: 20px;
        list-style: none;

        &:last-child {
          margin-right: 0;
        }

        &.slick-active {

          button {
            background: $secondary;
          }
        }

        button {
          width: 10px;
          height: 10px;
          font-size: 0;
          background: #fff;
          border: 1px solid $primary;
          border-radius: 50%;
        }
      }
    }
  }

  &__userpic-main {
    margin-bottom: 36px;
  }

  &__userpic-main-item {
    display: flex !important;
    justify-content: center;
    align-items: flex-end;
  }

  &__userpic-controls {
    margin: 0 auto;
    width: 100%;
    max-width: 342px;

    .slick-track {
      display: flex !important;
    }
  }

  &__userpic-controls-item {
    position: relative;
    margin: 0 12px;
    height: 90px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;

      @include transition;
    }

    &.slick-current {
      border: 1px solid #4ab9ff;

      img {
        top: 6px;
        left: 6px;
        width: calc(100% - 12px);
        height: calc(100% - 12px);
      }
    }
  }

  &--gallery {
    max-width: 1170px;

    .fancybox-close-small svg {

      @include media-breakpoint-down(sm) {
        stroke: #fff;
      }
    }
  }

  &--userpic {
    position: absolute;
    display: block;
    opacity: 0;
    pointer-events: none;
    background: transparent;

    @include media-breakpoint-down(sm) {
      margin-top: 50px;
    }

    &.fancybox-content {
      position: relative;
      opacity: 1;
      pointer-events: all;
    }

    .fancybox-close-small {
      position: fixed;
      top: 0;
      right: 0;
      display: block;
    }

    .fancybox-close-small svg {
      color: #fff;
    }
  }
}
