mixin modal(data)
  .modal&attributes(attributes)
  
    if data && data.modifier == 'feedback'
      .h1.mb-20.mb-lg-30 Обратная связь
      p Воспользуйтесь формой, чтобы задать интересующий Вас вопрос, отправить комментарии, замечания или предложения.
      p Выберите тему обращения и заполните соответствующие поля.
      p Обращаем Ваше внимание, что корректное и полное заполнение полей формы обращения поможет нам быстро и качественно ответить Вам
      form.form(action="#", method="POST")
        .row
          .col-lg-8
            .form__item.form-group
              label.form__label ФИО
              input.input.form-control(type="text", required)
            .form__item.form-group
              label.form__label E-mail
              input.input.form-control(type="email", required)
        .row
          .col-lg-12
            .form__item.form-group
              label.form__label Тема обращения
              +select({
                placeholder: 'Тема обращения'
              })
                option Справочник молодого соотечественника
                option Календарь мероприятий
                option Наши соотечественники
                option Группы и объединения
                option Новости и мультимедиа
            .form__item.form-group
              label.form__label Текст обращения
              textarea.input.input--textarea(required)
            .form__item.form-group.mb-0
              .custom-file.custom-file--lg
                input#customFile.custom-file-input(type='file')
                label.custom-file-label(for='customFile') Прикрепить файлы
            .d-flex.justify-content-end.mt-40
              button.btn.btn-primary.btn-lg.modal__form-btn(type="submit") Отправить
  
    else if data && data.modifier == 'gallery'
      .modal__gallery
        - for (var i = 0; i < 5; ++i) {
          .modal__gallery-item
            .modal__gallery-photo
              .modal__gallery-photo-title Название фотографии если таковое есть
              .modal__gallery-img(style="background-image: url(./img/modal-gallery.jpg)")
            .modal__gallery-content
              .modal__gallery-header
                .modal__gallery-header-left
                  .modal__gallery-header-icon(style="background-image: url(./img/modal-gallery.jpg)")
                  .modal__gallery-header-content Международный молодежный форум «Евразия Global»....
                a.modal__gallery-close.js-fancybox-close(href="#")
              .modal__gallery-subheader
                a.modal__gallery-header-likes(href="#") 15
                a.modal__gallery-header-share(href="#")
              .modal__gallery-comments-wrapper
                .modal__gallery-comments-top
                  .modal__gallery-comment
                    .modal__gallery-comment-photo(style="background-image: url(./img/modal-gallery-comment-1.png)")
                    .modal__gallery-comment-content
                      p.p--sm.text-primary-new.font-weight-bold.mb-5 Александр Валентинов
                      p.modal__gallery-comment-text Давно выяснено, что при оценке поисковый заопрос читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартн
                      .modal__gallery-comment-date 7.04.20
                  .modal__gallery-comment
                    .modal__gallery-comment-photo(style="background-image: url(./img/modal-gallery-comment-2.png)")
                    .modal__gallery-comment-content
                      p.p--sm.text-primary-new.font-weight-bold.mb-5 Ирина Селевестрова-Мани...
                      p.modal__gallery-comment-text Давно выяснено, что при оценке поисковый заопрос читаемый текст мешает сосредоточиться. Lorem Ipsum 
                      .modal__gallery-comment-date 7.04.20
                form.modal__gallery-comment-add(action="#", method="POST")
                  input.modal__gallery-comment-input(type="text", placeholder="Написать комментарий")
                  button.modal__gallery-send(type="submit")
        - }
  
    else if data && data.modifier == 'userpic'
      .modal__userpic
        .modal__userpic-main
          .modal__userpic-main-item
            img(src="./img/modal-userpic-1.jpg", alt)
          .modal__userpic-main-item
            img(src="./img/modal-userpic-2.jpg", alt)
          .modal__userpic-main-item
            img(src="./img/modal-userpic-3.jpg", alt)
          .modal__userpic-main-item
            img(src="./img/modal-userpic-1.jpg", alt)
          .modal__userpic-main-item
            img(src="./img/modal-userpic-2.jpg", alt)
          .modal__userpic-main-item
            img(src="./img/modal-userpic-3.jpg", alt)
        .modal__userpic-controls
          a.modal__userpic-controls-item(href="#")
            img(src="./img/modal-userpic-1.jpg", alt)
          a.modal__userpic-controls-item(href="#")
            img(src="./img/modal-userpic-2.jpg", alt)
          a.modal__userpic-controls-item(href="#")
            img(src="./img/modal-userpic-3.jpg", alt)
          a.modal__userpic-controls-item(href="#")
            img(src="./img/modal-userpic-1.jpg", alt)
          a.modal__userpic-controls-item(href="#")
            img(src="./img/modal-userpic-2.jpg", alt)
          a.modal__userpic-controls-item(href="#")
            img(src="./img/modal-userpic-3.jpg", alt)
              
    else
      .card
        .card__header
          .card__header-left
            p.font-weight-bold.text-primary.mb-15 Заголовок темы в одну строку
            .card__info
              .card__info-item 15 августа 2017
              .card__info-item.card__info-item--views 45
              .card__info-item.card__info-item--comments 65
          a.btn.btn-outline-secondary.btn-outline-secondary--shadow.modal__close.js-fancybox-close(href="#") Закрыть
        .card__content
          img.img-fluid.mb-30(src="./img/card-1.jpg", alt)
          p Читаемый текст мешает сосредоточиться. используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показыв
          img.img-fluid.mb-30(src="./img/card-2.jpg", alt)
          p Читаемый текст мешает сосредоточиться. используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показыв
        +comments-list
        .modal__footer
          a.modal__footer-btn(href="#") < Предыдущая тема
          a.modal__footer-btn(href="#") Следующая тема >
