h1,
.h1 {
  font-size: 41px;
  line-height: 1;
  font-weight: 700;

  @include media-breakpoint-down(lg) {
    font-size: 34px;
  }

  @include media-breakpoint-down(md) {
    font-size: 26px;
  }
}

h2,
.h2 {
  font-size: 25px;
  line-height: 1;
  font-weight: 700;
  color: $primary;

  @include media-breakpoint-down(md) {
    font-size: 20px;
  }

  &.h2--lg {
    font-size: 30px;

    @include media-breakpoint-down(md) {
      font-size: 22px;
    }

    &.text-dark {
      color: #2f2f2f;
    }
  }
}

h3,
.h3 {
  font-size: 20px;
  line-height: 1.25;

  @include media-breakpoint-down(md) {
    font-size: 18px;
  }
}

h4,
.h4 {
  font-size: 18px;
  line-height: 1.39;
  font-weight: 700;
  color: $dark;

  @include media-breakpoint-down(md) {
    font-size: 16px;
  }
}

h5,
.h5 {
}

h6,
.h6 {
}

p,
.p {
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 1.67;

  &.p--sm {
    font-size: 13px;
    line-height: 1.67;
  }

  &.p--xs {
    font-size: 12px;
    line-height: 1.3;
  }

  a {

    @include transition;

    &:hover {
      opacity: .8;
    }
  }
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-black {
  font-weight: 900;
}

.bg-gray {
  background: $gray;

  &--new {
    background: #eef1f6;
  }
}

.text-gray {
  color: #828282;
}

.text-dark-new {
  color: $dark-new;
}

.text-black {
  color: $black;
}

.text-primary-new {
  color: $primary-new;
}

hr {
  height: 8px;
  background: #f1f1f2;
  border: 0;

  &.hr--new {
    background: rgba(#b6c3d9, .2);
  }
}

.border-radius {
  border-radius: 5px;
}

.text-underline {
  text-decoration: underline;
}

ul {

  li {
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
