@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/subset-GothamPro-Black.woff2') format('woff2'),
    url('../fonts/subset-GothamPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/subset-GothamPro-Light.woff2') format('woff2'),
    url('../fonts/subset-GothamPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/subset-GothamPro-Bold.woff2') format('woff2'),
    url('../fonts/subset-GothamPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/subset-GothamPro.woff2') format('woff2'),
    url('../fonts/subset-GothamPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
