.application {
  margin-bottom: 16px;
  padding-right: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 4px;

  @include media-breakpoint-down(lg) {
    padding: 16px;
  }

  @include media-breakpoint-down(sm) {
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
  }

  &__left {
    margin-right: 20px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 20px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__picture {
    position: relative;
    margin-right: 20px;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 4px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }
  }

  &__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
    object-position: top center;
  }

  &__content {
    padding: 16px 10px 10px;

    @include media-breakpoint-down(lg) {
      padding: 0;
    }
  }

  &__header {
    margin-bottom: 4px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  &__type {

    &--event {
      color: $green;
    }

    &--news {
      color: #81a6d3;
    }
  }

  &__right {
  }

  &__btn {
    padding: 8.5px 16.3px;
    flex-shrink: 0;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 700;
    white-space: nowrap;
    color: $dark-new;
    border-radius: 5px;

    &--moderating {
      background: #b6c3d9;
    }

    &--published {
      background: #6fb5bf;
    }

    &--rejected {
      background: #d381a8;
    }
  }
}
