mixin application(data)
  .application&attributes(attributes)
    .application__left
      a.application__picture(href="#")
        img.application__picture-img(src="./img/" + data.photo, alt)
      .application__content
        .application__header
          .p.sm.text-dark-new.mr-30.mb-0 14.06.2021 в 21:00
          if data && data.type == 'event'
            .p.sm.font-weight-bold.application__type.application__type--event.mb-0 Мероприятие
          else if data && data.type == 'news'
            .p.sm.font-weight-bold.application__type.application__type--news.mb-0 Новость
        a.h3.font-weight-bold.text-dark-new.mb-0(href="#")= data.title
    .application__right
      if data && data.status == 'moderating'
        a.application__btn.application__btn--moderating(href="#") На рассмотрении
      if data && data.status == 'published'
        a.application__btn.application__btn--published(href="#") Опубликовано
      if data && data.status == 'rejected'
        a.application__btn.application__btn--rejected(href="#") Отклонено
