mixin slider(data)
  .slider&attributes(attributes)
    .slider__item
      img(src="./img/article-1.jpg", alt)
    .slider__item
      img(src="./img/article-2.jpg", alt)
    .slider__item
      img(src="./img/article-1.jpg", alt)
