.slider {

  .slick-track {
    display: flex;
  }

  &__item {
    display: flex !important;
    height: auto;
    justify-content: center;
    align-items: center;

    img {
      margin-bottom: 0;
      max-width: 100%;
    }
  }

  .slick-arrow {

    &.slick-prev {
    }

    &.slick-next {
    }
  }

  .slick-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    font-size: 0;
    background: #fff url(../img/link-back.png) no-repeat center;
    border: 1px solid $primary;
    border-radius: 50%;

    &.slick-prev {
      left: -30px;
    }

    &.slick-next {
      right: -30px;
      transform: rotate(180deg);
    }
  }

  .slick-dots {
    margin: 20px 0;
    padding-left: 0;
    display: flex;
    justify-content: center;

    li {
      margin-right: 20px;
      list-style: none;

      &:last-child {
        margin-right: 0;
      }

      &.slick-active {

        button {
          background: $primary;
        }
      }

      button {
        width: 10px;
        height: 10px;
        font-size: 0;
        background: #fff;
        border: 1px solid $primary;
        border-radius: 50%;
      }
    }
  }
}
