.group {

  &__content {
    background: #fff;

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }
  }

  &__header-wrapper {
    padding: 25px 20px 30px;
  }

  &__header {
    margin-top: 30px;
    padding-left: 20px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      padding-left: 0;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__header-picture {
    margin-right: 65px;
    max-width: 100px;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 20px;
      max-width: 100%;
    }
  }

  &__header-content {
  }

  &__tabs {

    @include media-breakpoint-down(lg) {
      margin-left: 0;
      width: 100%;
    }
  }

  &__nav-tabs {
    padding-right: 20px;
    padding-left: 20px;

    @include media-breakpoint-down(sm) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__articles-list {
    padding: 20px 20px 30px;
    border-top: 20px solid $gray;
  }

  &__search-wrapper {
    margin-bottom: 40px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__search {
    margin-right: 25px;
    flex-grow: 1;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__aside-section {
    margin-top: 15px;
    margin-bottom: 30px;
    padding-top: 15px;
    border-top: 4px solid $primary;
  }

  &__filters {
    margin-top: 25px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }
  }

  &__filters-remove {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #371f1b;

    @include transition;

    &:hover {
      opacity: .75;
    }

    &:before {
      margin-right: 8px;
      display: block;
      width: 14px;
      height: 14px;
      content: '';
      background: url(../img/remove.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__section {
    padding: 20px 30px;
    border-top: 20px solid #f1f1f2;

    @include media-breakpoint-down(xs) {
      padding: 20px;
    }
  }

  &__section-header {
    margin-bottom: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__albums-wrapper {
    position: relative;

    &:after {
      position: absolute;
      top: 0;
      right: -30px;
      display: block;
      width: 67px;
      height: 100%;
      content: '';
      background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    }
  }

  &__albums {
    position: relative;
    margin-left: -15px;
    display: flex;
    width: calc(100% + 45px);
  }

  &__albums-item {
    margin: 0 15px;
    flex-shrink: 0;
  }
}
