mixin message(data)
  .message&attributes(attributes)
    if data && data.picture
      .message__picture
        img.message__picture-img(src="./img/" + data.picture, alt)
    .message__wrapper
      .message__content
        .message__text= data.content
      .message__info= data.info
