/* Bootstrap */

/* Btn */

.btn {
  padding: 12px 39px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;

  &.btn-link {
    font-size: 13px;
    font-weight: 400;
    color: $dark;

    @include transition;

    &:hover {
      opacity: .75;
    }
  }

  &.btn-secondary {
    box-shadow: 0 8px 24px rgba(1, 2, 2, .13);
  }

  &.btn-secondary--new {
    padding: 16.5px 24.4px;
    color: $dark-new;
    box-shadow: none;
  }

  &.btn-outline-secondary {
    color: $dark;

    &--shadow {
      box-shadow: 0 8px 24px rgba(1, 2, 2, .13);
    }
  }

  &.btn-blue {
    background-color: #4ab9ff;
    box-shadow: 0 8px 24px rgba(1, 2, 2, .13);

    @include transition;

    &:hover {
      background: darken(#4ab9ff, 10%);
    }
  }

  &.btn-outline-blue {
    font-weight: 700;
    color: $cyan;
    border: 1px solid $cyan;
    border-radius: 5px;
  }

  &.btn-sm {
    padding: 6.5px 11.7px;
  }

  &.btn-md {
    padding: 8px 20px;
    box-shadow: none;
  }

  &.btn-gray {
    background: #ebebeb;

    @include transition;

    &:hover {
      opacity: .75;
    }
  }

  &.btn-outline-primary {

    @include transition;

    &:hover {
      color: #fff;
    }
  }

  &.btn-green {
    color: #fff;
    background: $green;
    border-radius: 4px;

    @include transition;

    &:hover {
      background: darken($green, 10%);
    }

    &.btn-sm {
      padding: 4.5px 9.7px;
      font-size: 13px;
    }
  }

  &.btn-primary--new {
    color: #fff;
    background: $primary-new;
    border-color: $primary-new;
    box-shadow: none;
  }

  &.no-shadow {
    box-shadow: none;
  }
}

.custom-radio {
  padding-left: 0;
  min-height: 0;

  .custom-control-input {
    position: absolute;

    &:checked {

      & ~ .custom-control-label {

        &:before {
          background: transparent;
          border-color: #b6c3d9;
          box-shadow: none;
        }

        &:after {
          top: 4px;
          left: 4px;
          background: $primary;
          border-radius: 50%;
        }
      }
    }
  }

  .custom-control-label {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 20px;
    color: #000;
    cursor: pointer;

    &:before {
      position: static;
      margin-right: 15px;
      width: 20px;
      height: 20px;
      border: 1px solid #b6c3d9;
    }

    &:after {
      width: 12px;
      height: 12px;
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &--switch {

    .custom-control-input {
      position: absolute;

      &:checked {

        & ~ .custom-control-label {
          background: $secondary;
        }
      }
    }

    .custom-control-label {
      padding: 10px 42px;
      font-size: 13px;
      line-height: 1.5;
      font-weight: 700;
      color: $dark-new;
      border-radius: 3px;

      &:before,
      &:after {
        display: none;
      }
    }
  }
}

.custom-checkbox {
  padding-left: 0;
  min-height: 0;

  .custom-control-input {
    position: absolute;

    &:checked {

      & ~ .custom-control-label {

        &:before {
          background: transparent;
          border-color: #b6c3d9;
          box-shadow: none;
        }

        &:after {
          top: 50%;
          left: 3px;
          margin-top: -3px;
          background: url(../img/checkbox.png) no-repeat center;
          background-size: contain;
          transform: translateY(-50%);
        }
      }
    }
  }

  .custom-control-label {
    padding-left: 38px;
    font-size: 13px;
    line-height: 20px;
    color: #000;
    cursor: pointer;

    // Отключаем выделение текста на быстрых кликах.
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */

    &:before {
      top: 50%;
      left: 0;
      margin-right: 15px;
      width: 23px;
      height: 23px;
      flex-shrink: 0;
      border: 1px solid #354a94;
      border-radius: 5px;
      transform: translateY(-50%);
    }

    &:after {
      width: 23px;
      height: 18px;
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &--new {

    .custom-control-label {
      padding-left: 32px;

      &:before {
        width: 16px;
        height: 16px;
        border-radius: 4px;
      }

      &:after {
        width: 16px;
        height: 13px;
      }
    }
  }
}

/* Tabs */

.nav-tabs {
  position: relative;
  margin-bottom: 50px;
  border-bottom: 4px solid $primary;

  @include media-breakpoint-down(lg) {
    overflow: auto;
    flex-wrap: nowrap;
  }

  &__wrapper {

    @include media-breakpoint-down(lg) {
      position: relative;
      margin-left: -15px;
      overflow: hidden;
      width: calc(100% + 30px);
    }

    &:before {

      @include media-breakpoint-down(lg) {
        position: absolute;
        z-index: 1;
        bottom: 4px;
        left: 0;
        display: block;
        width: 20px;
        height: 100%;
        content: '';
        background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff 80%);
      }
    }

    &:after {

      @include media-breakpoint-down(lg) {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 4px;
        display: block;
        width: 60px;
        height: 100%;
        content: '';
        background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 60%);
      }
    }
  }

  .nav-item {

    @include media-breakpoint-down(lg) {
      margin-bottom: 0;
      flex-shrink: 0;
    }

    &:last-child {

      @include media-breakpoint-down(lg) {
        padding-right: 50px;
      }
    }

    .nav-link {
      position: relative;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 16px;
      font-size: 15px;
      color: $primary;

      &:hover {
        opacity: .75;
        border-color: transparent;
      }

      &:focus {
        border-color: transparent;
      }

      &:active {
        border-color: transparent;
      }

      @include media-breakpoint-down(lg) {
        border-bottom: 3px solid transparent;
      }

      @include media-breakpoint-down(sm) {
        padding-right: 10px;
        padding-left: 10px;
      }

      &.active {
        padding-top: 10px;
        font-weight: 700;
        background: transparent;
        border: 0;

        @include transition;

        @include media-breakpoint-down(lg) {
          border-bottom: 3px solid $secondary;
        }

        &:hover {
          opacity: 1;
        }

        &:after {
          position: absolute;
          z-index: 2;
          bottom: -5px;
          left: 0;
          display: block;
          width: 100%;
          height: 8px;
          content: '';
          background: $secondary;

          @include media-breakpoint-down(lg) {
            display: none;
          }
        }
      }
    }
  }

  &--long {
    position: relative;

    &:after {
      position: absolute;
      bottom: -4px;
      left: -50vw;
      display: block;
      width: 200vw;
      height: 4px;
      content: '';
      background: $primary;

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }

  &--white {
    border-bottom: 1px solid rgba(#354a94, .12);

    .nav-item {

      .nav-link {
        padding: 6.5px 21.5px;
        display: flex;
        align-items: center;
        font-size: 13px;
        font-weight: 700;
        color: $black;
        border-bottom: 0;

        span {
          margin-left: 5px;
          font-weight: 700;
          color: #354a94;
        }

        &.active {
          padding: 6.5px 21.5px;
          font-weight: 400;
          border-bottom: 1px solid #354a94;

          &:after {
            display: none;
          }
        }
      }
    }
  }
}

/* Custom File */

.custom-file {
  position: relative;
  width: auto;
  height: auto;

  .custom-file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .custom-file-label {
    position: static;
    margin-bottom: 0;
    padding: 7.5px 13.3px;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    line-height: 1;
    text-align: center;
    color: $dark;
    background: $secondary;
    border: 0;
    box-shadow: 0 8px 24px rgba(1, 2, 2, .13);

    &:after {
      display: none;
    }

    &--no-shadow {
      box-shadow: none;
    }
  }

  &--lg {

    .custom-file-label {
      padding: 15px 26px;
      font-size: 16px;
      box-shadow: none;
    }
  }

  &--picture {
    margin-bottom: 32px;
    display: inline-flex;

    .custom-file-label {
      display: flex;
      min-width: 218px;
      min-height: 304px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: transparent;
      border: 1px dashed #4ab9ff;
      border-radius: 5px;
      box-shadow: none;

      &:before {
        margin-bottom: 20px;
        display: block;
        width: 56px;
        height: 56px;
        opacity: .5;
        content: '';
        background: url(../img/icon-picture.svg) no-repeat center;
        background-size: contain;
      }
    }

    .custom-file__size {
      margin-bottom: 3px;
      font-size: 13px;
      line-height: 1.5;
      font-weight: 400;
      color: $dark-new;
    }

    .custom-file__info {
      font-size: 11px;
      line-height: 1.2;
      font-weight: 400;
      color: $dark-new;
    }
  }

  &--picture-wide {
    width: 100%;

    .custom-file-label {
      width: 100%;
    }
  }

  &--picture-responsive {
    width: 100%;

    .custom-file-label {
      width: 100%;
      min-width: 0;
      min-height: 0;

      &:before {
        margin-bottom: 10px;
        width: 28px;
        height: 28px;
        opacity: .5;
      }
    }

    .custom-file__size {
      font-size: 13px;
      line-height: 1.5;
      color: rgba(#000, .5);
    }
  }
}

/* Select2 */

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 18px;
  display: flex;
  height: 48px;
  align-items: center;
  font-size: 13px;
}

.select2-container .select2-selection--single {
  height: 48px;
  border: 1px solid #b6c3d9;
  outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  right: 10px;
  width: 27px;
  height: calc(100% - 2px);
  background: #fff url(../img/select-arrow.png) no-repeat left 5px center;
  background-size: 12px 6px;
  border-radius: 5px;

  b {
    display: none;
  }
}

.select2-dropdown {
  border-color: #b6c3d9;

  &--birth {

    .select2-results__option {
      padding-left: 8px;
    }
  }
}

.select2-results__option {
  padding-left: 18px;
  font-size: 13px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  font-size: 13px;
  color: #969595;
}

/* Fancybox */

.fancybox-bg {
  background: rgba(#000, .58);
}

.fancybox-close-small {
  display: none;

  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.fancybox-slide {

  @include media-breakpoint-down(sm) {
    padding: 0;
  }

  &:before {

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

/* Datepicker */

div.ui-datepicker {
  z-index: 99999 !important;
  margin-top: 10px;
  padding: 0;
  width: 345px;
  font-family: $font-family-sans-serif;
  background: #fff;
  border: 0 !important;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);

  @include media-breakpoint-down(sm) {
    left: 50% !important;
    margin-left: -172.5px !important;
  }

  .ui-datepicker-header {
    padding: 0;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 0;
  }

  .ui-datepicker-title {
    font-size: 13px;
    line-height: 1.54;
    font-weight: 700;
    text-transform: uppercase;
    color: #252627;
  }

  .ui-datepicker-prev {
    top: 50%;
    left: 30px;
    margin-top: -5px;
    width: 7px;
    height: 11px;
    background: url(../img/arrow-left.png) no-repeat;
    background-size: contain;
    cursor: pointer;

    &:hover {
      border: 0;
    }
  }

  .ui-datepicker-next {
    top: 50%;
    right: 30px;
    margin-top: -5px;
    width: 7px;
    height: 11px;
    background: url(../img/arrow-right.png) no-repeat;
    background-size: contain;
    cursor: pointer;

    &:hover {
      border: 0;
    }
  }

  .ui-datepicker-calendar {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%;

    tr {
    }

    th {
      padding-top: 10px;
      padding-bottom: 20px;
      height: 60px;
      font-size: 10px;
      line-height: .88;
      font-weight: 900;
      letter-spacing: .9px;
      text-transform: uppercase;
      color: #5c626b;
      border-bottom: 1px solid fade($primary, 20%);

      &.ui-datepicker-week-end {
        color: #ff2d2d;
      }
    }

    td {
      width: 35px !important;
      height: 40px;
    }
  }

  .ui-state-default {
    margin: 0 auto;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
    color: #252627;
    background: transparent;
    border: 0;
    border-radius: 50%;
  }

  .ui-state-active {
    background: $secondary;
  }

  .ui-datepicker-today {

    .ui-state-default {
      background: #eaeaea;
    }
  }

  .selected {
    position: relative;

    .ui-state-default {
      color: #fff;
      background: $primary;
    }
  }

  .ui-icon {
    background: transparent !important;
  }

  .ui-datepicker-week-end {

    .ui-state-default {
      color: #ff2d2d;
    }

    &.selected {

      .ui-state-default {
        color: #fff;
      }
    }
  }

  .ui-datepicker-buttonpane {

    button {
      padding: 0 10px !important;
      width: auto !important;
    }
  }

  .ui-datepicker-month {
    width: 100px;
    height: 30px;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    border-color: #eaeaea;
    border-radius: 4px;
  }

  .ui-datepicker-year {
    margin-left: 5px;
    display: inline-flex;
    width: 100px;
    height: 30px;
    align-items: center;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    line-height: 30px;
    border-color: #eaeaea;
    border-radius: 4px;
  }

  .ui-datepicker-button {
    margin: 15px auto 10px;
    display: block;
    width: 130px;
    height: 40px;
    background: #fff;
    border: 1px solid #565656;
    border-radius: 5px;
    cursor: pointer;

    @include transition;

    &:hover {
      color: #fff;
      background: $black;
    }
  }
}

/* Easy Autocomplete */

.easy-autocomplete {

  input {
    padding-left: 17px;
    border-color: #b6c3d9;
    border-radius: 5px;
    box-shadow: none;
  }

  &.active {

    .easy-autocomplete-container {
      box-shadow: 1px 4px 17px 1px rgba(27, 96, 140, .18);
    }

    input {
      position: relative;
      z-index: 5;
      border-color: #b6c3d9;
      border-bottom: 0;
      border-radius: 5px 5px 0 0;

      & ~ .easy-autocomplete-container {
        border: 1px solid #b6c3d9;
        border-radius: 0 0 5px 5px;

        &:before {
          position: absolute;
          z-index: 1;
          top: 0;
          left: 17px;
          display: block;
          width: calc(100% - 34px);
          height: 1px;
          content: '';
          background: #b6c3d9;
        }
      }
    }
  }
}

.easy-autocomplete-container {

  ul {
    margin-bottom: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    overflow: hidden;
    border: 0;
    border-radius: 0 0 5px 5px;

    li {
      padding-left: 18px;
      font-size: 13px;
      line-height: 25px;
      color: #969595;
      border: 0;

      @include transition;

      &:hover {
        opacity: .75;
      }

      &.selected {
        background: transparent;
      }
    }
  }
}

/* Mobile scrollbar styles */

::-webkit-scrollbar {

  @include media-breakpoint-down(lg) {
    width: 3px !important;
    height: 3px !important;
    -webkit-appearance: none !important;
  }
}

::-webkit-scrollbar:horizontal {

  @include media-breakpoint-down(lg) {
    height: 3px !important;
  }
}

::-webkit-scrollbar-thumb {

  @include media-breakpoint-down(lg) {
    background-color: rgba($primary, .3) !important;
  }
}

::-webkit-scrollbar-track {

  @include media-breakpoint-down(lg) {
    background-color: #ffffff !important;
  }
}

/* Toastify */

.toastify {
  padding-right: 30px;
}

.toastify .toast-close {
  position: absolute;
  top: 0;
  right: 0;
  float: none;
}

/* Костыли */

.welcome-message {

  @include media-breakpoint-down(lg) {
    margin: 0 auto;
    width: 100%;
    max-width: 367px;
  }

  @include media-breakpoint-down(xs) {
    max-width: 90%;
  }

  .row {

    @include media-breakpoint-down(xs) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  .popup-container {

    .col-12 .row .col-12 {

      @include media-breakpoint-down(xs) {
        margin-left: -15px;
        width: calc(100% + 30px);
        max-width: calc(100% + 30px);
        flex-basis: calc(100% + 30px);
      }
    }
  }
}

.comment-text {
  height: 150px !important;
  resize: none;
}

.btn-reply-comment {
  text-decoration: underline;
}

.comment-block {

  .comment__userpic {
    display: none;
  }
}

.btn-add-comment {

  @include media-breakpoint-down(xs) {
    float: none !important;
  }
}

/* Ellipsis */

.ellip {
  display: block;
  height: 100%;
}

.ellip-line {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: normal;
}

.ellip,
.ellip-line {
  position: relative;
  overflow: hidden;
}

/* Perfect Scrollbar */

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: none;
}
