mixin comments-list(data)
  .comments-list&attributes(attributes)
    .d-flex.align-items-center.mb-35
      p.mb-0.text-primary.mr-20 Комментарии (25)
      a.btn.btn-secondary.btn-sm(href="#") Добавить комментарий
    +comment
      +comment
    .text-center.mt-30
      a.btn.btn-secondary.btn-sm(href="#") Добавить комментарий
