.sidebar {
  padding-top: 5px;

  &__link {
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: $primary-new;

    @include transition;

    &:hover {
      opacity: .7;
    }

    &--active {
      position: relative;
      padding-left: 12px;
      color: $black;

      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 27px;
        height: 27px;
        opacity: .2;
        content: '';
        background: linear-gradient(90deg, #354a94 0%, rgba(53, 74, 148, 0) 51.85%);
        transform: translateY(-50%);
      }
    }
  }

  &__link-number {
    margin-left: 15px;
    padding: 1px 6.16px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background: #6fb5bf;
    border-radius: 4px;
  }
}
