
include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/search/search.pug
include ../blocks/front/front.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/select/select.pug
include ../blocks/footer/footer.pug
include ../blocks/menu/menu.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/item/item.pug
include ../blocks/card/card.pug
include ../blocks/article/article.pug
include ../blocks/media/media.pug
include ../blocks/profile/profile.pug
include ../blocks/catalog/catalog.pug
include ../blocks/user/user.pug
include ../blocks/uni/uni.pug
include ../blocks/cabinet/cabinet.pug
include ../blocks/group/group.pug
include ../blocks/job/job.pug
include ../blocks/cover/cover.pug
include ../blocks/dashboard/dashboard.pug
include ../blocks/event/event.pug
include ../blocks/map/map.pug
include ../blocks/material/material.pug
include ../blocks/world/world.pug
include ../blocks/document/document.pug
include ../blocks/group-item/group-item.pug
include ../blocks/modal/modal.pug
include ../blocks/comment/comment.pug
include ../blocks/comments-list/comments-list.pug
include ../blocks/bar/bar.pug
include ../blocks/section/section.pug
include ../blocks/link-back/link-back.pug
include ../blocks/months/months.pug
include ../blocks/member/member.pug
include ../blocks/tag/tag.pug
include ../blocks/registration/registration.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/item-grid/item-grid.pug
include ../blocks/search-item/search-item.pug
include ../blocks/friends/friends.pug
include ../blocks/sidebar/sidebar.pug
include ../blocks/course/course.pug
include ../blocks/part/part.pug
include ../blocks/slider/slider.pug
include ../blocks/countries/countries.pug
include ../blocks/tooltip/tooltip.pug
include ../blocks/picture/picture.pug
include ../blocks/share/share.pug
include ../blocks/question/question.pug
include ../blocks/application/application.pug
include ../blocks/notification/notification.pug
include ../blocks/album/album.pug
include ../blocks/chat/chat.pug
include ../blocks/message/message.pug
include ../blocks/person/person.pug
include ../blocks/album-page/album-page.pug