doctype html
html(lang='ru')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    block content
    +chat#chat
    script(src="js/vendor.js")
    script(src="js/scripts.js")
