.breadcrumbs {
  padding: 15px 0;

  &__link {
    font-size: 11px;
    font-weight: 700;
    color: $primary;

    @include transition;

    &:hover {
      opacity: .75;
    }

    &:before {
      margin: 0 5px;
      font-weight: 400;
      content: '>';
    }

    &:first-child {

      &:before {
        display: none;
      }
    }

    &:last-child {
      font-weight: 400;
      pointer-events: none;
      color: $dark;

      &:hover {
        opacity: 1;
      }
    }
  }
}
