mixin group-item(data)
  a.group-item(href="#")&attributes(attributes)
    .group-item__picture-wrapper
      img.group-item__picture(src="./img/" + data.picture, alt)
    .group-item__content
      if data && data.title
        h3.group-item__header= data.title
      else
        p.text-primary.group-item__name Название группы если не хвата...
      if data && data.modifier == 'big'
        p.group-item__dscr.mb-0 Название группы в две три сторки для раскрытия темы. при открытии группы будет доступно более подробное описание
      .group-item__footer
        .group-item__footer-left
          if data && data.city
            .group-item__city
              p.p--sm.text-gray.mb-0= data.city
          .group-item__participants
            p.p--sm.font-weight-bold.mb-0 2 500 участников
        if data && data.closed
          .group-item__footer-right
            .group-item__closed
              p.p--sm.text-gray.mb-0 Закрытая группа
