.group-item {
  margin-bottom: 20px;
  padding: 16px 16px 16px 10px;
  display: flex;
  border-radius: 5px;

  @include transition;

  &:hover {
    opacity: .8;
  }

  &__picture-wrapper {
    margin-right: 16px;
    display: flex;
    overflow: hidden;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
  }

  &__picture {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }

  &__name {
    margin-bottom: 6px;
    display: block;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 700;
  }

  &__content {
  }

  &__header {
    font-weight: 700;
    color: $dark;
  }

  &__dscr {
    font-size: 13px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 11px;
    }
  }

  &__footer-left {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  &__footer-right {
    display: flex;
    align-items: baseline;
  }

  &__city {
    margin-bottom: 2px;
    display: flex;
    align-items: center;

    &:before {
      margin-right: 8px;
      display: block;
      width: 12px;
      height: 12px;
      flex-shrink: 0;
      content: '';
      background: url(../img/group-marker.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__participants {
    display: flex;
    align-items: center;

    &:before {
      margin-right: 8px;
      display: block;
      width: 12px;
      height: 12px;
      flex-shrink: 0;
      content: '';
      background: url(../img/group-people.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__closed {
    display: flex;
    align-items: center;

    &:before {
      margin-right: 8px;
      display: block;
      width: 12px;
      height: 12px;
      flex-shrink: 0;
      content: '';
      background: url(../img/group-closed.svg) no-repeat center;
      background-size: contain;
    }
  }

  &--big {
    margin-bottom: 16px;
    padding: 15px;
    overflow: hidden;
    align-items: flex-start;
    background: #fff;

    @include media-breakpoint-down(sm) {
      padding: 15px;
      flex-direction: column;
    }

    .group-item__picture-wrapper {
      position: relative;
      margin-right: 24px;
      overflow: hidden;
      width: 112px;
      height: 112px;
      border-radius: 5px;

      @include media-breakpoint-down(sm) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    .group-item__picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }

    .group-item__header {
      margin-bottom: 6px;
      color: $primary;
    }

    .group-item__content {

      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }

    .group-item__footer {
      margin-top: 24px;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
        align-items: flex-start;
      }

      p {
        font-size: 11px;
      }
    }

    .group-item__footer-left {
      flex-direction: row;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .group-item__city {
      margin-right: 38px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 5px;
      }
    }

    .group-item__closed {

      @include media-breakpoint-down(sm) {
        margin-top: 5px;
      }
    }
  }
}
