.input {
  padding-top: 9px;
  padding-left: 17px;
  height: 48px;
  font-size: 13px;
  color: #000;
  border: 1px solid #b6c3d9;
  border-radius: 5px;

  @include placeholder(#969595);

  &:-webkit-autofill {
    animation: autofill 0s forwards;

    @keyframes autofill {

      100% {
        font-size: 13px;
        color: #000;
        background: #fff;
      }
    }
  }

  &:-webkit-autofill:first-line {
    font-family: $font-family-sans-serif;
    font-size: 13px;
    color: #000;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &--calendar {
    padding-left: 52px;
    background: url(../img/calendar-icon.png) no-repeat left 16px center;

    @include media-breakpoint-down(sm) {
      padding-left: 30px;
      background-position: 7px center;
      background-size: 16px 16px;
    }
  }

  &--calendar-new {
    padding-right: 52px;
    padding-left: 17px;
    background: url(../img/calendar-icon-new.svg) no-repeat right 16px center;

    @include media-breakpoint-down(sm) {
      padding-right: 30px;
      background-position: right 7px center;
      background-size: 16px 16px;
    }
  }

  &--textarea {
    padding: 17px;
    display: block;
    width: 100%;
    height: 150px;
    resize: none;
  }
}
