.picture {
  position: relative;
  margin-bottom: 30px;
  padding-top: 62.45%;
  display: block;
  overflow: hidden;

  @include transition;

  &:hover {
    opacity: .8;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }
}
