.profile {
  padding-bottom: 30px;

  &__header {
  }

  &__header-wrapper {
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__header-left {
    display: flex;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      flex-direction: column;
    }
  }

  &__header-right {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__userpic {
    position: relative;
    margin-right: 30px;
    width: 84px;
    height: 84px;
    flex-shrink: 0;
    background-origin: top center;
    background-size: cover;
    border-radius: 5px;

    @include media-breakpoint-down(lg) {
      margin-right: 20px;
      width: 60px;
      height: 60px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &--offline {

      &:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: 14px;
        height: 14px;
        content: '';
        background: #d2d2d2;
        border: 3px solid #fff;
        border-radius: 50%;
        transform: translate(-50%, 50%);
      }
    }

    &--online {

      &:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: 14px;
        height: 14px;
        content: '';
        background: #00a651;
        border: 3px solid #fff;
        border-radius: 50%;
        transform: translate(-50%, 50%);
      }
    }
  }

  &__header-info {
  }

  &__header-info-top {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }
  }

  &__header-id {
    margin-right: 30px;
    font-size: 13px;
    color: rgba($black, .5);
  }

  &__socials {
  }

  &__socials-item {
    margin-right: 16px;

    @include transition;

    &:hover {
      opacity: .7;
    }

    &:last-child {
      margin-right: 0;
    }

    img {
      max-width: 16px;
    }
  }

  &__header-info-bottom {
    display: flex;
    align-items: center;
  }

  &__header-age {
    margin-right: 15px;
    padding: 1px 6px;
    font-size: 13px;
    font-weight: 700;
    color: $black;
    background: rgba(182, 195, 217, .5);
    border-radius: 4px;
  }

  &__header-place {
    display: flex;
    align-items: center;
  }

  &__header-links {
    margin-right: 75px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      margin-right: 20px;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__header-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    text-decoration: underline;
    color: $dark;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }

    & + & {
      margin-left: 50px;

      @include media-breakpoint-down(lg) {
        margin-left: 20px;
      }

      @include media-breakpoint-down(sm) {
        margin-left: 0;
      }
    }
  }

  &__header-message {

    &:before {
      margin-right: 15px;
      display: block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      content: '';
      background: url(../img/messages-icon.png) no-repeat center;
      background-size: contain;
    }
  }

  &__header-activity {

    &:before {
      margin-right: 15px;
      display: block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      content: '';
      background: url(../img/articles-icon.png) no-repeat center;
      background-size: contain;
    }
  }

  &__content {
    margin-top: 25px;
    padding-top: 30px;
    border-top: 4px solid $primary;

    &--gray {
      padding-bottom: 30px;
      background: #f1f1f2;
    }
  }

  &__link {
    font-size: 15px;
    color: #4ab9ff;

    @include transition;

    &:hover {
      opacity: .75;
    }
  }
}
