.chat {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  max-width: 976px;
  opacity: 0;
  pointer-events: none;
  border-radius: 5px;

  @include media-breakpoint-down(md) {
    margin: 20px auto;
    max-width: calc(100% - 20px);
  }

  &.fancybox-content {
    position: relative;
    opacity: 1;
    pointer-events: all;
  }

  .fancybox-close-small {
    display: none;
  }

  &__header {
    padding: 12px 17px 12px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(#b6c3d9, .2);
    border-bottom: 1px solid rgba(#b6c3d9, .5);
    border-radius: 5px 5px 0 0;
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 700;
    color: $black;

    &:before {
      margin-right: 12px;
      display: block;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      content: '';
      background: url(../img/chat-header-icon.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__close {
    width: 14.31px;
    height: 14.31px;
    background: url(../img/chat-close.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &__wrapper {
    display: flex;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__aside {
    width: 273px;
    flex-shrink: 0;
    border-right: 1px solid rgba(#b6c3d9, .5);

    @include media-breakpoint-down(md) {
      width: 100%;
      border-right: 0;
      border-bottom: 1px solid rgba(#b6c3d9, .5);
    }
  }

  &__aside-header {
    position: relative;
    padding-right: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(#b6c3d9, .5);
  }

  &__tabs {
    border-bottom: 0;

    .nav-item {
      transition: none !important;

      .nav-link {
        margin-bottom: 0;
        padding: 9.5px 35px;
        font-size: 13px;
        line-height: 1.5;
        font-weight: 400;
        color: $black;
        transition: none !important;

        &.active {
          padding: 10.5px 37.5px;
          font-weight: 700;
          color: $dark-new;

          &:after {
            bottom: 0;
            height: 3px;
            background: $dark-new;
          }
        }
      }
    }
  }

  &__search {
    display: flex;
    align-items: center;

    &--active {

      .chat__search-input {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 10px;
        display: block;
        width: calc(100% - 42px);
        height: 100%;
        color: $dark-new;

        @include placeholder(rgba($dark-new, .5));
      }

      .chat__search-btn {
        background: $dark-new url(../img/chat-close-white.svg) no-repeat center;
        background-size: 45%;
      }
    }
  }

  &__search-input {
    display: none;
    font-size: 13px;
    color: $dark-new;
    border: 0;
  }

  &__search-btn {
    display: block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background: $dark-new url(../img/chat-search-btn.svg) no-repeat center;
    border-radius: 5px;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &__persons {
    position: relative;
    overflow: hidden;
    height: 608px;

    @media (max-height: 750px) {
      height: 490px;
    }

    @include media-breakpoint-down(md) {
      display: flex;
      height: auto;
    }
  }

  &__link {
  }

  &__main {
    flex-grow: 1;
  }

  &__main-wrapper {
    display: none;

    &--active {
      display: block;
    }
  }

  &__main-header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(#b6c3d9, .5);

    @include media-breakpoint-down(md) {
      padding: 10px;
    }
  }

  &__main-name {
    margin-right: 10px;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 700;
    color: $primary-new;
  }

  &__main-control {
    font-size: 11px;
    line-height: 1.2;
    color: $danger;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &__content {
  }

  &__content-messages {
    position: relative;
    padding: 16px;
    display: flex;
    overflow: hidden;
    height: 568px;
    flex-direction: column;
    background: rgba(#b6c3d9, .8);

    @media (max-height: 750px) {
      height: 450px;
    }

    @include media-breakpoint-down(md) {
      height: 300px;
    }
  }

  &__footer {
    padding: 8px 16px;
    display: flex;
    align-items: center;
  }

  &__footer-input {
    flex-grow: 1;
    font-size: 11px;
    line-height: 1.2;
    color: $dark-new;
    border: 0;

    @include placeholder(rgba($dark-new, .5));
  }

  &__footer-btn {
    margin-left: 4px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    @include transition;

    &:hover {
      background: rgba($primary-new, .1);
    }
  }

  .ps--active-x > .ps__rail-x,
  .ps--active-y > .ps__rail-y {
    display: block;
    opacity: 1;
  }

  .ps__thumb-y,
  .ps__rail-y:hover > .ps__thumb-y,
  .ps__rail-y:focus > .ps__thumb-y,
  .ps__rail-y.ps--clicking .ps__thumb-y {
    background: rgba($primary-new, .5);
  }
}
