mixin chat(data)
  .chat&attributes(attributes)
    .chat__header
      .chat__title Мои чаты
      a.chat__close(href="#")
    .chat__wrapper
      .chat__aside
        .chat__aside-header
          ul.nav.nav-tabs.chat__tabs.mb-0
            li.nav-item
              a.nav-link.active(data-toggle='tab', href='#people') Люди
            li.nav-item
              a.nav-link(data-toggle='tab', href='#groups') Группы
          form.chat__search(action="#", method="get")
            input.chat__search-input(type="text", placeholder="Введите")
            button.chat__search-btn(type="submit")
        .tab-content
          #people.tab-pane.fade.show.active(role='tabpanel')
            .chat__persons.scrollbar-y
              +person({
                logo: true,
                color: '#354A94',
                title: 'Молодые соотечественники',
                message: 'Обновления 1.3.1 теперь обновились'
              })
              +person({
                picture: 'person-1.jpg',
                title: 'Виктория Валентини',
                message: 'Текст сообщения длиной в одну строку'
              }).person--active
              +person({
                initials: 'Вс',
                color: '#65A18D',
                title: 'Виктория Валентини',
                message: 'Текст сообщения длиной в одну строку'
              })
              +person({
                picture: 'person-2.jpg',
                title: 'Александрв Валентинович',
                message: 'Текст сообщения длиной в одну строку'
              })
              +person({
                picture: 'person-3.jpg',
                title: 'Татьяна Лысова',
                message: 'Текст сообщения длиной в одну строку',
              })
              +person({
                initials: 'Ув',
                color: '#4AB9FF',
                title: 'Увар Константинов',
                message: 'Текст сообщения длиной в одну строку'
              })
              +person({
                picture: 'person-4.jpg',
                title: 'Виктория Валентини',
                message: 'Текст сообщения длиной в одну строку'
              })
              +person({
                picture: 'person-5.jpg',
                title: 'Александр Валентинович',
                message: 'Текст сообщения длиной в одну строку'
              })
              +person({
                logo: true,
                color: '#354A94',
                title: 'Молодые соотечественники',
                message: 'Обновления 1.3.1 теперь обновились'
              })
              +person({
                picture: 'person-1.jpg',
                title: 'Виктория Валентини',
                message: 'Текст сообщения длиной в одну строку',
                unread: '...'
              })
              +person({
                initials: 'Вс',
                color: '#65A18D',
                title: 'Виктория Валентини',
                message: 'Текст сообщения длиной в одну строку'
              })
              +person({
                picture: 'person-2.jpg',
                title: 'Александрв Валентинович',
                message: 'Текст сообщения длиной в одну строку'
              })
              +person({
                picture: 'person-3.jpg',
                title: 'Татьяна Лысова',
                message: 'Текст сообщения длиной в одну строку',
              })
              +person({
                initials: 'Ув',
                color: '#4AB9FF',
                title: 'Увар Константинов',
                message: 'Текст сообщения длиной в одну строку'
              })
              +person({
                picture: 'person-4.jpg',
                title: 'Виктория Валентини',
                message: 'Текст сообщения длиной в одну строку'
              })
              +person({
                picture: 'person-5.jpg',
                title: 'Александр Валентинович',
                message: 'Текст сообщения длиной в одну строку'
              })
          #groups.tab-pane.fade(role='tabpanel')
            .chat__persons.scrollbar-y
              +person({
                picture: 'person-6.jpg',
                title: 'Русский в Сан-Франциско',
                messagePicture: 'message-picture-1.jpg',
                message: 'Текст сообщения длиной в одну строку'
              }).js-chat-group
              +person({
                picture: 'person-7.jpg',
                title: 'New York сегодня',
                messagePicture: 'message-picture-1.jpg',
                message: 'Текст сообщения длиной в одну строку'
              }).js-chat-group
      .chat__main
        .chat__main-wrapper.chat__main-wrapper--active
          .chat__main-header
            .chat__main-name Виктория Валентинина
            a.chat__main-control(href="#") Заблокировать пользователя
          .chat__content
            .chat__content-messages.scrollbar-y
              +message({
                content: 'Теории UX Существует множество принципов и законов UX, которым должен следовать дизайнер. В этой статье мы выбрали несколько правил, которые, по нашему',
                info: 'Вы в 13:06'
              }).message--user
              +message({
                content: '☺ В должности менеджера по найму я проверил сотни портфолио и провел собеседования с сотням',
                info: 'Виктория в 13:06'
              }).message--opponent
              +message({
                content: 'Теории UX Существует множество принципов и законов UX, которым должен следовать дизайнер.♥',
                info: 'Вы в 13:06'
              }).message--user
              +message({
                content: '☺ В должности менеджера по найму я проверил сотни портфолио и провел собеседования с сотням',
                info: 'Виктория в 13:06'
              }).message--opponent
              +message({
                content: 'Теории UX Существует множество принципов и законов UX, которым должен следовать дизайнер. В этой статье мы выбрали несколько правил, которые, по нашему',
                info: 'Вы в 13:06'
              }).message--user
              +message({
                content: '☺ В должности менеджера по найму я проверил сотни портфолио и провел собеседования с сотням',
                info: 'Виктория в 13:06'
              }).message--opponent
              +message({
                content: 'Теории UX Существует множество принципов и законов UX, которым должен следовать дизайнер.♥',
                info: 'Вы в 13:06'
              }).message--user
              +message({
                content: '☺ В должности менеджера по найму я проверил сотни портфолио и провел собеседования с сотням',
                info: 'Виктория в 13:06'
              }).message--opponent
            form.chat__footer(action="#", method="post")
              input.chat__footer-input(type="text", placeholder="Написать сообщение...")
              a.chat__footer-btn(href="#")
                img(src="./img/chat-emoji.svg", alt)
              a.chat__footer-btn(href="#")
                img(src="./img/chat-send.svg", alt)
        .chat__main-wrapper
          .chat__main-header
            .chat__main-name New York сегодня
            a.chat__main-control(href="#") Выйти из группы
          .chat__content
            .chat__content-messages.scrollbar-y
              +message({
                picture: 'person-1.jpg',
                content: 'Теории UX Существует множество принципов и законов UX, которым должен следовать дизайнер. В этой статье мы выбрали несколько правил, которые, по нашему',
                info: 'Виктория Маликова 13:06'
              }).message--opponent
              +message({
                content: 'Теории UX Существует множество принципов и законов UX, которым должен следовать дизайнер. В этой статье мы выбрали несколько правил, которые, по нашему',
                info: 'Вы в 13:06'
              }).message--user
              +message({
                picture: 'person-2.jpg',
                content: '☺ В должности менеджера по найму я проверил сотни портфолио и провел собеседования с сотням',
                info: 'Виктория в 13:06'
              }).message--opponent
              +message({
                content: 'Теории UX Существует множество принципов и законов UX, которым должен следовать дизайнер. В этой статье мы выбрали несколько правил, которые, по нашему',
                info: 'Вы в 13:06'
              }).message--user
            form.chat__footer(action="#", method="post")
              input.chat__footer-input(type="text", placeholder="Написать сообщение...")
              a.chat__footer-btn(href="#")
                img(src="./img/chat-emoji.svg", alt)
              a.chat__footer-btn(href="#")
                img(src="./img/chat-send.svg", alt)
