.dashboard {
  position: relative;
  width: 100%;
  min-height: 184px;

  &__wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 30px;
    padding: 20px 20px 70px;
    width: 100%;
    min-height: 370px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 8px 24px rgba(1, 2, 2, .13);

    @include media-breakpoint-down(sm) {
      position: relative;
    }
  }

  &__header {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
    }
  }

  &__header-user {
    display: flex;
    align-items: center;
  }

  &__userpic {
    margin-top: -37px;
    margin-right: 15px;
    margin-left: -20px;
    width: 75px;
    height: 75px;
    flex-shrink: 0;
    background-position: top center;
    background-size: cover;
    border-radius: 5px;
  }

  &__check {
    margin-left: 20px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background: url(../img/dashboard-check.svg) no-repeat center;
    background-size: contain;
  }

  &__info {
    margin-bottom: 15px;
    color: $dark;
  }

  &__info-content {
    font-size: 11px;
  }

  &__content {
    margin-bottom: 20px;
  }

  &__content-link {
    display: flex;
    align-items: center;
    text-decoration: underline;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }

    &:before {
      margin-right: 15px;
      display: block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      content: '';

      @include media-breakpoint-down(md) {
        margin-right: 10px;
      }
    }

    & + & {
      margin-top: 5px;
    }

    &--messages {

      &:before {
        background: url(../img/messages-icon.png) no-repeat center;
        background-size: contain;
      }
    }

    &--articles {

      &:before {
        background: url(../img/articles-icon.png) no-repeat center;
        background-size: contain;
      }
    }

    span {
      margin-bottom: 1px;
      font-size: 13px;
      font-weight: 700;
      color: $blue;
      align-self: flex-end;

      @include media-breakpoint-down(md) {
        margin-top: 5px;
        display: block;
        width: 100%;
      }

      @include media-breakpoint-down(sm) {
        width: auto;
      }
    }
  }

  &__profile {
  }

  &__profile-fullness {
    margin-bottom: 10px;
    padding: 4px;
    background: #ddd;
    border-radius: 5px;
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2);
  }

  &__profile-fullness-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1ee890;
    border-radius: 5px;
  }

  &__profile-link {
    font-size: 13px;
    text-decoration: underline;
    color: $dark;
  }

  &__footer {
    position: absolute;
    right: 20px;
    bottom: 20px;
    left: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 13px;
    text-decoration: underline;
    color: $dark;

    &--settings {

      &:before {
        margin-right: 9px;
        display: block;
        width: 24px;
        height: 24px;
        content: '';
        background: url(../img/dashboard-settings.png) no-repeat center;
        background-size: contain;

        @include media-breakpoint-down(md) {
          margin-right: 10px;
          width: 16px;
          height: 16px;
        }
      }
    }

    &--logout {

      &:before {
        margin-right: 15px;
        display: block;
        width: 17px;
        height: 19px;
        content: '';
        background: url(../img/dashboard-logout.png) no-repeat center;
        background-size: contain;

        @include media-breakpoint-down(md) {
          margin-right: 10px;
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
