mixin dashboard(data)
  .dashboard&attributes(attributes)
    .dashboard__wrapper
      .dashboard__header
        .dashboard__header-user
          .dashboard__userpic(style="background-image: url(./img/dashboard-user.jpg);")
          p.p--sm.mb-0
            span.font-weight-bold.d-block Здравствуйте,
            span Александр
        .dashboard__check
      .dashboard__info
        p.p--sm.font-weight-light.mb-0 Михайлов Александр Валетин...
        .dashboard__info-content 26 лет, Лондон, Великобритания
      .dashboard__content
        a.dashboard__content-link.dashboard__content-link--messages(href="#") Сообщения 
          span (5 новых)
        a.dashboard__content-link.dashboard__content-link--articles(href="#") Материалы 
          span (2 новых)
      .dashboard__profile
        p.p--sm.mb-5 Заполнение профиля:
        .dashboard__profile-fullness
          .dashboard__profile-fullness-content(style="width: 85%")
            p.mb-0.font-weight-bold.p--sm 85%
        a.dashboard__profile-link(href="#") Продолжить заполнение
      .dashboard__footer
        a.dashboard__link.dashboard__link--settings(href="#") Настройки
        a.dashboard__link.dashboard__link--logout(href="#") Выйти
