mixin section(data)
  a.section(href="#")&attributes(attributes)
    .section__header
      .section__header-left
        if data && data.icon
          .section__icon(style="background-image: url(./img/" + data.icon + ");")
        h3.mb-0 О стране, городах, культуре
      .section__header-right
        p.mb-0 52
        .section__articles-new 5
    if data && data.modifier == 'other'
    else
      p.p--sm.mb-0.mt-30 Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах,...
