.section {
  margin-bottom: 20px;
  padding: 20px;
  display: block;
  border: 1px solid #abc1e8;
  border-radius: 5px;

  @include transition;

  &:hover {
    color: #fff;
    background: $primary;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-left {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 20px;
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__header-right {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-left: 10px;
    }
  }

  &__articles-new {
    margin-left: 14px;
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: $dark;
    background: $secondary;
    border-radius: 50%;
  }
}
