.album-page {

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__back {
    margin-right: 30px;
    margin-bottom: 30px;
    flex-shrink: 1;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
    }
  }

  &__btn {
    margin-bottom: 30px;
    flex-shrink: 0;
  }
}
