.article {

  &__content {
    margin-top: 35px;
    padding-top: 35px;
    padding-right: 50px;
    padding-left: 50px;
    border-top: 1px solid $gray;

    @include media-breakpoint-down(lg) {
      padding-right: 0;
      padding-left: 0;
    }

    img {
      margin: 0 auto 35px;
      display: block;
      max-width: 100%;
    }

    p {
      margin-bottom: 35px;
    }

    blockquote {
      margin: 45px 0;
      margin-left: -50px;
      padding: 35px 0;
      width: calc(100% + 100px);
      font-size: 13px;
      font-weight: 700;
      border-top: 1px solid $gray;
      border-bottom: 1px solid $gray;

      @include media-breakpoint-down(lg) {
        margin-left: 0;
        width: 100%;
      }

      @include media-breakpoint-down(sm) {
        margin: 20px 0;
        padding: 20px 0;
      }
    }
  }

  &__footer {
    margin: 50px 0 50px -50px;
    display: flex;
    width: calc(100% + 100px);
    justify-content: space-between;
    align-items: center;

    &__centered {
      text-align: center;
    }

    @include media-breakpoint-down(lg) {
      margin-left: 0;
      width: 100%;
    }

    @include media-breakpoint-down(sm) {
      width: 100% !important;
      flex-direction: column;
    }

    .btn {

      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
        width: 100%;
        justify-content: center;
      }
    }
  }
}
