.item-grid {

  &--8 {

    .item-grid__item {

      &:nth-child(n + 9) {
        display: none;

        @include media-breakpoint-down(lg) {
          display: flex;
        }

        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
  }

  &--16 {

    .item-grid__item {

      &:nth-child(n + 17) {
        display: none;

        @include media-breakpoint-down(lg) {
          display: flex;
        }
      }
    }
  }

  &__item {
    display: flex;
  }
}
