.material {
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 10px;

  &:hover {

    .material__picture {
      opacity: .85;
    }
  }

  &__picture {
    position: relative;
    padding-top: 72.6%;
    background-position: top center;
    background-size: cover;
    border-radius: 10px 10px 0 0;

    @include transition;
  }

  &__content {
    padding: 20px 16px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    border-radius: 0 0 10px 10px;
  }

  &__content-top {
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__type {
    //    margin-bottom: 11px;
    padding: 12px;
    font-size: 15px;
    line-height: 1;
    color: $dark;
    background: #f6f6f6;
    border-radius: 5px;
  }

  &__date {
    position: absolute;
    top: 12px;
    left: 12px;
    padding: 7px;
    font-size: 13px;
    line-height: 1;
    color: $dark;
    background: #ddd;
    border-radius: 5px;
  }

  &__dscr {
  }

  &--big {
    border: 0;

    .material__picture {
      //      position: relative;
      padding-top: 70.53%;
      border-radius: 10px;
    }

    //    .material__date {
    //      position: absolute;
    //      top: 12px;
    //      left: 12px;
    //    }

    .material__type {
      position: absolute;
      right: 12px;
      bottom: 12px;
    }

    .material__content {
      padding: 20px 16px 16px;
    }

    h4 {
      font-weight: 900;
      color: #1b1464;
    }
  }

  &--new {

    .material__picture {
      background-color: darken($gray, 3%);
    }

    .material__content {
      background: rgba($secondary, .2);
    }
  }

  &--news {

    .material__footer {
      display: none;
    }

    p {
      margin-bottom: 0;
    }

    .material__picture {
      position: relative;
    }

    .material__date {
      position: absolute;
      top: auto;
      bottom: 15px;
      left: 15px;
    }
  }

  &--short {
    flex-direction: column-reverse;
    border: 0;
    border-radius: 0 0 5px 5px;

    .material__content {
      padding: 27px 24px 19px;

      @include media-breakpoint-down(sm) {
        padding: 16px;
      }
    }

    h4 {
      display: -webkit-box;
      overflow: hidden;
      max-height: 187px;
      line-height: 1.5;
      color: $dark-new;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
    }

    .material__date {
      position: static;
      margin-top: 5px;
      padding: 0;
      background: transparent;
    }

    .material__picture {
      padding-top: 79.93%;
      border-radius: 5px;
    }
  }

  &--wide {

    h4 {
      display: -webkit-box;
      overflow: hidden;
      max-height: 80px;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    .material__picture {
      padding-top: 56.16%;
    }

    .material__content {
      padding-bottom: 16px;

      @include media-breakpoint-down(sm) {
        padding: 16px;
      }
    }

    .material__date {
      margin-top: 21px;
    }
  }
}
