mixin material(data)
  a.material(href="#")&attributes(attributes)
    .material__picture(style="background-image: url(./img/" + data.picture + ");")
      if data && data.type == 'short'
      else
        .material__date 15.10.18
      if data && data.modifier == 'big'
        .material__type Тип материала
    .material__content
      .material__content-top
        h4.mb-10= data.header
        if data && data.dscr
          if data && data.modifier == 'big'
            p.p--sm.mb-0.material__dscr= data.dscr
          else
            p.p--sm.material__dscr= data.dscr
      if data && data.modifier == 'big' || data && data.type == 'short'
      else
        .material__footer
          .material__type Тип материала
      if data && data.type == 'short'
        .material__date 15.10.18
