.tag {
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 2px 19px;
  display: inline-flex;
  font-size: 15px;
  font-weight: 700;
  color: $primary;
  background: #b6c3d9;
  border-radius: 10px;
}
