.countries {
  margin: 50px 0 100px;

  &__filter {
    margin-bottom: 40px;
  }

  &__filter-header {
    margin-bottom: 20px;
    font-size: 30px;
  }

  &__filter-content {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    a {
      margin-right: 20px;
      margin-bottom: 10px;
      font-size: 18px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .bukva {
    margin-top: 50px;
    margin-bottom: 20px;
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: $dark;
  }

  ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .country li {
    margin-left: 0;
    padding-left: 0;
    display: flex;
    width: 25%;
    height: 40px;
    align-items: center;
    list-style: none;

    @include media-breakpoint-down(lg) {
      width: 33.33%;
    }

    @include media-breakpoint-down(md) {
      width: 50%;
    }

    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }

  .country li div {
    margin: 1px;
    display: inline-block;
    width: 25px;
    height: 17px;
    flex-shrink: 0;
    background-image: url(../img/flagsprite.png);
    box-shadow: 0 1px 5px RGBA(0, 0, 0, .5);
    transition: opacity .15s linear;
  }

  .country a span {
    position: absolute;
    margin: -1px 0 0 6px;
    padding-right: 10px;
    font-size: 17px;
    font-weight: normal;
    text-decoration: none;
    color: $dark;
    transition: all .2s ease-in-out 0s;
  }

  .country a:hover span {
    opacity: .8;
  }

  .fl426 {
    height: 18px;
    background-position: 0 -43px;
  }

  .fl427 {
    height: 17px;
    background-position: 0 -61px;
  }

  .fl428 {
    height: 17px;
    background-position: 0 -78px;
  }

  .fl429 {
    height: 18px;
    background-position: 0 -95px;
  }

  .fl430 {
    height: 17px;
    background-position: 0 -113px;
  }

  .fl433 {
    height: 17px;
    background-position: 0 -159px;
  }

  .fl434 {
    height: 15px;
    background-position: 0 -176px;
  }

  .fl435 {
    height: 17px;
    background-position: 0 -191px;
  }

  .fl436 {
    height: 15px;
    background-position: 0 -208px;
  }

  .fl437 {
    height: 13px;
    background-position: 0 -223px;
  }

  .fl438 {
    height: 17px;
    background-position: 0 -236px;
  }

  .fl441 {
    height: 17px;
    background-position: 0 -266px;
  }

  .fl442 {
    height: 17px;
    background-position: 0 -283px;
  }

  .fl444 {
    height: 17px;
    background-position: 0 -315px;
  }

  .fl445 {
    height: 13px;
    background-position: 0 -332px;
  }

  .fl446 {
    height: 17px;
    background-position: 0 -345px;
  }

  .fl448 {
    height: 13px;
    background-position: 0 -380px;
  }

  .fl449 {
    height: 17px;
    background-position: 0 -393px;
  }

  .fl450 {
    height: 15px;
    background-position: 0 -410px;
  }

  .fl451 {
    height: 17px;
    background-position: 0 -425px;
  }

  .fl452 {
    height: 15px;
    background-position: 0 -442px;
  }

  .fl455 {
    height: 17px;
    background-position: 0 -483px;
  }

  .fl456 {
    height: 13px;
    background-position: 0 -500px;
  }

  .fl458 {
    height: 19px;
    background-position: 0 -530px;
  }

  .fl459 {
    height: 15px;
    background-position: 0 -549px;
  }

  .fl460 {
    height: 15px;
    background-position: 0 -564px;
  }

  .fl461 {
    height: 17px;
    background-position: 0 -579px;
  }

  .fl462 {
    height: 17px;
    background-position: 0 -596px;
  }

  .fl463 {
    height: 16px;
    background-position: 0 -613px;
  }

  .fl464 {
    height: 17px;
    background-position: 0 -629px;
  }

  .fl465 {
    height: 13px;
    background-position: 0 -646px;
  }

  .fl467 {
    height: 13px;
    background-position: 0 -674px;
  }

  .fl468 {
    height: 15px;
    background-position: 0 -687px;
  }

  .fl470 {
    height: 17px;
    background-position: 0 -719px;
  }

  .fl472 {
    height: 17px;
    background-position: 0 -755px;
  }

  .fl473 {
    height: 17px;
    background-position: 0 -772px;
  }

  .fl474 {
    height: 13px;
    background-position: 0 -805px;
  }

  .fl477 {
    height: 17px;
    background-position: 0 -835px;
  }

  .fl478 {
    height: 13px;
    background-position: 0 -852px;
  }

  .fl482 {
    height: 13px;
    background-position: 0 -916px;
  }

  .fl483 {
    height: 17px;
    background-position: 0 -929px;
  }

  .fl484 {
    height: 14px;
    background-position: 0 -946px;
  }

  .fl485 {
    height: 13px;
    background-position: 0 -960px;
  }

  .fl486 {
    height: 18px;
    background-position: 0 -973px;
  }

  .fl489 {
    height: 17px;
    background-position: 0 -1025px;
  }

  .fl490 {
    height: 15px;
    background-position: 0 -1042px;
  }

  .fl491 {
    height: 13px;
    background-position: 0 -1057px;
  }

  .fl492 {
    height: 17px;
    background-position: 0 -1070px;
  }

  .fl493 {
    height: 17px;
    background-position: 0 -1087px;
  }

  .fl494 {
    height: 13px;
    background-position: 0 -1104px;
  }

  .fl495 {
    height: 10px;
    background-position: 0 -1117px;
  }

  .fl498 {
    height: 15px;
    background-position: 0 -1160px;
  }

  .fl499 {
    height: 13px;
    background-position: 0 -1175px;
  }

  .fl501 {
    height: 17px;
    background-position: 0 -1205px;
  }

  .fl502 {
    height: 15px;
    background-position: 0 -1222px;
  }

  .fl503 {
    height: 17px;
    background-position: 0 -1237px;
  }

  .fl504 {
    height: 13px;
    background-position: 0 -1254px;
  }

  .fl505 {
    height: 17px;
    background-position: 0 -1267px;
  }

  .fl506 {
    height: 15px;
    background-position: 0 -1284px;
  }

  .fl507 {
    height: 17px;
    background-position: 0 -1299px;
  }

  .fl509 {
    height: 13px;
    background-position: 0 -1329px;
  }

  .fl510 {
    height: 17px;
    background-position: 0 -1342px;
  }

  .fl511 {
    height: 13px;
    background-position: 0 -1359px;
  }

  .fl512 {
    height: 17px;
    background-position: 0 -1372px;
  }

  .fl513 {
    height: 13px;
    background-position: 0 -1389px;
  }

  .fl514 {
    height: 17px;
    background-position: 0 -1402px;
  }

  .fl515 {
    height: 13px;
    background-position: 0 -1419px;
  }

  .fl516 {
    height: 15px;
    background-position: 0 -1432px;
  }

  .fl517 {
    height: 15px;
    background-position: 0 -1447px;
  }

  .fl518 {
    height: 15px;
    background-position: 0 -1462px;
  }

  .fl519 {
    height: 17px;
    background-position: 0 -1477px;
  }

  .fl520 {
    height: 17px;
    background-position: 0 -1494px;
  }

  .fl521 {
    height: 17px;
    background-position: 0 -1511px;
  }

  .fl522 {
    height: 13px;
    background-position: 0 -1528px;
  }

  .fl523 {
    height: 17px;
    background-position: 0 -1541px;
  }

  .fl525 {
    height: 17px;
    background-position: 0 -1571px;
  }

  .fl527 {
    height: 17px;
    background-position: 0 -1605px;
  }

  .fl528 {
    height: 17px;
    background-position: 0 -1622px;
  }

  .fl529 {
    height: 13px;
    background-position: 0 -1639px;
  }

  .fl531 {
    height: 17px;
    background-position: 0 -1666px;
  }

  .fl532 {
    height: 13px;
    background-position: 0 -1683px;
  }

  .fl533 {
    height: 20px;
    background-position: 0 -1696px;
  }

  .fl534 {
    height: 13px;
    background-position: 0 -1716px;
  }

  .fl535 {
    height: 14px;
    background-position: 0 -1729px;
  }

  .fl536 {
    height: 17px;
    background-position: 0 -1743px;
  }

  .fl537 {
    height: 13px;
    background-position: 0 -1760px;
  }

  .fl538 {
    height: 24px;
    background-position: 0 -1773px;
  }

  .fl539 {
    height: 21px;
    background-position: 0 -1797px;
  }

  .fl540 {
    height: 13px;
    background-position: 0 -1818px;
  }

  .fl542 {
    height: 15px;
    background-position: 0 -1848px;
  }

  .fl543 {
    height: 13px;
    background-position: 0 -1863px;
  }

  .fl544 {
    height: 18px;
    background-position: 0 -1876px;
  }

  .fl546 {
    height: 13px;
    background-position: 0 -1907px;
  }

  .fl547 {
    height: 17px;
    background-position: 0 -1920px;
  }

  .fl548 {
    height: 16px;
    background-position: 0 -1937px;
  }

  .fl549 {
    height: 17px;
    background-position: 0 -1953px;
  }

  .fl550 {
    height: 19px;
    background-position: 0 -1970px;
  }

  .fl551 {
    height: 15px;
    background-position: 0 -1989px;
  }

  .fl552 {
    height: 17px;
    background-position: 0 -2004px;
  }

  .fl555 {
    height: 17px;
    background-position: 0 -2071px;
  }

  .fl556 {
    height: 17px;
    background-position: 0 -2088px;
  }

  .fl557 {
    height: 14px;
    background-position: 0 -2105px;
  }

  .fl558 {
    height: 13px;
    background-position: 0 -2119px;
  }

  .fl559 {
    height: 19px;
    background-position: 0 -2132px;
  }

  .fl560 {
    height: 13px;
    background-position: 0 -2151px;
  }

  .fl561 {
    height: 17px;
    background-position: 0 -2164px;
  }

  .fl562 {
    height: 17px;
    background-position: 0 -2181px;
  }

  .fl563 {
    height: 13px;
    background-position: 0 -2198px;
  }

  .fl564 {
    height: 17px;
    background-position: 0 -2211px;
  }

  .fl565 {
    height: 17px;
    background-position: 0 -2228px;
  }

  .fl566 {
    height: 17px;
    background-position: 0 -2245px;
  }

  .fl567 {
    height: 13px;
    background-position: 0 -2262px;
  }

  .fl568 {
    height: 17px;
    background-position: 0 -2275px;
  }

  .fl570 {
    height: 17px;
    background-position: 0 -2309px;
  }

  .fl571 {
    height: 17px;
    background-position: 0 -2326px;
  }

  .fl572 {
    height: 14px;
    background-position: 0 -2343px;
  }

  .fl574 {
    height: 13px;
    background-position: 0 -2371px;
  }

  .fl575 {
    height: 17px;
    background-position: 0 -2384px;
  }

  .fl576 {
    height: 13px;
    background-position: 0 -2401px;
  }

  .fl577 {
    height: 17px;
    background-position: 0 -2414px;
  }

  .fl578 {
    height: 17px;
    background-position: 0 -2431px;
  }

  .fl579 {
    height: 13px;
    background-position: 0 -2448px;
  }

  .fl582 {
    height: 15px;
    background-position: 0 -2495px;
  }

  .fl583 {
    height: 13px;
    background-position: 0 -2510px;
  }

  .fl584 {
    height: 15px;
    background-position: 0 -2523px;
  }

  .fl585 {
    height: 13px;
    background-position: 0 -2538px;
  }

  .fl587 {
    height: 17px;
    background-position: 0 -2568px;
  }

  .fl589 {
    height: 17px;
    background-position: 0 -2602px;
  }

  .fl590 {
    height: 13px;
    background-position: 0 -2619px;
  }

  .fl592 {
    height: 17px;
    background-position: 0 -2649px;
  }

  .fl593 {
    height: 13px;
    background-position: 0 -2666px;
  }

  .fl594 {
    height: 13px;
    background-position: 0 -2679px;
  }

  .fl595 {
    height: 13px;
    background-position: 0 -2692px;
  }

  .fl16802 {
    height: 17px;
    background-position: 0 -2720px;
  }

  .fl599 {
    height: 17px;
    background-position: 0 -2750px;
  }

  .fl600 {
    height: 17px;
    background-position: 0 -2767px;
  }

  .fl603 {
    height: 17px;
    background-position: 0 -2814px;
  }

  .fl606 {
    height: 13px;
    background-position: 0 -2872px;
  }

  .fl607 {
    height: 13px;
    background-position: 0 -2885px;
  }

  .fl608 {
    height: 17px;
    background-position: 0 -2898px;
  }

  .fl609 {
    height: 13px;
    background-position: 0 -2915px;
  }

  .fl610 {
    height: 16px;
    background-position: 0 -2928px;
  }

  .fl611 {
    height: 13px;
    background-position: 0 -2944px;
  }

  .fl612 {
    height: 17px;
    background-position: 0 -2957px;
  }

  .fl613 {
    height: 13px;
    background-position: 0 -2974px;
  }

  .fl16793 {
    height: 13px;
    background-position: 0 -3002px;
  }

  .fl16794 {
    height: 17px;
    background-position: 0 -3015px;
  }

  .fl16751 {
    height: 13px;
    background-position: 0 -3032px;
  }

  .fl16771 {
    height: 17px;
    background-position: 0 -3045px;
  }

  .fl16773 {
    height: 13px;
    background-position: 0 -3062px;
  }

  .fl16781 {
    height: 17px;
    background-position: 0 -3075px;
  }

  .fl16786 {
    height: 13px;
    background-position: 0 -3092px;
  }

  .fl16745 {
    height: 25px;
    background-position: 0 -3105px;
  }

  .fl16778 {
    height: 17px;
    background-position: 0 -3130px;
  }

  .fl16795 {
    height: 15px;
    background-position: 0 -3147px;
  }

  .fl16796 {
    height: 13px;
    background-position: 0 -3162px;
  }

  .fl16746 {
    height: 17px;
    background-position: 0 -3175px;
  }

  .fl16797 {
    height: 13px;
    background-position: 0 -3192px;
  }

  .fl16097 {
    height: 17px;
    background-position: 0 -3205px;
  }

  .fl16798 {
    height: 17px;
    background-position: 0 -3222px;
  }

  .fl16799 {
    height: 17px;
    background-position: 0 -3239px;
  }

  .fl16800 {
    height: 17px;
    background-position: 0 -3256px;
  }

  .fl16803 {
    height: 18px;
    background-position: 0 -3286px;
  }

  .fl16804 {
    height: 13px;
    background-position: 0 -3304px;
  }

  .fl16776 {
    height: 17px;
    background-position: 0 -3317px;
  }

  .fl16805 {
    height: 13px;
    background-position: 0 -3334px;
  }

  .fl16801 {
    height: 13px;
    background-position: 0 -3273px;
  }

  .fl423 {
    height: 13px;
    background-position: 0 0;
  }

  .fl424 {
    height: 17px;
    background-position: 0 -13px;
  }

  .fl425 {
    height: 13px;
    background-position: 0 -30px;
  }

  .fl431 {
    height: 16px;
    background-position: 0 -130px;
  }

  .fl432 {
    height: 13px;
    background-position: 0 -146px;
  }

  .fl439 {
    height: 13px;
    background-position: 0 -253px;
  }

  .fl443 {
    height: 15px;
    background-position: 0 -300px;
  }

  .fl447 {
    height: 18px;
    background-position: 0 -362px;
  }

  .fl453 {
    height: 13px;
    background-position: 0 -457px;
  }

  .fl454 {
    height: 13px;
    background-position: 0 -470px;
  }

  .fl457 {
    height: 17px;
    background-position: 0 -513px;
  }

  .fl466 {
    height: 15px;
    background-position: 0 -659px;
  }

  .fl469 {
    height: 17px;
    background-position: 0 -702px;
  }

  .fl471 {
    height: 19px;
    background-position: 0 -736px;
  }

  .fl475 {
    height: 16px;
    background-position: 0 -789px;
  }

  .fl476 {
    height: 17px;
    background-position: 0 -818px;
  }

  .fl479 {
    height: 16px;
    background-position: 0 -865px;
  }

  .fl480 {
    height: 17px;
    background-position: 0 -882px;
  }

  .fl481 {
    height: 17px;
    background-position: 0 -899px;
  }

  .fl487 {
    height: 17px;
    background-position: 0 -991px;
  }

  .fl488 {
    height: 17px;
    background-position: 0 -1008px;
  }

  .fl496 {
    height: 17px;
    background-position: 0 -1127px;
  }

  .fl497 {
    height: 16px;
    background-position: 0 -1144px;
  }

  .fl500 {
    height: 17px;
    background-position: 0 -1188px;
  }

  .fl508 {
    height: 13px;
    background-position: 0 -1316px;
  }

  .fl524 {
    height: 13px;
    background-position: 0 -1558px;
  }

  .fl526 {
    height: 17px;
    background-position: 0 -1588px;
  }

  .fl530 {
    height: 14px;
    background-position: 0 -1652px;
  }

  .fl541 {
    height: 17px;
    background-position: 0 -1831px;
  }

  .fl545 {
    height: 13px;
    background-position: 0 -1894px;
  }

  .fl553 {
    height: 16px;
    background-position: 0 -2021px;
  }

  .fl554 {
    height: 17px;
    background-position: 0 -2037px;
  }

  .fl393 {
    height: 17px;
    background-position: 0 -2054px;
  }

  .fl569 {
    height: 17px;
    background-position: 0 -2292px;
  }

  .fl573 {
    height: 14px;
    background-position: 0 -2357px;
  }

  .fl580 {
    height: 17px;
    background-position: 0 -2461px;
  }

  .fl581 {
    height: 17px;
    background-position: 0 -2478px;
  }

  .fl586 {
    height: 17px;
    background-position: 0 -2551px;
  }

  .fl588 {
    height: 17px;
    background-position: 0 -2585px;
  }

  .fl591 {
    height: 17px;
    background-position: 0 -2632px;
  }

  .fl596 {
    height: 15px;
    background-position: 0 -2705px;
  }

  .fl597 {
    height: 17px;
    background-position: 0 -2720px;
  }

  .fl598 {
    height: 13px;
    background-position: 0 -2737px;
  }

  .fl601 {
    height: 13px;
    background-position: 0 -2784px;
  }

  .fl602 {
    height: 17px;
    background-position: 0 -2797px;
  }

  .fl604 {
    height: 25px;
    background-position: 0 -2831px;
  }

  .fl605 {
    height: 16px;
    background-position: 0 -2856px;
  }

  .fl614 {
    height: 15px;
    background-position: 0 -2987px;
  }
}
