.tooltip {
  position: absolute;
  top: calc(100% + 8px);
  right: -10px;
  padding: 3px 10px;
  display: none;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 700;
  color: #2f2f2f;
  background: #fff;
  border: 1px solid #a7c1e1;
  border-radius: 5px;

  &:before {
    position: absolute;
    top: -4px;
    right: 14px;
    display: block;
    width: 6px;
    height: 6px;
    content: '';
    background: #fff;
    border: 1px solid #a7c1e1;
    border-right: 0;
    border-bottom: 0;
    transform: rotate(45deg);
  }

  &__wrapper {
    position: relative;

    &:hover {

      .tooltip {
        display: block;
      }
    }
  }
}
