.search {
  padding: 0 20px;
  display: flex;
  height: 46px;
  justify-content: space-between;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;

  &__input {
    margin-right: 5px;
    padding-left: 46px;
    flex-grow: 1;
    font-size: 13px;
    font-weight: 300;
    background: url(../img/zoom.svg) no-repeat left center;
    border: 0;

    @include placeholder($primary);
  }

  &__btn {
    width: 17px;
    background: url(../img/search-arrow.svg) no-repeat center;

    @include transition;

    &:hover {
      opacity: .75;
    }
  }
}
