mixin item(data)
  a.item(href="#")&attributes(attributes)
    .item__picture(style="background-image: url(./img/item-1.jpg);")
    .item__content(style="background-color:" + data.color + ";")
      .item__content-top(style="background-color:" + data.color + ";")
        h2.mb-10.text-white= data.dates
        if data && data.title
          p.item__dscr.font-weight-bold.text-white= data.title
        else
          p.item__dscr.font-weight-bold.text-white Название мероприятия в четыре строки для первоочередного раскрытия темы при наведении раскрывается ещё несколько строк
      .item__content-bottom(style="background-color:" + data.color + ";")
        p.p--sm.text-white.mb-5= data.place
        p.p--sm.text-white.mb-0.text-underline тип мероприятия (цвет)
