.item {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  width: 100%;
  flex-direction: column;
  color: #fff;

  @include transition;

  &:hover {

    @include media-breakpoint-up(xl) {
      overflow: visible;
      height: auto;
      box-shadow: 0 8px 24px rgba(73, 103, 42, .54);
    }

    .item__content {

      @include media-breakpoint-up(xl) {
        position: absolute;
        z-index: 2;
        width: 100%;
        border-radius: 0 0 5px 5px;
        transform: translateY(100%);
      }
    }

    .item__picture {

      @include media-breakpoint-up(xl) {
        border-radius: 5px 5px 0 0;
      }
    }

    .item__dscr {

      @include media-breakpoint-up(xl) {
        overflow: hidden;
        height: auto;
      }
    }
  }

  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
    border-radius: 5px;

    @include transition;
  }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    transition: transform .3s cubic-bezier(.25, .1, .25, 1);
  }

  &__content-top {
    padding: 20px 20px 0;
    background-color: inherit;
    border-radius: 5px 5px 0 0;
  }

  &__content-bottom {
    padding: 0 20px 20px;
    background-color: inherit;
    border-radius: 0 0 5px 5px;
  }

  &_header {
  }

  &__dscr {
    margin-bottom: 10px;
    overflow: hidden;
    height: 76px;
    line-height: 1.33;

    @include media-breakpoint-down(sm) {
      overflow: visible;
      height: auto;
    }
  }
}
