.footer {
  flex-shrink: 0;

  &__container {
    background: $primary;
  }

  &__section-header {
    margin-bottom: 13px;
    font-size: 13px;
    font-weight: 700;
    color: #7289b2;
  }

  &__big-link {
    display: block;
    font-size: 13px;
    color: #fff;

    @include transition;

    &:hover {
      opacity: .75;
      color: #fff;
    }

    & + & {
      margin-top: 11px;
    }
  }

  &__link {
    display: block;
    font-size: 11px;
    line-height: 1;
    text-decoration: underline;
    color: #fff;

    @include transition;

    &:hover {
      color: #fff;
    }

    & + & {
      margin-top: 11px;
    }
  }

  &__logo {
    //    margin-top: 15px;
    margin-bottom: 10px;
    opacity: .36;

    @include media-breakpoint-down(sm) {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  &__wrapper {
    padding: 35px 0;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }
  }

  &__content {
    display: flex;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__logos-wrapper {
    margin-right: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__section {

    @include media-breakpoint-down(sm) {
      margin-top: 40px;
    }

    & + & {
      margin-left: 55px;

      @include media-breakpoint-down(sm) {
        margin-left: 0;
      }
    }
  }

  &__section-content {
    padding-left: 13px;

    @include media-breakpoint-down(sm) {
      padding-left: 0;
    }
  }

  &__copyright {
    padding: 15px 0;
    font-size: 11px;
    color: #3c3c3c;
    background: #fff;
  }

  img {
    max-width: 160px !important;
  }

  &__rosmol {
    display: block;

    img {
      max-width: 130px !important;
    }
  }

  &__right {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media-breakpoint-down(xs) {
      margin-top: 40px;
      margin-left: 0;
    }
  }

  &--enter {

    .footer__wrapper {
      align-items: center;

      @include media-breakpoint-down(md) {
        flex-direction: column;
      }
    }

    .footer__copyright {

      @include media-breakpoint-down(md) {
        margin-bottom: 20px;
        text-align: center;
      }
    }

    .footer__rosmol {
      margin-right: 38px;
    }

    .footer__container {
      padding-top: 20px;
      padding-bottom: 20px;
      background: $primary;
      border-top: 1px solid #5f6e89;
    }
  }

  &--enter-new {

    .footer__container {
      padding: 30px 0;
    }

    .footer__logo {
      margin-top: 0;
    }

    .container {

      & > .row:last-child {
        align-items: center;
      }
    }
  }
}
