mixin footer(data)
  .footer&attributes(attributes)
    if data && data.type == 'newest'
      .footer__container
        .container
          if data && data.version == 'new'
            .footer__wrapper.py-0
              .footer__copyright.text-white.bg-transparent.py-0 © Copyright 2018. Все права защищены, копирование материалов запрещенно
              .footer__enter-logos
                a.footer__rosmol(href="#")
                  img.img-fluid(src="./img/rosmol--pale.png", alt)
                a.mt-20(href="#")
                  img.img-fluid(src="./img/remc--pale.png", alt)
          else
            .footer__wrapper
              .footer__content
                .footer__logos-wrapper
                  +logo.footer__logo
                  a(href="#")
                    img.img-fluid(src="./img/remc.png", alt)
                .footer__section
                  p.p--sm.footer__section-header Справочники и документы:
                  .footer__section-content
                    a.footer__link(href="./img/presentation.pdf", target="_blank") Презентация АИС «Молодые соотечественники»
                    a.footer__link(href="#") Справочник молодого соотечественника
                    a.footer__link(href="#") Политика конфиденциальности
                    a.footer__link(href="#") Политика обработки и защиты персональных данных
              .footer__right
                a.footer__rosmol(href="#", target="_blank")
                  img.img-fluid(src="./img/rosmol-new.png", alt)
                a.mt-20(href="https://mubint.ru/", target="_blank")
                  img.img-fluid(src="./img/footer-mubint.svg", alt)
    else
      .footer__container
        .container
          if data && data.version == 'new'
            .footer__wrapper.py-0
              .footer__copyright.text-white.bg-transparent.py-0 © Copyright 2018. Все права защищены, копирование материалов запрещенно
              .footer__enter-logos
                a.footer__rosmol(href="#")
                  img.img-fluid(src="./img/rosmol--pale.png", alt)
                a.mt-20(href="#")
                  img.img-fluid(src="./img/remc--pale.png", alt)
          else
            .footer__wrapper
              .footer__content
                .footer__logos-wrapper
                  +logo.footer__logo
                  a(href="#")
                    img.img-fluid(src="./img/remc.png", alt)
                .footer__section
                  a.footer__big-link(href="#") Календарь мероприятий
                  a.footer__big-link(href="#") Группы и объединения
                  a.footer__big-link(href="#") Пользователи
                  a.footer__big-link(href="#") Новости и мультимедия
                  a.footer__big-link(href="#") Контакты
                  a.footer__big-link(href="#modal-feedback", data-fancybox) Обратная связь
                .footer__section
                  p.p--sm.footer__section-header Справочники и документы:
                  .footer__section-content
                    a.footer__link(href="./img/presentation.pdf", target="_blank") Презентация АИС «Молодые соотечественники»
                    a.footer__link(href="#") О стране, городах, культуре
                    a.footer__link(href="#") Переезд в Россию
                    a.footer__link(href="#") О поддержке соотечественников
                    a.footer__link(href="#") Работа зарубежом
                    a.footer__link(href="#") Информация об АИС
                    a.footer__link(href="#") Образование для иностранцев в РФ
                    a.footer__link(href="#") Молодежные организации и их контакты
                    a.footer__link(href="#") Прочие советы и материалы
                    a.footer__link(href="#") Ежегодные мероприятия 
              .footer__right
                a.footer__rosmol(href="#", target="_blank")
                  img.img-fluid(src="./img/rosmol-new.png", alt)
                a.mt-20(href="https://mubint.ru/", target="_blank")
                  img.img-fluid(src="./img/footer-mubint.svg", alt)
      if data && data.version == 'new'
      else
        .footer__copyright 
          .container © Copyright 2018. Все права защищены, копирование материалов запрещенно
  +modal({
    modifier: 'feedback'
  }).modal--default#modal-feedback
