.document {
  margin-bottom: 25px;
  display: flex;
  align-items: flex-start;

  &__icon {
    margin-top: 4px;
    margin-right: 23px;
    width: 28px;
    height: 30px;
    flex-shrink: 0;
    background: url(../img/document.png) no-repeat center;
    background-size: contain;
  }

  &__content {
  }

  &__title {
    line-height: 1.33 !important;
  }

  &__link {
    font-size: 13px;
    color: #2361a5;
  }

  &--new {

    @include transition;

    &:hover {
      opacity: .8;
    }

    .document__icon {
      margin-top: 0;
      margin-right: 14px;
      width: 25px;
      height: 32px;
      flex-shrink: 0;
      background: url(../img/document-icon.svg) no-repeat center;
      background-size: contain;
    }

    .document__title {
      margin-bottom: 3px !important;
      font-size: 13px;
      line-height: 1.5;
      font-weight: 700;
      color: #2f2f2f;
    }

    .document__link {
      font-size: 11px;
      line-height: 1.2;
      color: rgba(#2f2f2f, .5);
    }
  }
}
