mixin document(data)
  if data && data.type == 'new'
    a.document(href="#")&attributes(attributes)
      .document__icon
      .document__content
        p.document__title.p--sm.mb-10= data.title
        p.document__link.mb-0 12 mb
  else
    .document&attributes(attributes)
      .document__icon
      .document__content
        p.document__title.p--sm.mb-10= data.title
        .d-flex
          p.document__link.mb-0.mr-10
            a(href="#") 3,5 мб
          p.document__link.mb-0
            a(href="#") Скачать
