.uni {
  margin-bottom: 20px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  background: #eef6fb;

  @include media-breakpoint-down(sm) {
    position: relative;
    padding: 15px;
    flex-direction: column;
  }

  &__left {
    margin-right: 40px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__right {
    display: flex;
    text-align: right;

    @include media-breakpoint-down(sm) {
      text-align: left;
    }
  }

  &__right-content {
  }

  &__remove {
    margin-left: 40px;
    display: block;
    width: 22px;
    height: 26px;
    flex-shrink: 0;
    background: url(../img/trash.png) no-repeat center;
    background-size: contain;

    @include transition;

    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 15px;
      right: 15px;
    }

    &:hover {
      opacity: .75;
    }
  }
}
