mixin uni(data)
  .uni&attributes(attributes)
    .uni__left
      h2.font-weight-normal.mb-10.mb-sm-25 Калифорнийский университет
      p.mb-0 Калифорния, США, Университет
    .uni__right
      .uni__right-content
        h2.font-weight-normal.mb-10.mb-sm-25 Кафедра научных изысканий
        p.mb-0 Магистр наук. 14.05.2014 - 14.05.2018
      a.uni__remove(href="#")
