mixin card(data)
  .card&attributes(attributes)
    p.font-weight-bold.text-primary.mb-15
      a(href="#modal" data-fancybox) Заголовок темы в одну строку
    .card__info
      .card__info-item.mr-20 15 августа 2017
      .card__info-item.card__info-item--views 45
      .card__info-item.card__info-item--comments 65
    .card__content
      p= data.dscr
      img.img-fluid(src="./img/" + data.picture, alt)
