.card {

  & + & {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid $gray;
  }

  &__info {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  &__info-item {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #848484;

    & + & {
      margin-left: 25px;
    }

    &--views {

      &:before {
        margin-right: 10px;
        display: block;
        width: 16px;
        height: 16px;
        content: '';
        background: url(../img/views-icon.png) no-repeat center;
        background-size: contain;
      }
    }

    &--comments {

      &:before {
        margin-right: 10px;
        display: block;
        width: 16px;
        height: 16px;
        content: '';
        background: url(../img/messages-icon.png) no-repeat center;
        background-size: contain;
      }
    }
  }

  &__content {
  }

  &__header {
    padding: 35px 50px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f6f6f7;

    @include media-breakpoint-down(sm) {
      padding: 15px;
    }
  }

  &__header-left {
    padding-right: 10px;
  }
}
