.catalog {

  &__section-icon {
    margin: 0 25px;
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include media-breakpoint-down(sm) {
      margin: 0 10px;
    }
  }

  &__new-number {
    margin-right: 9px;
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: $dark;
    background: $secondary;
    border-radius: 50%;
  }
}
