extends ../templates/template.pug
block content
  +header
  .wrapper.pb-30.pb-sm-50
    .container
      +breadcrumbs({
        links: ['Контакты', 'Фотографии', 'Название альбома']
      })
      .album-page
        .album-page__header
          +link-back({
            title: 'Международный молодежный форум «Евразия Global»'
          }).link-back--title.link-back--new.album-page__back
          a.btn.btn-outline-primary.album-page__btn(href="#") Удалить альбом
      .row
        - for (var i = 1; i < 17; ++i) {
          .col-xl-3.col-lg-4.col-sm-6
            +picture({
              img: 'picture-' + i + '.jpg'
            })
        - }
  +footer
  +modal({
    modifier: 'gallery'
  }).modal--gallery#modal-gallery
