extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      +breadcrumbs({
        links: ['Справочник молодого соотечественника', 'О стране, городах, культуре', 'Название материала в одну две строки']
      }).mb-10
    .container
      .row
        .col-lg-8.col-xl-9
          .article
            .d-sm-flex.align-items-center.mb-40
              a.link-back.mb-20.mb-sm-0(href="#")
              h2.text-primary.ml-sm-35.mb-0 Название материала в одну две строки
            p.p--sm Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах,Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст..
            .article__content
              img(src="./img/article-1.jpg", alt)
              p Читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показыв
              img(src="./img/article-2.jpg", alt)
              p Читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показыв
              blockquote Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах,Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст..
              p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 ла
              +document({
                type: 'new',
                title: 'Filename.pdf'
              }).document--new
              +slider
              .article__footer
                a.btn.btn-outline-secondary.d-inline-flex.align-items-center(href="#")
                  .link-back.mr-15
                  span Предыдущая статья
                a.btn.btn-outline-secondary.d-inline-flex.align-items-center(href="#")
                  span Следующая статья
                  .link-back.link-back--next.ml-15
        .col-lg-4.col-xl-3
          h3.font-weight-normal.mb-20.mb-lg-45 Рекомендованное
          .row
            .col-md-6.col-lg-12.d-flex
              +material({
                picture: 'material-9.jpg',
                header: 'Молодые соотечественники в Индии',
                dscr: 'Индийская столица стала центром молодёжного движения российских соотечественников'
              })
            .col-md-6.col-lg-12.d-flex
              +material({
                picture: 'material-10.jpg',
                header: 'XII Региональная конференция российских соотечественников',
                dscr: 'Совет Ассоциации российских соотечественников Клуба «Жаркий» совместно с Посольством РФ ...'
              })
            .col-md-6.col-lg-12.d-flex
              +material({
                picture: 'material-11.jpg',
                header: 'XII Региональная конференция российских соотечественников',
                dscr: 'Совет Ассоциации российских соотечественников Клуба «Жаркий» совместно с Посольством РФ ...'
              })
  +footer
