extends ../templates/template.pug
block content
  +header
  .wrapper.wrapper--gray
    .container
      +breadcrumbs({
        links: ['Профиль']
      })
    .cabinet
      .container
        .cabinet__header
          .cabinet__userpic(style="background-image: url(./img/cabinet-user.jpg);")
          .cabinet__header-content
            h1.text-primary.mb-15 Здравствуйте, Александр
            .cabinet__header-links-wrapper
              a.cabinet__header-link.cabinet__header-link--messages(href="#") Сообщения 
                span (5 новых)
              a.cabinet__header-link.cabinet__header-link--materials(href="#") Материалы 
                span (2 новых)
        .nav-tabs__wrapper
          ul.nav.nav-tabs.nav-tabs--long.mb-0
            li.nav-item
              a.nav-link.active(data-toggle='tab', href='#data') Персональные данные
            li.nav-item
              a.nav-link(data-toggle='tab', href='#education') Образование
            li.nav-item
              a.nav-link(data-toggle='tab', href='#friends') Друзья
            li.nav-item
              a.nav-link(data-toggle='tab', href='#activity') Информация об активности
            li.nav-item
              a.nav-link(data-toggle='tab', href='#password') Сменить пароль
            li.nav-item
              a.nav-link(data-toggle='tab', href='#application') Мои заявки
      .tab-content
        #data.tab-pane.fade.show.active(role='tabpanel')
          .container
            form.form(action="#", method="POST")
              .row.border-bottom.pb-30.mb-30
                .col-lg-4.mb-20.mb-lg-0
                  p.text-primary.font-weight-bold Основная информация
                  .form__item.form__item--hor.form-group.mt-30
                    label.form__label Добавьте фото профиля *
                    .form__item-hor-content.form__item-hor-content--short
                      .custom-file
                        input#customFile.custom-file-input(type='file')
                        label.custom-file-label(for='customFile') Выбрать фото
                  .d-flex.justify-content-center
                    a.cabinet__form-userpic.cabinet__form-userpic--lg(href="#userpic", data-fancybox)
                      img(src="./img/modal-userpic-1.jpg", alt)
                .col-lg-8
                  .row
                    .col-xl-6
                      .form__item.form-group
                        label.form__label Фамилия
                        input.input.form-control(type="text")
                      .form__item.form-group
                        label.form__label Имя
                        input.input.form-control(type="text")
                      .form__item.form-group
                        label.form__label Отчество
                        input.input.form-control(type="text")
                    .col-xl-6
                      .form__item.form__item--hor.justify-content-start.form-group.mt-30
                        label.form__label Дата рождения
                        .form__item-hor-content
                          +select({
                            placeholder: 'дд',
                            modifier: 'day'
                          }).select--birth
                          +select({
                            placeholder: 'мм',
                            modifier: 'month'
                          }).select--birth
                          +select({
                            placeholder: 'гггг',
                            modifier: 'year'
                          }).select--birth
                      .form__item.form__item--hor.justify-content-start.form-group.mt-50
                        label.form__label Пол
                        .form__item-hor-content
                          .custom-control.custom-radio
                            input#customRadio1.custom-control-input(type='radio', name='customRadio')
                            label.custom-control-label(for='customRadio1') Мужской
                          .custom-control.custom-radio.ml-15
                            input#customRadio2.custom-control-input(type='radio', name='customRadio')
                            label.custom-control-label(for='customRadio2') Женский
            .row.border-bottom.pb-30.mb-30
              .col-lg-3.col-xl-4
                p.text-primary.font-weight-bold Адресные данные
              .col-lg-9.col-xl-8
                .row
                  .col-md-6
                    .form__item.form-group
                      label.form__label Страна проживания*
                      +select({
                        placeholder: ''
                      })
                    .form__item.form-group
                      label.form__label Город проживания (населенный пункт)*
                      +select({
                        placeholder: ''
                      })
                  .col-md-6
                    .form__item.form-group
                      label.form__label Родной город (населенный пункт)*
                      +select({
                        placeholder: ''
                      })
                    .form__item.form-group
                      label.form__label Гражданство
                      +select({
                        placeholder: ''
                      })
            .row
              .col-lg-3.col-xl-4
                p.text-primary.font-weight-bold Контактные данные
              .col-lg-9.col-xl-8
                .row
                  .col-md-6
                    .form__item.form-group
                      label.form__label Ваш номер телефона
                      input.input.form-control(type="text")
                    .form__item.form-group
                      label.form__label Страница Facebook
                      input.input.form-control(type="text")
                  .col-md-6
                    .form__item.form-group
                      label.form__label Ваш e-mail
                      input.input.form-control(type="text")
                    .form__item.form-group
                      label.form__label Страница Vkontakte
                      input.input.form-control(type="text")
            .row.mt-30.mb-30.mb-lg-55
              .col-lg-10.d-flex.align-items-center
                p.p--sm.mb-20.mb-lg-0 * - поля обязательные для заполнения
              .col-lg-2
                button.btn.btn-blue.w-100(type="submit") Сохранить
        #education.tab-pane.fade.pb-15(role='tabpanel')
          .container
            form.form.border-bottom.pb-30.mb-30(action="#", method="POST")
              .row
                .col-lg-3.col-xl-4
                  p.text-primary.font-weight-bold Добавьте учебное заведение
                .col-lg-9.col-xl-8
                  .row
                    .col-md-6
                      .form__item.form-group
                        label.form__label Страна
                        +select({
                          placeholder: ''
                        })
                      .form__item.form-group
                        label.form__label Название учебного заведения
                        +select({
                          placeholder: ''
                        })
                      .form__item.form-group
                        label.form__label Тип учебного заведения
                        +select({
                          placeholder: ''
                        })
                    .col-md-6
                      .row
                        .col-6
                          .form__item.form-group
                            label.form__label Начало обучения
                            input.input.input--calendar.form-control(type="text")
                        .col-6
                          .form__item.form-group
                            label.form__label Окончание обучения
                            .form__input-calendar-to
                              input.input.input--calendar.form-control(type="text")
                              .custom-control.custom-checkbox.form__input-calendar-to-checkbox
                                input#customCheck1.custom-control-input(type='checkbox')
                                label.custom-control-label(for='customCheck1')
                      .form__item.form-group
                        label.form__label Кафедра
                        input.input.form-control(type="text", placeholder="Кафедра")
                      .form__item.form-group
                        label.form__label Специальность
                        input.input.form-control(type="text", placeholder="Специальность")
              .row.mt-10
                .col-lg-8.d-flex.align-items-center
                  p.p--sm.mb-20.mb-lg-0 * - поля обязательные для заполнения
                .col-lg-4
                  .row
                    .col-6
                      a.btn.btn-gray.w-100(href="#") Отмена
                    .col-6
                      button.btn.btn-blue.w-100(type="submit") Добавить
            +uni
            +uni
        #friends.tab-pane.tab-pane--gray.fade(role='tabpanel')
          .container
            .row
              .col-lg-3
                .sidebar
                  a.sidebar__link.sidebar__link--active(href="#") Мои друзья
                    .sidebar__link-number 2500
                  a.sidebar__link(href="#") Заявки в друзья
                    .sidebar__link-number 12
              .col-lg-9
                .wrapper__white-content
                  .row.pb-30
                    .col-md-6
                      +member({
                        photo: 'member-1.jpg',
                        name: 'Александр Максагонов'
                      }).member--new.member--online.mb-20
                    .col-md-6
                      +member({
                        photo: 'member-2.jpg',
                        name: 'Александр Максагонов'
                      }).member--new.member--offline.mb-20
        #activity.tab-pane.fade(role='tabpanel')
          .container
        #password.tab-pane.fade(role='tabpanel')
          .container
            form.form.pb-30.pb-lg-60(action="#", method="POST")
              .row
                .col-lg-3.col-xl-4
                  p.text-primary.font-weight-bold Сменить пароль
                .col-lg-9.col-xl-8
                  .row
                    .col-sm-6
                      .form__item.form-group
                        label.form__label Введите старый пароль*
                        input.input.form-control(type="password")
                    .col-sm-6
                      .form__item.form-group
                        label.form__label Повторите пароль*
                        input.input.form-control(type="password")
                  .row
                    .col-sm-6
                      .form__item.form-group
                        label.form__label Введите новый пароль*
                        input.input.form-control(type="password")
              .row.mt-30.mt-lg-60
                .col-lg-10.d-flex.align-items-center
                  p.p--sm.mb-20.mb-lg-0 * - поля обязательные для заполнения
                .col-lg-2.ml-auto
                  button.btn.btn-blue.w-100.px-10(type="submit") Сменить пароль
        #application.tab-pane.fade(role='tabpanel')
          .mb-45
            .container
              +application({
                photo: 'application-1.jpg',
                type: 'event',
                title: 'Название мероприятия в одну строку если длинное сокращаем  трое...',
                status: 'moderating'
              })
              +application({
                photo: 'application-2.jpg',
                type: 'news',
                title: 'Название новости в одну строку ',
                status: 'published'
              })
              +application({
                photo: 'application-1.jpg',
                type: 'event',
                title: 'Название мероприятия в одну строку если длинное сокращаем  трое...',
                status: 'rejected'
              })
  +footer
  +modal({
    modifier: 'userpic'
  }).modal--userpic#userpic
