extends ../templates/template.pug
block content
  +header
  .bg-gray
    .wrapper.pb-30.pb-sm-50
      .container
        +breadcrumbs({
          links: ['Календарь мероприятий']
        })
      .container
        .bar.mb-35
          h3.mb-0.font-weight-bold Календарь мероприятий
          .bar__content
            +select({
              placeholder: 'Тип мероприятий'
            }).bar__select
            +select({
              placeholder: 'Страна'
            }).bar__select
            +select({
              placeholder: 'Город'
            }).bar__select
            +months
        .item-grid.item-grid--16
          .row
            .col-sm-6.col-md-4.col-xl-3.item-grid__item
              +item({
                dates: '18 сентября - 25 октября',
                place: 'г. Рим, Италия',
                title: 'Название мероприятия в четыре строки для первоочередного раскрытия темы при наведении раскрывается ещё несколько строкНазвание мероприятия в четыре строки для первоочередного раскрытия темы при наведении раскрывается ещё несколько строкНазвание мероприятия в четыре строки для первоочередного раскрытия темы при наведении раскрывается ещё несколько строкНазвание мероприятия в четыре строки для первоочередного раскрытия темы при наведении раскрывается ещё несколько строкНазвание мероприятия в четыре строки для первоочередного раскрытия темы при наведении раскрывается ещё несколько строкНазвание мероприятия в четыре строки для первоочередного раскрытия темы при наведении раскрывается ещё несколько строкНазвание мероприятия в четыре строки для первоочередного раскрытия темы при наведении раскрывается ещё несколько строкНазвание мероприятия в четыре строки для первоочередного раскрытия темы при наведении раскрывается ещё несколько строкНазвание мероприятия в четыре строки для первоочередного раскрытия темы при наведении раскрывается ещё несколько строкНазвание мероприятия в четыре строки для первоочередного раскрытия темы при наведении раскрывается ещё несколько строкНазвание мероприятия в четыре строки для первоочередного раскрытия темы при наведении раскрывается ещё несколько строк',
                color: '#65a18d'
              })
            .col-sm-6.col-md-4.col-xl-3.item-grid__item
              +item({
                dates: '18-20 июня',
                place: 'г. Москва, Россия',
                color: '#6fb5bf'
              })
            .col-sm-6.col-md-4.col-xl-3.item-grid__item
              +item({
                dates: '18-20 июня',
                place: 'г. Санкт-Петербург, Россия',
                color: '#6fb5bf'
              })
            .col-sm-6.col-md-4.col-xl-3.item-grid__item
              +item({
                dates: '18-20 июня',
                place: 'г. Алма-Аты, Казахстан',
                color: '#81a6d3'
              })
            .col-sm-6.col-md-4.col-xl-3.item-grid__item
              +item({
                dates: '3 июля',
                place: 'г. Лондон, Великобритания',
                color: '#d381a8'
              })
            .col-sm-6.col-md-4.col-xl-3.item-grid__item
              +item({
                dates: '18-20 июня',
                place: 'г. Санкт-Петербург',
                color: '#d3c581'
              })
            .col-sm-6.col-md-4.col-xl-3.item-grid__item
              +item({
                dates: '18 июля',
                place: 'г. Санкт-Петербург, Россия',
                color: '#b381d3'
              })
            .col-sm-6.col-md-4.col-xl-3.item-grid__item
              +item({
                dates: '18-20 июня',
                place: 'г. Рим, Италия',
                color: '#65a18d'
              })
            .col-sm-6.col-md-4.col-xl-3.item-grid__item
              +item({
                dates: '18-20 июня',
                place: 'г. Рим, Италия',
                color: '#65a18d'
              })
            .col-sm-6.col-md-4.col-xl-3.item-grid__item
              +item({
                dates: '18-20 июня',
                place: 'г. Москва, Россия',
                color: '#6fb5bf'
              })
            .col-sm-6.col-md-4.col-xl-3.item-grid__item
              +item({
                dates: '18-20 июня',
                place: 'г. Санкт-Петербург, Россия',
                color: '#6fb5bf'
              })
            .col-sm-6.col-md-4.col-xl-3.item-grid__item
              +item({
                dates: '18-20 июня',
                place: 'г. Алма-Аты, Казахстан',
                color: '#81a6d3'
              })
            .col-sm-6.col-md-4.col-xl-3.item-grid__item
              +item({
                dates: '3 июля',
                place: 'г. Лондон, Великобритания',
                color: '#d381a8'
              })
            .col-sm-6.col-md-4.col-xl-3.item-grid__item
              +item({
                dates: '18-20 июня',
                place: 'г. Санкт-Петербург',
                color: '#d3c581'
              })
            .col-sm-6.col-md-4.col-xl-3.item-grid__item
              +item({
                dates: '18 июля',
                place: 'г. Санкт-Петербург, Россия',
                color: '#b381d3'
              })
            .col-sm-6.col-md-4.col-xl-3.item-grid__item
              +item({
                dates: '18-20 июня',
                place: 'г. Рим, Италия',
                color: '#65a18d'
              })
            .col-sm-6.col-md-4.col-xl-3.item-grid__item
              +item({
                dates: '18 июля',
                place: 'г. Санкт-Петербург, Россия',
                color: '#b381d3'
              })
            .col-sm-6.col-md-4.col-xl-3.item-grid__item
              +item({
                dates: '18-20 июня',
                place: 'г. Рим, Италия',
                color: '#65a18d'
              })
        .text-center.mt-20
          a.btn.btn-outline-secondary(href="#") Загрузить еще
  .container.pt-50
    .d-md-flex.align-items-center.mb-40
      h2.font-weight-normal.mb-20.mb-md-0.mr-sm-55 Последние опубликованные материалы
      a.btn.btn-outline-secondary(href="#") Смотреть все
    .row
      .col-lg-6.d-flex
        +material({
          picture: 'material-1.jpg',
          header: 'Отборочные соревнования для участия',
          dscr: '13 марта в Российском центре науки и культуры в Бухаресте состоялись отборочные соревнования по теннису и шахматам среди юных участников... Четвертых Всеми',
          modifier: 'big'
        }).material--big
      .col-sm-6.col-lg-3.d-flex
        +material({
          picture: 'material-2.jpg',
          header: 'Молодые соотечественники в Индии',
          dscr: 'Индийская столица стала центром молодёжного движения российских соотечественников'
        })
      .col-sm-6.col-lg-3.d-flex
        +material({
          picture: 'material-3.jpg',
          header: 'XII Региональная конференция российских соотечественников',
          dscr: 'Совет Ассоциации российских соотечественников Клуба «Жаркий» совместно с Посольством РФ ...'
        })
  +footer
