extends ../templates/template.pug
block content
  +header
  .wrapper.pb-30.pb-sm-50
    .container
      +breadcrumbs({
        links: ['Контакты']
      })
      .row
        .col-lg-6
          h3.font-weight-bold.text-primary-new.mb-25 Контакты
          .mb-20
            p.p--sm.font-weight-bold.text-dark-new.mb-10 Адрес:
            p.p--sm.mb-0 117593, г. МОсква, Литовский бульвар, дом 11, корпус 3
          .mb-20
            p.p--sm.font-weight-bold.text-dark-new.mb-10 Телефон:
            p.p--sm.mb-0 +7 (495) 123-33-44
          .mb-20
            p.p--sm.font-weight-bold.text-dark-new.mb-10 E-mail:
            p.p--sm.mb-0 aism@fadm.gov.ru
        .col-lg-6
          h3.font-weight-bold.text-primary-new.mb-25 Обратная связь
          p.p--sm.mb-20 Воспользуйтесь формой, чтобы задать интересующий Вас вопрос, отправить комментарии, замечания или предложения. <br>Выберите тему обращения и заполните соответствующие поля. <br>Обращаем Ваше внимание, что корректное и полное заполнение полей формы обращения поможет нам быстро и качественно ответить Вам
          form.form(action="#", method="POST")
            .form__item.form-group.mb-10
              label.form__label.text-dark-new ФИО
              input.input.form-control(type="text", required, placeholder="Введите название")
            .form__item.form-group.mb-10
              label.form__label.text-dark-new Email
              input.input.form-control(type="text", required, placeholder="Введите название")
            .form__item.form-group.mb-10
              label.form__label.text-dark-new Тема обращения внутри
              +select({
                placeholder: ''
              })
                option Справочник молодого соотечественника
                option Календарь мероприятий
                option Наши соотечественники
                option Группы и объединения
                option Новости и мультимедия
                option Общее
            .form__item.form-group
              label.form__label Текст
              textarea.input.input--textarea(required)
            .form__item.form-group.mb-0
              .custom-file.custom-file--lg
                input#customFile.custom-file-input(type='file')
                label.custom-file-label(for='customFile') Прикрепить файл
            .d-flex.align-items-center.mt-40
              button.btn.btn-primary.btn-lg(type="submit") Отправить
  +footer
