extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      +breadcrumbs({
        links: ['Список стран']
      })
    .container
      .countries
        .countries__filter
          h2.countries__filter-header Части света
          .countries__filter-content
            a(href="#").active Все
            a(href="#") Европа
            a(href="#") Азия
            a(href="#") Африка
            a(href="#") Америка
            a(href="#") Австралия и океания
        .bukva А
        ul.country
          li
            a(href='/abkhaziya/')
              .fl16793
              span Абхазия
          li
            a(href='/australia/')
              .fl423
              span Австралия
          li
            a(href='/austria/')
              .fl424
              span Австрия
          li
            a(href='/azerbaijan/')
              .fl425
              span Азербайджан
          li
            a(href='/albania/')
              .fl426
              span Албания
          li
            a(href='/algeria/')
              .fl427
              span Алжир
          li
            a(href='/amerikanskie-virginskie-ostrova/')
              .fl16794
              span Ам. Виргинские острова
          li
            a(href='/amerikanskoe-samoa/')
              .fl16751
              span Американское Самоа
          li
            a(href='/angola/')
              .fl428
              span Ангола
          li
            a(href='/andorra/')
              .fl429
              span Андорра
          li
            a(href='/antigua-i-barbuda/')
              .fl430
              span Антигуа и Барбуда
          li
            a(href='/argentina/')
              .fl431
              span Аргентина
          li
            a(href='/armenia/')
              .fl432
              span Армения
          li
            a(href='/aruba/')
              .fl16771
              span Аруба
          li
            a(href='/afganistan/')
              .fl433
              span Афганистан
        .bukva Б
        ul.country
          li
            a(href='/bahamas/')
              .fl437
              span Багамы
          li
            a(href='/bangladesh/')
              .fl434
              span Бангладеш
          li
            a(href='/barbados/')
              .fl435
              span Барбадос
          li
            a(href='/bahrain/')
              .fl436
              span Бахрейн
          li
            a(href='/belize/')
              .fl438
              span Белиз
          li
            a(href='/belarus/')
              .fl439
              span Белоруссия
          li
            a(href='/belgium/')
              .fl441
              span Бельгия
          li
            a(href='/benin/')
              .fl442
              span Бенин
          li
            a(href='/bermudskie-ostrova/')
              .fl16773
              span Бермудские Острова
          li
            a(href='/bolgaria/')
              .fl443
              span Болгария
          li
            a(href='/bolivia/')
              .fl444
              span Боливия
          li
            a(href='/boneyr/')
              .fl16781
              span Бонэйр
          li
            a(href='/bosniya-i-gertsegovina/')
              .fl445
              span Босния и Герцеговина
          li
            a(href='/botsvana/')
              .fl446
              span Ботсвана
          li
            a(href='/brazil/')
              .fl447
              span Бразилия
          li
            a(href='/britanskie-virginskie-ostrova/')
              .fl16786
              span Бр. Виргинские острова
          li
            a(href='/brunei/')
              .fl448
              span Бруней
          li
            a(href='/burkina-faso/')
              .fl449
              span Буркина-Фасо
          li
            a(href='/burundi/')
              .fl450
              span Бурунди
          li
            a(href='/butan/')
              .fl451
              span Бутан
        .bukva В
        ul.country
          li
            a(href='/vanuatu/')
              .fl452
              span Вануату
          li
            a(href='/vatikan/')
              .fl16745
              span Ватикан
          li
            a(href='/velikobritaniya/')
              .fl453
              span Великобритания
          li
            a(href='/hungary/')
              .fl454
              span Венгрия
          li
            a(href='/venezuela/')
              .fl455
              span Венесуэла
          li
            a(href='/vostochnyy-timor/')
              .fl456
              span Восточный Тимор
          li
            a(href='/vietnam/')
              .fl457
              span Вьетнам
        .bukva Г
        ul.country
          li
            a(href='/gabon/')
              .fl458
              span Габон
          li
            a(href='/haiti/')
              .fl459
              span Гаити
          li
            a(href='/guyana/')
              .fl460
              span Гайана
          li
            a(href='/gambia/')
              .fl461
              span Гамбия
          li
            a(href='/ghana/')
              .fl462
              span Гана
          li
            a(href='/guatemala/')
              .fl463
              span Гватемала
          li
            a(href='/guinea/')
              .fl464
              span Гвинея
          li
            a(href='/guinea-bissau/')
              .fl465
              span Гвинея-Бисау
          li
            a(href='/germany/')
              .fl466
              span Германия
          li
            a(href='/honduras/')
              .fl467
              span Гондурас
          li
            a(href='/hong-kong/')
              .fl16778
              span Гонконг
          li
            a(href='/grenada/')
              .fl468
              span Гренада
          li
            a(href='/greece/')
              .fl469
              span Греция
          li
            a(href='/georgia/')
              .fl470
              span Грузия
        .bukva Д
        ul.country
          li
            a(href='/daniya/')
              .fl471
              span Дания
          li
            a(href='/demokraticheskaya-respublika-kongo/')
              .fl472
              span Д.Р. Конго
          li
            a(href='/dzhersi/')
              .fl16795
              span Джерси
          li
            a(href='/djibouti/')
              .fl473
              span Джибути
          li
            a(href='/dominica/')
              .fl474
              span Доминика
          li
            a(href='/dominikana/')
              .fl475
              span Доминикана
        .bukva(style='display: block;') Е
        ul.country
          li
            a(href='/egypt/')
              .fl476
              span Египет
        .bukva(style='display: block;') З
        ul.country
          li
            a(href='/zambia/')
              .fl477
              span Замбия
          li
            a(href='/zimbabwe/')
              .fl478
              span Зимбабве
        .bukva И
        ul.country
          li
            a(href='/izrail/')
              .fl479
              span Израиль
          li
            a(href='/india/')
              .fl480
              span Индия
          li
            a(href='/indonesia/')
              .fl481
              span Индонезия
          li
            a(href='/iordaniya/')
              .fl482
              span Иордания
          li
            a(href='/iraq/')
              .fl483
              span Ирак
          li
            a(href='/iran/')
              .fl484
              span Иран
          li
            a(href='/ireland/')
              .fl485
              span Ирландия
          li
            a(href='/islandiya/')
              .fl486
              span Исландия
          li
            a(href='/spain/')
              .fl487
              span Испания
          li
            a(href='/italia/')
              .fl488
              span Италия
        .bukva(style='display: block;') Й
        ul.country
          li
            a(href='/yemen/')
              .fl489
              span Йемен
        .bukva К
        ul.country
          li
            a(href='/cabo-verde/')
              .fl490
              span Кабо-Верде
          li
            a(href='/kazakhstan/')
              .fl491
              span Казахстан
          li
            a(href='/cambodia/')
              .fl492
              span Камбоджа
          li
            a(href='/cameroon/')
              .fl493
              span Камерун
          li
            a(href='/canada/')
              .fl494
              span Канада
          li
            a(href='/qatar/')
              .fl495
              span Катар
          li
            a(href='/kenya/')
              .fl496
              span Кения
          li
            a(href='/cyprus/')
              .fl497
              span Кипр
          li
            a(href='/kyrgyzstan/')
              .fl498
              span Киргизия
          li
            a(href='/kiribati/')
              .fl499
              span Кирибати
          li
            a(href='/china/')
              .fl500
              span Китай
          li
            a(href='/colombia/')
              .fl501
              span Колумбия
          li
            a(href='/kokosovye-ostrova/')
              .fl16796
              span Кокосовые острова
          li
            a(href='/komorskie-ostrova/')
              .fl502
              span Коморские Острова
          li
            a(href='/congo/')
              .fl503
              span Конго
          li
            a(href='/kndr/')
              .fl504
              span КНДР
          li
            a(href='/korea/')
              .fl505
              span Корея
          li
            a(href='/kosta-rika/')
              .fl506
              span Коста-Рика
          li
            a(href='/kot-d-ivoire/')
              .fl507
              span Кот-д'Ивуар
          li
            a(href='/cuba/')
              .fl508
              span Куба
          li
            a(href='/kuwait/')
              .fl509
              span Кувейт
          li
            a(href='/kyurasao/')
              .fl16746
              span Кюрасао
        .bukva Л
        ul.country
          li
            a(href='/laos/')
              .fl510
              span Лаос
          li
            a(href='/latvia/')
              .fl511
              span Латвия
          li
            a(href='/lesotho/')
              .fl512
              span Лесото
          li
            a(href='/liberia/')
              .fl513
              span Либерия
          li
            a(href='/livan/')
              .fl514
              span Ливан
          li
            a(href='/liviya/')
              .fl515
              span Ливия
          li
            a(href='/lithuania/')
              .fl516
              span Литва
          li
            a(href='/liechtenstein/')
              .fl517
              span Лихтенштейн
          li
            a(href='/luxembourg/')
              .fl518
              span Люксембург
        .bukva М
        ul.country
          li
            a(href='/mauritius/')
              .fl519
              span Маврикий
          li
            a(href='/mavritaniya/')
              .fl520
              span Мавритания
          li
            a(href='/madagascar/')
              .fl521
              span Мадагаскар
          li
            a(href='/makedonia/')
              .fl522
              span Македония
          li
            a(href='/malawi/')
              .fl523
              span Малави
          li
            a(href='/malaysia/')
              .fl524
              span Малайзия
          li
            a(href='/mali/')
              .fl525
              span Мали
          li
            a(href='/malta/')
              .fl526
              span Мальта
          li
            a(href='/maldives/')
              .fl527
              span Мальдивы
          li
            a(href='/morocco/')
              .fl528
              span Марокко
          li
            a(href='/marshallovy-ostrova/')
              .fl529
              span Маршалловы Острова
          li
            a(href='/mexico/')
              .fl530
              span Мексика
          li
            a(href='/mozambique/')
              .fl531
              span Мозамбик
          li
            a(href='/moldova/')
              .fl532
              span Молдавия (Молдова)
          li
            a(href='/monaco/')
              .fl533
              span Монако
          li
            a(href='/mongolia/')
              .fl534
              span Монголия
          li
            a(href='/myanmar/')
              .fl535
              span Мьянма
        .bukva Н
        ul.country
          li
            a(href='/namibia/')
              .fl536
              span Намибия
          li
            a(href='/nauru/')
              .fl537
              span Науру
          li
            a(href='/nepal/')
              .fl538
              span Непал
          li
            a(href='/niger/')
              .fl539
              span Нигер
          li
            a(href='/nigeria/')
              .fl540
              span Нигерия
          li
            a(href='/netherlands/')
              .fl541
              span Нидерланды
          li
            a(href='/nicaragua/')
              .fl542
              span Никарагуа
          li
            a(href='/novaya-zelandiya/')
              .fl543
              span Новая Зеландия
          li
            a(href='/norway/')
              .fl544
              span Норвегия
        .bukva(style='display: block;') О
        ul.country
          li
            a(href='/oae/')
              .fl545
              span ОАЭ
          li
            a(href='/oman/')
              .fl546
              span Оман
          li
            a(href='/ostrova-kuka/')
              .fl16797
              span Острова Кука
        .bukva П
        ul.country
          li
            a(href='/pakistan/')
              .fl547
              span Пакистан
          li
            a(href='/palau/')
              .fl548
              span Палау
          li
            a(href='/panama/')
              .fl549
              span Панама
          li
            a(href='/papua-novaya-gvineya/')
              .fl550
              span Папуа-Новая Гвинея
          li
            a(href='/paraguay/')
              .fl551
              span Парагвай
          li
            a(href='/peru/')
              .fl552
              span Перу
          li
            a(href='/puerto-riko/')
              .fl16097
              span Пуэрто-Рико
          li
            a(href='/poland/')
              .fl553
              span Польша
          li
            a(href='/portugaliya/')
              .fl554
              span Португалия
        .bukva Р
        ul.country
          li
            a(href='/russia/')
              .fl393
              span Россия
          li
            a(href='/rwanda/')
              .fl555
              span Руанда
          li
            a(href='/romania/')
              .fl556
              span Румыния
        .bukva С
        ul.country
          li
            a(href='/saba/')
              .fl16798
              span Саба
          li
            a(href='/salvador/')
              .fl557
              span Сальвадор
          li
            a(href='/samoa/')
              .fl558
              span Самоа
          li
            a(href='/san-marino/')
              .fl559
              span Сан-Марино
          li
            a(href='/san-tome-i-prinsipi/')
              .fl560
              span Сан-Томе и Принсипи
          li
            a(href='/saudovskaya-araviya/')
              .fl561
              span Саудовская Аравия
          li
            a(href='/swaziland/')
              .fl562
              span Свазиленд
          li
            a(href='/seychelles/')
              .fl563
              span Сейшелы
          li
            a(href='/senegal/')
              .fl564
              span Сенегал
          li
            a(href='/sent-vinsent-i-grenadiny/')
              .fl565
              span Сент-Винсент и Гренадины
          li
            a(href='/sent-kits-i-nevis/')
              .fl566
              span Сент-Китс и Невис
          li
            a(href='/saint-lucia/')
              .fl567
              span Сент-Люсия
          li
            a(href='/sen-marten/')
              .fl16799
              span Сен-Мартен
          li
            a(href='/serbia/')
              .fl568
              span Сербия
          li
            a(href='/singapore/')
              .fl569
              span Сингапур
          li
            a(href='/sint-estatius/')
              .fl16800
              span Синт-Эстатиус
          li
            a(href='/syria/')
              .fl570
              span Сирия
          li
            a(href='/slovakia/')
              .fl571
              span Словакия
          li
            a(href='/slovenia/')
              .fl572
              span Словения
          li
            a(href='/usa/')
              .fl573
              span США
          li
            a(href='/solomonovy-ostrova/')
              .fl574
              span Соломоновы Острова
          li
            a(href='/somali/')
              .fl575
              span Сомали
          li
            a(href='/sudan/')
              .fl576
              span Судан
          li
            a(href='/suriname/')
              .fl577
              span Суринам
          li
            a(href='/sierra-leone/')
              .fl578
              span Сьерра-Леоне
        .bukva(style='display: block;') Т
        ul.country
          li
            a(href='/tadzhikistan/')
              .fl579
              span Таджикистан
          li
            a(href='/thailand/')
              .fl580
              span Таиланд
          li
            a(href='/tanzania/')
              .fl581
              span Танзания
          li
            a(href='/togo/')
              .fl582
              span Того
          li
            a(href='/tokelau/')
              .fl16801
              span Токелау
          li
            a(href='/tonga/')
              .fl583
              span Тонга
          li
            a(href='/trinidad-and-tobago/')
              .fl584
              span Тринидад и Тобаго
          li
            a(href='/tuvalu/')
              .fl585
              span Тувалу
          li
            a(href='/tunisia/')
              .fl586
              span Тунис
          li
            a(href='/turkmenistan/')
              .fl587
              span Туркменистан
          li
            a(href='/turkey/')
              .fl588
              span Турция
        .bukva У
        ul.country
          li
            a(href='/uganda/')
              .fl589
              span Уганда
          li
            a(href='/uzbekistan/')
              .fl590
              span Узбекистан
          li
            a(href='/ukraina/')
              .fl591
              span Украина
          li
            a(href='/uollis-i-futuna/')
              .fl16802
              span Уоллис и Футуна
          li
            a(href='/uruguay/')
              .fl592
              span Уругвай
        .bukva Ф
        ul.country
          li
            a(href='/farerskie-ostrova/')
              .fl16803
              span Фарерские острова
          li
            a(href='/federativnye-shtaty-mikronezii/')
              .fl593
              span Фед. Штаты Микронезии
          li
            a(href='/fiji/')
              .fl594
              span Фиджи
          li
            a(href='/philippines/')
              .fl595
              span Филиппины
          li
            a(href='/finland/')
              .fl596
              span Финляндия
          li
            a(href='/folklendskie-ostrova/')
              .fl16804
              span Фолклендские острова
          li
            a(href='/france/')
              .fl597
              span Франция
          li
            a(href='/frantsuzskaya-polineziya/')
              .fl16776
              span Французская Полинезия
        .bukva Х
        ul.country
          li
            a(href='/croatia/')
              .fl598
              span Хорватия
        .bukva(style='display: block;') Ц
        ul.country
          li
            a(href='/car/')
              .fl599
              span ЦАР
        .bukva Ч
        ul.country
          li
            a(href='/chad/')
              .fl600
              span Чад
          li
            a(href='/montenegro/')
              .fl601
              span Черногория
          li
            a(href='/chekhiya/')
              .fl602
              span Чехия
          li
            a(href='/chile/')
              .fl603
              span Чили
        .bukva Ш
        ul.country
          li
            a(href='/switzerland/')
              .fl604
              span Швейцария
          li
            a(href='/sweden/')
              .fl605
              span Швеция
          li
            a(href='/sri-lanka/')
              .fl606
              span Шри-Ланка
        .bukva Э
        ul.country
          li
            a(href='/ecuador/')
              .fl607
              span Эквадор
          li
            a(href='/equatorial-guinea/')
              .fl608
              span Экваториальная Гвинея
          li
            a(href='/eritrea/')
              .fl609
              span Эритрея
          li
            a(href='/estonia/')
              .fl610
              span Эстония
          li
            a(href='/ethiopia/')
              .fl611
              span Эфиопия
        .bukva(style='display: block;') Ю
        ul.country
          li
            a(href='/yuar/')
              .fl612
              span ЮАР
          li
            a(href='/yuzhnyy-sudan/')
              .fl16805
              span Южный Судан
        .bukva(style='display: block;') Я
        ul.country
          li
            a(href='/jamaica/')
              .fl613
              span Ямайка
          li
            a(href='/japan/')
              .fl614
              span Япония
  +footer
