extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      +breadcrumbs({
        links: ['Каталог курсов']
      })
    .container
      .d-flex
        a.link-back.link-back--new.mr-20.mt-5(href="#")
        .row
          .col-lg-8
            h3.mb-10.font-weight-bold Каталог курсов
            p.p--sm.mb-0 Вам не нужно это читать, если ваша работа полностью эффективна, производительность – космически высока, переговоры всегда успешны, душевное равновесие непоколебимо.
    .course
      .container
        .course__header
          p.course__header-text.mb-0 Всем остальным – добро пожаловать на курсы по прокачке Soft skills («гибкие навыки» - англ.): это комплекс неспециализированных надпрофессиональных навыков, от которых зависит рабочая производительность и, опосредованно – карьерный успех.
          a.course__logo(href="#")
            img.img-fluid(src="./img/course-logo.png", alt)
        p.font-weight-bold.mb-20.mb-lg-65 Чему учат на курсах по развитию Soft skills:
        .row
          .col-sm-6.col-lg-4
            +part({
              icon: 'part-1.svg',
              dscr: 'Как справляться с эмоциями и не давать им расправляться с собой'
            })
          .col-sm-6.col-lg-4
            +part({
              icon: 'part-2.svg',
              dscr: 'Как перехватывать руль переговоров и проводить их успешно'
            })
          .col-sm-6.col-lg-4
            +part({
              icon: 'part-3.svg',
              dscr: 'Как составлять эффективные деловые письма'
            })
          .col-sm-6.col-lg-4
            +part({
              icon: 'part-4.svg',
              dscr: 'Как проводить блестящие публичные выступления без волнения, неловких пауз, забытых тезисов'
            })
          .col-sm-6.col-lg-4
            +part({
              icon: 'part-5.svg',
              dscr: 'Как сплотить и вдохновить команду, как превратить её недостатки в топливо на пути к успеху'
            })
          .col-sm-6.col-lg-4
            +part({
              icon: 'part-6.svg',
              dscr: 'Как достигать целей в общении и выстраивать эффективные коммуникации, даже если вы интроверт'
            })
        p.p--sm.mb-0 … и многое другое!
        .course__bar
          p.font-weight-bold.course__bar-text Для перехода в каталог курсов жмите на кнопку: там вас ждут более подробные описания каждого навыка и собственно курсы. 
            span.text-primary-new Удачи!
          a.btn.btn-secondary.btn-secondary--new(href="#") Смотреть курсы
        .row
          .col-lg-6.offset-lg-3
            .course__footer
              a.course__footer-logo(href="#")
                img(src="./img/course-footer-logo.jpeg")
              p.course__footer-text.mb-0 проект создан при поддержке платформы АИС «Молодые соотечественники» и Международной Академии Бизнеса и Новых Технологий (МУБиНТ)
  +footer
