extends ../templates/template.pug
block content
  +header({
    type: 'enter',
    version: 'new'
  }).header--enter
  +front({
    version: 'new'
  })
  +footer({
    modifier: 'grid',
    version: 'new'
  }).footer--enter
