extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      +breadcrumbs({
        links: ['Календарь', 'Название мероприятия']
      })
    .container
      .event
        .row.no-gutters
          .col-lg-6
            .event__header(style="background-color: #b381d3;")
              h2.text-white.mb-15 18 июля
              h1.event__title Название мероприятия
              .event__header-bottom
                .event__header-bottom-left
                  p.p--sm.mb-5 г. Санкт-Петербург, Россия
                  p.p--sm.mb-0.text-underline тип мероприятия (цвет)
                a.btn.btn-primary.btn-secondary(href="#") Учавствовать
          .col-lg-6.event__cover(style="background-image: url(./img/event-article.jpg);")
        .row.no-gutters
          .col-lg-6
            .event__content
              h4.font-weight-normal.mb-30 Описание мероприятия
              p.p--sm Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.
              p.p--sm Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.
              img.img-fluid.mb-25(src="./img/event-article-1.jpg", alt)
              p.p--sm достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.
              p.p--sm Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.
          .col-lg-6
            .event__contacts
              .event__contacts-header
                p.p--sm.font-weight-bold.text-dark.mb-0 Контактное лицо
                a.event__contacts-write(href="#") Написать сообщение
              .row
                .col-xl-6
                  .event__contacts-content
                    .event__contacts-photo(style="background-image: url(./img/event-userpic.jpg);")
                    .event__contacts-info
                      p.mb-0 Виктор Калганов
                      p.p--sm.mb-0 Название компании
                      p.p--sm.mb-0 г. Москва
                .col-xl-6
                  .event__contacts-numbers
                    a.event__contacts-email(href="mailto:aeronet.nti@gmail.com") aeronet.nti@gmail.com
                    a.event__contacts-phone(href="tel:+7(495)777-01-04") +7 (495) 777-01-04
            .event__address
              h4.my-35 Контакты
              +map.event__map
              p.p--sm.mt-20
                span.font-weight-bold Адрес: 
                | Россия, г. Москва, Малый Конюшковский переулок, д. 2,
            .event__documents
              h4.font-weight-normal.mb-30 Документы 
              .row
                .col-sm-6
                  +document({
                    title: 'Презентация такой то компании которая проводит семинар, название в пару строк'
                  })
                .col-sm-6
                  +document({
                    title: 'Презентация такой то компании которая проводит семинар, название в пару строк'
                  })
                .col-sm-6
                  +document({
                    title: 'Презентация такой то компании которая...'
                  })
                .col-sm-6
                  +document({
                    title: 'Презентация такой то компании которая...'
                  })
      hr.mb-30
  .bg-gray.pt-30.pt-lg-60.pb-30
    .container
      h2.font-weight-normal.mb-35 Похожие мероприятия
      .row
        .col-sm-6.col-md-4.col-xl-3.d-flex
          +item({
            dates: '18-20 июня',
            place: 'г. Рим, Италия',
            color: '#65a18d'
          })
        .col-sm-6.col-md-4.col-xl-3.d-flex
          +item({
            dates: '18-20 июня',
            place: 'г. Москва, Россия',
            color: '#6fb5bf'
          })
        .col-sm-6.col-md-4.col-xl-3.d-flex
          +item({
            dates: '18-20 июня',
            place: 'г. Санкт-Петербург, Россия',
            color: '#6fb5bf'
          })
        .col-sm-6.col-md-4.col-xl-3.d-flex
          +item({
            dates: '18-20 июня',
            place: 'г. Алма-Аты, Казахстан',
            color: '#81a6d3'
          })
        .col-sm-6.col-md-4.col-xl-3.d-flex
          +item({
            dates: '3 июля',
            place: 'г. Лондон, Великобритания',
            color: '#d381a8'
          })
        .col-sm-6.col-md-4.col-xl-3.d-flex
          +item({
            dates: '18-20 июня',
            place: 'г. Санкт-Петербург',
            color: '#d3c581'
          })
        .col-sm-6.col-md-4.col-xl-3.d-flex
          +item({
            dates: '18 июля',
            place: 'г. Санкт-Петербург, Россия',
            color: '#b381d3'
          })
        .col-sm-6.col-md-4.col-xl-3.d-flex
          +item({
            dates: '18-20 июня',
            place: 'г. Рим, Италия',
            color: '#65a18d'
          })
  .container.pt-30.pt-lg-50
    .d-md-flex.align-items-center.mb-40
      h2.font-weight-normal.mb-20.mb-md-0.mr-sm-55 Последние опубликованные материалы
      a.btn.btn-outline-secondary(href="#") Смотреть все
    .row
      .col-lg-6.d-flex
        +material({
          picture: 'material-13.jpg',
          header: 'Отборочные соревнования для участия',
          dscr: '13 марта в Российском центре науки и культуры в Бухаресте состоялись отборочные соревнования по теннису и шахматам среди юных участников... Четвертых Всеми',
          modifier: 'big'
        }).material--big
      .col-sm-6.col-lg-3.d-flex
        +material({
          picture: 'material-2.jpg',
          header: 'Молодые соотечественники в Индии',
          dscr: 'Индийская столица стала центром молодёжного движения российских соотечественников'
        })
      .col-sm-6.col-lg-3.d-flex
        +material({
          picture: 'material-3.jpg',
          header: 'XII Региональная конференция российских соотечественников',
          dscr: 'Совет Ассоциации российских соотечественников Клуба «Жаркий» совместно с Посольством РФ ...'
        })
  +footer
