extends ../templates/template.pug
block content
  +header
  .wrapper.wrapper--light.pb-30.pb-sm-50
    .container
      +breadcrumbs({
        links: ['Контакты']
      })
      h2.h2--lg.mt-15.mb-15 FAQ
      +question({
        title: 'Как быстро убрать синяк на щеке?'
      })
      +question({
        title: 'Как открыть деревянную раму с двойным остекление?'
      })
      +question({
        title: 'С чем подать салат из свежих огурцов и помидоров?'
      })
      +question({
        title: 'Где можно задать вопрос и получить на него ответ?'
      })
  +footer
