extends ../templates/template.pug
block content
  +header
  .wrapper
    .bg-gray
      .container
        +breadcrumbs({
          links: ['Группы и объединения']
        })
      .container
        .friends
          .bar
            h3.mb-0.font-weight-bold Наши соотечественники
            .bar__content
              +select({
                placeholder: 'Страна'
              }).bar__select
              +search({
                placeholder: 'Поиск по ФИО'
              }).bar__search.bar__search--transparent
          .row.mt-30
            .col-lg-3
              .sidebar
                a.sidebar__link(href="#") Все соотечественниики
                a.sidebar__link.sidebar__link--active(href="#") Мои друзья
                  .sidebar__link-number 2500
                a.sidebar__link(href="#") Заявки в друзья
                  .sidebar__link-number 12
            .col-lg-9
              .wrapper__white-content
                .row
                  .col-sm-6
                    +member({
                      photo: 'member-7.png',
                      name: 'Александр Максагонов'
                    }).mb-30.member--new.member--online
                  .col-sm-6
                    +member({
                      photo: 'member-7.png',
                      name: 'Александр Максагонов'
                    }).mb-30.member--new.member--online
  +footer
