extends ../templates/template.pug
block content
  +header
  .wrapper
    .bg-gray
      .container
        +breadcrumbs({
          links: ['Группы и объединения']
        })
      .container
        .friends
          .bar
            h3.mb-0.font-weight-bold Наши соотечественники
            .bar__content
              +select({
                placeholder: 'Страна'
              }).bar__select
              +search({
                placeholder: 'Поиск по ФИО'
              }).bar__search.bar__search--transparent
          .row.mt-30
            .col-lg-3
              .sidebar
                a.sidebar__link(href="#") Все соотечественниики
                a.sidebar__link(href="#") Мои друзья
                  .sidebar__link-number 2500
                a.sidebar__link.sidebar__link--active(href="#") Заявки в друзья
                  .sidebar__link-number 12
            .col-lg-9
              .wrapper__white-content.wrapper__white-content--tabbed
                ul.nav.nav-tabs.nav-tabs--white.mb-0
                  li.nav-item
                    a.nav-link(data-toggle='tab', href='#income') Входящие
                      span 5
                  li.nav-item
                    a.nav-link.active(data-toggle='tab', href='#outcome') Исходящие
                      span 5
                .tab-content.wrapper__white-content-tabs
                  #income.tab-pane.fade(role='tabpanel')
                    .row
                      .col-sm-6
                        +member({
                          photo: 'member-7.png',
                          name: 'Александр Максагонов',
                          modifier: 'friend'
                        }).mb-30.member--new
                      .col-sm-6
                        +member({
                          photo: 'member-7.png',
                          name: 'Александр Максагонов',
                          modifier: 'friend'
                        }).mb-30.member--new
                      .col-sm-6
                        +member({
                          photo: 'member-7.png',
                          name: 'Александр Максагонов',
                          modifier: 'friend'
                        }).mb-30.member--new
                      .col-sm-6
                        +member({
                          photo: 'member-7.png',
                          name: 'Александр Максагонов',
                          modifier: 'friend'
                        }).mb-30.member--new
                      .col-sm-6
                        +member({
                          photo: 'member-7.png',
                          name: 'Александр Максагонов',
                          modifier: 'friend'
                        }).mb-30.member--new
                      .col-sm-6
                        +member({
                          photo: 'member-7.png',
                          name: 'Александр Максагонов',
                          modifier: 'friend'
                        }).mb-30.member--new
                      .col-sm-6
                        +member({
                          photo: 'member-7.png',
                          name: 'Александр Максагонов',
                          modifier: 'friend'
                        }).mb-30.member--new
                      .col-sm-6
                        +member({
                          photo: 'member-7.png',
                          name: 'Александр Максагонов',
                          modifier: 'friend'
                        }).mb-30.member--new
                  #outcome.tab-pane.fade.show.active(role='tabpanel')
                    .row
                      .col-sm-6
                        +member({
                          photo: 'member-8.png',
                          name: 'Александр Максагонов',
                          modifier: 'sent'
                        }).mb-30.member--online.member--new
                      .col-sm-6
                        +member({
                          photo: 'member-8.png',
                          name: 'Александр Максагонов',
                          modifier: 'refused'
                        }).mb-30.member--online.member--new
  +footer
