extends ../templates/template.pug
block content
  +header
  .wrapper.pb-30.pb-sm-50
    .container
      +breadcrumbs({
        links: ['Группы', 'Название группы', 'Альбомы']
      })
      +link-back({
        title: 'Альбомы группы'
      }).link-back--title.mb-20
      a.btn.btn-outline-blue.w-100(href="#") Добавить альбом
      .row.mt-35
        .col-sm-6.col-lg-4.col-xl-3
          +album
        .col-sm-6.col-lg-4.col-xl-3
          +album
        .col-sm-6.col-lg-4.col-xl-3
          +album
        .col-sm-6.col-lg-4.col-xl-3
          +album
        .col-sm-6.col-lg-4.col-xl-3
          +album
        .col-sm-6.col-lg-4.col-xl-3
          +album
        .col-sm-6.col-lg-4.col-xl-3
          +album
        .col-sm-6.col-lg-4.col-xl-3
          +album
  +footer
