extends ../templates/template.pug
block content
  +header
  .bg-gray.pb-30.pb-lg-60
    .wrapper
      .container
        +breadcrumbs({
          links: ['Группы и объединения']
        })
      .container
        .group
          .row
            .col-lg-8.col-xl-9
              .group__content
                .group__header-wrapper
                  .d-flex.align-items-center
                    a.link-back.mr-10(href="#")
                    p.p--sm.mb-0 К списку групп
                  .group__header
                    img.group__header-picture(src="./img/group-article.png", alt)
                    .group__header-content
                      h3.mb-20.font-weight-bold.text-primary Название группы
                      p.mb-10.text-gray.p--sm г. Санкт-Петербург, Россия
                      p.mb-0.p--sm 2 500 участников
                .nav-tabs__wrapper.group__tabs.mb-20
                  ul.nav.nav-tabs.group__nav-tabs.mb-0
                    li.nav-item
                      a.nav-link.active(data-toggle='tab', href='#info') Информация о группе
                    li.nav-item
                      a.nav-link(data-toggle='tab', href='#members') Участники группы (256)
                .tab-content
                  #info.tab-pane.fade.show.active(role='tabpanel')
                    .p-20
                      p.mb-0 Читаемый текст мешает сосредоточиться. используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показыв
                    .group__section
                      .group__section-header
                        p.font-weight-bold.text-primary-new.mb-10.mb-md-0 Альбомы группы
                        a.p.font-weight-bold.text-primary-new.mb-0(href="#") Смотреть все (14)
                      .group__albums-wrapper
                        .group__albums.scrollbar--x
                          +album.album--short.group__albums-item
                          +album.album--short.group__albums-item
                          +album.album--short.group__albums-item
                          +album.album--short.group__albums-item
                          +album.album--short.group__albums-item
                          +album.album--short.group__albums-item
                          +album.album--short.group__albums-item
                          +album.album--short.group__albums-item
                    .group__articles-list
                      .group__search-wrapper
                        +search({
                          placeholder: 'Поиск по темам'
                        }).group__search
                        a.btn.btn-secondary(href="#") Новая тема
                      +card({
                        dscr: 'Читаемый текст мешает сосредоточиться. используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие',
                        picture: 'card-1.jpg'
                      })
                      +card({
                        dscr: 'Читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов ',
                        picture: 'card-2.jpg'
                      })
                      .text-center.mt-30
                        a.btn.btn-outline-secondary(href="#") Загрузить еще
                  #members.tab-pane.fade.pt-10.px-20.pb-30(role='tabpanel')
                    +search({
                      placeholder: 'Поиск по участникам'
                    }).mb-25
                    .row
                      .col-sm-6.col-lg-4
                        +member({
                          photo: 'member-1.jpg',
                          name: 'Александр Максагонов',
                          modifier: 'short'
                        }).member--online.member--default.member--short
                      .col-sm-6.col-lg-4
                        +member({
                          photo: 'member-2.jpg',
                          name: 'Александр Максагонов',
                          modifier: 'short'
                        }).member--online.member--default.member--short
                      .col-sm-6.col-lg-4
                        +member({
                          photo: 'member-3.jpg',
                          name: 'Александра Викторова',
                          modifier: 'short'
                        }).member--online.member--default.member--short
                      .col-sm-6.col-lg-4
                        +member({
                          photo: 'member-4.jpg',
                          name: 'Александра Петрова',
                          modifier: 'short'
                        }).member--online.member--default.member--short
                      .col-sm-6.col-lg-4
                        +member({
                          photo: 'member-5.jpg',
                          name: 'Вероника Маркова',
                          modifier: 'short'
                        }).member--online.member--default.member--short
                      .col-sm-6.col-lg-4
                        +member({
                          photo: 'member-6.jpg',
                          name: 'Леонид Викторов',
                          modifier: 'short'
                        }).member--online.member--default.member--short
                      .col-sm-6.col-lg-4
                        +member({
                          photo: 'member-1.jpg',
                          name: 'Александр Максагонов',
                          modifier: 'short'
                        }).member--online.member--default.member--short
                      .col-sm-6.col-lg-4
                        +member({
                          photo: 'member-2.jpg',
                          name: 'Александр Максагонов',
                          modifier: 'short'
                        }).member--online.member--default.member--short
                      .col-sm-6.col-lg-4
                        +member({
                          photo: 'member-3.jpg',
                          name: 'Александра Викторова',
                          modifier: 'short'
                        }).member--online.member--default.member--short
                      .col-sm-6.col-lg-4
                        +member({
                          photo: 'member-4.jpg',
                          name: 'Александра Петрова',
                          modifier: 'short'
                        }).member--online.member--default.member--short
                      .col-sm-6.col-lg-4
                        +member({
                          photo: 'member-5.jpg',
                          name: 'Вероника Маркова',
                          modifier: 'short'
                        }).member--online.member--default.member--short
                      .col-sm-6.col-lg-4
                        +member({
                          photo: 'member-6.jpg',
                          name: 'Леонид Викторов',
                          modifier: 'short'
                        }).member--online.member--default.member--short
                      .col-sm-6.col-lg-4
                        +member({
                          photo: 'member-1.jpg',
                          name: 'Александр Максагонов',
                          modifier: 'short'
                        }).member--online.member--default.member--short
                      .col-sm-6.col-lg-4
                        +member({
                          photo: 'member-2.jpg',
                          name: 'Александр Максагонов',
                          modifier: 'short'
                        }).member--online.member--default.member--short
                      .col-sm-6.col-lg-4
                        +member({
                          photo: 'member-3.jpg',
                          name: 'Александра Викторова',
                          modifier: 'short'
                        }).member--online.member--default.member--short
                      .col-sm-6.col-lg-4
                        +member({
                          photo: 'member-4.jpg',
                          name: 'Александра Петрова',
                          modifier: 'short'
                        }).member--online.member--default.member--short
                      .col-sm-6.col-lg-4
                        +member({
                          photo: 'member-5.jpg',
                          name: 'Вероника Маркова',
                          modifier: 'short'
                        }).member--online.member--default.member--short
                      .col-sm-6.col-lg-4
                        +member({
                          photo: 'member-6.jpg',
                          name: 'Леонид Викторов',
                          modifier: 'short'
                        }).member--online.member--default.member--short
                      .col-sm-6.col-lg-4
                        +member({
                          photo: 'member-1.jpg',
                          name: 'Александр Максагонов',
                          modifier: 'short'
                        }).member--online.member--default.member--short
                      .col-sm-6.col-lg-4
                        +member({
                          photo: 'member-2.jpg',
                          name: 'Александр Максагонов',
                          modifier: 'short'
                        }).member--online.member--default.member--short
                      .col-sm-6.col-lg-4
                        +member({
                          photo: 'member-3.jpg',
                          name: 'Александра Викторова',
                          modifier: 'short'
                        }).member--online.member--default.member--short
                      .col-sm-6.col-lg-4
                        +member({
                          photo: 'member-4.jpg',
                          name: 'Александра Петрова',
                          modifier: 'short'
                        }).member--online.member--default.member--short
                      .col-sm-6.col-lg-4
                        +member({
                          photo: 'member-5.jpg',
                          name: 'Вероника Маркова',
                          modifier: 'short'
                        }).member--online.member--default.member--short
                      .col-sm-6.col-lg-4
                        +member({
                          photo: 'member-6.jpg',
                          name: 'Леонид Викторов',
                          modifier: 'short'
                        }).member--online.member--default.member--short
                    .text-center.mt-20
                      a.btn.btn-outline-secondary(href="#") Загрузить еще
            .col-lg-4.col-xl-3
              a.btn.btn-blue.w-100.mb-35(href="#") Создать группу
              .d-flex.align-items-center
                p.mb-0.text-primary.mr-15 Мои группы (25)
                a.btn.btn-secondary.btn-sm(href="#") Все
              .group__aside-section
                .row
                  .col-sm-6.col-lg-12
                    +group-item({
                      picture: 'group-1.jpg',
                      city: 'г. Санкт-Петербург, Россия'
                    }).bg-white.mb-15
                  .col-sm-6.col-lg-12
                    +group-item({
                      picture: 'group-2.jpg',
                      city: 'г. Санкт-Петербург, Россия'
                    }).bg-white.mb-15
                  .col-sm-6.col-lg-12
                    +group-item({
                      picture: 'group-3.jpg',
                      city: 'г. Санкт-Петербург, Россия'
                    }).bg-white.mb-15
                  .col-sm-6.col-lg-12
                    +group-item({
                      picture: 'group-4.jpg',
                      city: 'г. Санкт-Петербург, Россия'
                    }).bg-white.mb-15
              .d-flex.align-items-center
                p.mb-0.text-primary.mr-15 Участники (256)
                a.btn.btn-secondary.btn-sm(href="#") Все
              .group__aside-section
                .row
                  .col-sm-6.col-lg-12
                    +member({
                      photo: 'member-1.jpg',
                      name: 'Александр Максагонов',
                      modifier: 'default'
                    }).member--online.member--default
                  .col-sm-6.col-lg-12
                    +member({
                      photo: 'member-1.jpg',
                      name: 'Александр Максагонов',
                      modifier: 'default'
                    }).member--online.member--default
                  .col-sm-6.col-lg-12
                    +member({
                      photo: 'member-1.jpg',
                      name: 'Александр Максагонов',
                      modifier: 'default'
                    }).member--online.member--default
                  .col-sm-6.col-lg-12
                    +member({
                      photo: 'member-1.jpg',
                      name: 'Александр Максагонов',
                      modifier: 'default'
                    }).member--online.member--default
              .group__aside-section
                h5 Контакты
                +member({
                  photo: 'member-1.jpg',
                  name: 'Александр Максагонов',
                  modifier: 'contact'
                }).member--default
                +member({
                  photo: 'member-1.jpg',
                  name: 'Александр Максагонов',
                  modifier: 'contact'
                }).member--default
                +member({
                  photo: 'member-1.jpg',
                  name: 'Александр Максагонов',
                  modifier: 'contact'
                }).member--default
  +modal#modal
  +footer
