extends ../templates/template.pug
block content
  +header
  .wrapper.pb-30.pb-sm-50
    .container
      +breadcrumbs({
        links: ['Группы', 'Название группы', 'Альбомы', 'Новый альбом']
      })
      .row
        .col-xl-4
          +link-back({
            title: 'Новый альбом',
            comment: 'Поясняющая информация в несколько строк для наглядности отображения'
          }).link-back--title.mb-20
    form.form.form--bordered(action="#", method="post")
      .container
        .row
          .col-lg-4
            p.sm.text-dark-new.font-weight-bold Основная информация
          .col-lg-8
            .form__item.form-group
              label.form__label Название альбома
              input.input.form-control(type="text", placeholder="Введите название")
            .form__item.form-group
              label.form__label Описание альбома
              textarea.input.input--textarea(placeholder="Введите название")
        .form__section
          .row
            .col-lg-4
              p.sm.text-dark-new.font-weight-bold Фото
            .col-lg-8
              .row
                .col-xl-3.col-sm-4.col-6.d-flex
                  .custom-file.custom-file--picture.custom-file--picture-responsive
                    input#customFile.custom-file-input(type='file')
                    label.custom-file-label.font-weight-bold(for='customFile')
                      .custom-file__size Выберите фото
                .col-xl-3.col-sm-4.col-6.d-flex
                  .form__album-item
                    a.form__album-item-remove(href="#")
                    img.form__album-item-picture(src="./img/album.jpg", alt)
                .col-xl-3.col-sm-4.col-6.d-flex
                  .form__album-item
                    a.form__album-item-remove(href="#")
                    img.form__album-item-picture(src="./img/album.jpg", alt)
                .col-xl-3.col-sm-4.col-6.d-flex
                  .form__album-item
                    a.form__album-item-remove(href="#")
                    img.form__album-item-picture(src="./img/album.jpg", alt)
                .col-xl-3.col-sm-4.col-6.d-flex
                  .form__album-item
                    a.form__album-item-remove(href="#")
                    img.form__album-item-picture(src="./img/album.jpg", alt)
                .col-xl-3.col-sm-4.col-6.d-flex
                  .form__album-item
                    a.form__album-item-remove(href="#")
                    img.form__album-item-picture(src="./img/album.jpg", alt)
                .col-xl-3.col-sm-4.col-6.d-flex
                  .form__album-item
                    a.form__album-item-remove(href="#")
                    img.form__album-item-picture(src="./img/album.jpg", alt)
                .col-xl-3.col-sm-4.col-6.d-flex
                  .form__album-item
                    a.form__album-item-remove(href="#")
                    img.form__album-item-picture(src="./img/album.jpg", alt)
        .form__album-footer
          p.sm.text-dark-new.mb-20.mb-sm-0 * - Поля обязательные для заполнения
          a.btn.btn-blue(href="#") Создать альбом
  +footer
