extends ../templates/template.pug
block content
  +header
  .bg-gray
    .wrapper
      .container
        +breadcrumbs({
          links: ['Группы и объединения']
        })
      .container
        .group
          .row
            .col-xl-9
              .bar
                h3.mb-0.font-weight-bold Группы и объединения
                .bar__content
                  +select({
                    placeholder: 'Страна'
                  }).bar__select
                  +search({
                    placeholder: 'Искать по названию'
                  }).bar__search
              .group__filters
                a.tag(href="#") Рим
                a.tag(href="#") Италия
                a.group__filters-remove(href="#") Сбросить фильтр
              +group-item({
                picture: 'group-6.jpg',
                title: 'Название группы',
                city: 'г. Санкт-Петербург, Россия',
                closed: true,
                modifier: 'big'
              }).group-item--big
              +group-item({
                picture: 'group-5.jpg',
                title: 'Русская молодежь Сан-Франциско',
                city: 'Сан-Франциско, США',
                modifier: 'big'
              }).group-item--big
              +group-item({
                picture: 'group-6.jpg',
                title: 'Соотечественники в Аргентине',
                city: 'Сан-Франциско, США',
                modifier: 'big'
              }).group-item--big
              +group-item({
                picture: 'group-7.jpg',
                title: 'Соотечественники в Аргентине',
                city: 'Сан-Франциско, США',
                modifier: 'big'
              }).group-item--big
              +group-item({
                picture: 'group-8.jpg',
                title: 'Ассоциация виноделов',
                city: 'Сан-Франциско, США',
                modifier: 'big'
              }).group-item--big
              +group-item({
                picture: 'group-5.jpg',
                title: 'Русская молодежь Сан-Франциско',
                city: 'Сан-Франциско, США',
                modifier: 'big'
              }).group-item--big
              +group-item({
                picture: 'group-6.jpg',
                title: 'Соотечественники в Аргентине',
                city: 'Сан-Франциско, США',
                modifier: 'big'
              }).group-item--big
              .text-center.mt-40.mb-35
                a.btn.btn-outline-secondary(href="#") Загрузить еще
            .col-xl-3
              a.btn.btn-blue.w-100.mb-35(href="#") Создать группу
              .d-flex.align-items-center
                p.mb-0.text-primary.mr-15 Мои группы (25)
                a.btn.btn-secondary.btn-sm(href="#") Все
              .group__aside-section
                .row
                  .col-sm-6.col-xl-12
                    +group-item({
                      picture: 'group-1.jpg',
                      city: 'г. Санкт-Петербург, Россия'
                    }).bg-white.mb-15
                  .col-sm-6.col-xl-12
                    +group-item({
                      picture: 'group-2.jpg',
                      city: 'г. Санкт-Петербург, Россия'
                    }).bg-white.mb-15
                  .col-sm-6.col-xl-12
                    +group-item({
                      picture: 'group-3.jpg',
                      city: 'г. Санкт-Петербург, Россия'
                    }).bg-white.mb-15
                  .col-sm-6.col-xl-12
                    +group-item({
                      picture: 'group-4.jpg',
                      city: 'г. Санкт-Петербург, Россия'
                    }).bg-white.mb-15
                  .col-sm-6.col-xl-12
                    +group-item({
                      picture: 'group-1.jpg',
                      city: 'г. Санкт-Петербург, Россия'
                    }).bg-white.mb-15
                  .col-sm-6.col-xl-12
                    +group-item({
                      picture: 'group-2.jpg',
                      city: 'г. Санкт-Петербург, Россия'
                    }).bg-white.mb-15
                  .col-sm-6.col-xl-12
                    +group-item({
                      picture: 'group-3.jpg',
                      city: 'г. Санкт-Петербург, Россия'
                    }).bg-white.mb-15
                  .col-sm-6.col-xl-12
                    +group-item({
                      picture: 'group-4.jpg',
                      city: 'г. Санкт-Петербург, Россия'
                    }).bg-white.mb-15
                  .col-sm-6.col-xl-12
                    +group-item({
                      picture: 'group-1.jpg',
                      city: 'г. Санкт-Петербург, Россия'
                    }).bg-white.mb-15
                  .col-sm-6.col-xl-12
                    +group-item({
                      picture: 'group-2.jpg',
                      city: 'г. Санкт-Петербург, Россия'
                    }).bg-white.mb-15
                  .col-sm-6.col-xl-12
                    +group-item({
                      picture: 'group-3.jpg',
                      city: 'г. Санкт-Петербург, Россия'
                    }).bg-white.mb-15
                  .col-sm-6.col-xl-12
                    +group-item({
                      picture: 'group-4.jpg',
                      city: 'г. Санкт-Петербург, Россия'
                    }).bg-white.mb-15
  +footer
