extends ../templates/template.pug
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom Список страниц
    .row
      .col-md-4
        ul.pl-0
          li(style="list-style: none;")
            a.d-block.my-20(href="main.html", style="font-size: 20px;") Main
          li(style="list-style: none;")
            a.d-block.my-20(href="enter.html", style="font-size: 20px;") Enter
          li(style="list-style: none;")
            a.d-block.my-20(href="enter-v2.html", style="font-size: 20px;") Enter-v2
          li(style="list-style: none;")
            a.d-block.my-20(href="materials.html", style="font-size: 20px;") Materials
          li(style="list-style: none;")
            a.d-block.my-20(href="section.html", style="font-size: 20px;") Section
          li(style="list-style: none;")
            a.d-block.my-20(href="article.html", style="font-size: 20px;") Article
          li(style="list-style: none;")
            a.d-block.my-20(href="news.html", style="font-size: 20px;") News
          li(style="list-style: none;")
            a.d-block.my-20(href="calendar.html", style="font-size: 20px;") Calendar
          li(style="list-style: none;")
            a.d-block.my-20(href="profile.html", style="font-size: 20px;") Profile
          li(style="list-style: none;")
            a.d-block.my-20(href="registration.html", style="font-size: 20px;") Registration
          li(style="list-style: none;")
            a.d-block.my-20(href="event.html", style="font-size: 20px;") Event
          li(style="list-style: none;")
            a.d-block.my-20(href="event-simple.html", style="font-size: 20px;") Event Simple
          li(style="list-style: none;")
            a.d-block.my-20(href="group.html", style="font-size: 20px;") Group
          li(style="list-style: none;")
            a.d-block.my-20(href="groups-list.html", style="font-size: 20px;") Groups List
          li(style="list-style: none;")
            a.d-block.my-20(href="cabinet.html", style="font-size: 20px;") Cabinet
          li(style="list-style: none;")
            a.d-block.my-20(href="search.html", style="font-size: 20px;") Search
          li(style="list-style: none;")
            a.d-block.my-20(href="friends.html", style="font-size: 20px;") Friends
          li(style="list-style: none;")
            a.d-block.my-20(href="friends-current.html", style="font-size: 20px;") Friends Current
          li(style="list-style: none;")
            a.d-block.my-20(href="friends-applications.html", style="font-size: 20px;") Friends Applications
          li(style="list-style: none;")
            a.d-block.my-20(href="profile-friends.html", style="font-size: 20px;") Profile Friends
          li(style="list-style: none;")
            a.d-block.my-20(href="course.html", style="font-size: 20px;") Course
          li(style="list-style: none;")
            a.d-block.my-20(href="countries.html", style="font-size: 20px;") Countries
          li(style="list-style: none;")
            a.d-block.my-20(href="permission.html", style="font-size: 20px;") Permission
          li(style="list-style: none;")
            a.d-block.my-20(href="contacts.html", style="font-size: 20px;") Contacts
          li(style="list-style: none;")
            a.d-block.my-20(href="album.html", style="font-size: 20px;") Album
          li(style="list-style: none;")
            a.d-block.my-20(href="faq.html", style="font-size: 20px;") FAQ
          li(style="list-style: none;")
            a.d-block.my-20(href="suggestion.html", style="font-size: 20px;") Suggestion
          li(style="list-style: none;")
            a.d-block.my-20(href="group-album.html", style="font-size: 20px;") Group Album
          li(style="list-style: none;")
            a.d-block.my-20(href="group-album-new.html", style="font-size: 20px;") Group Album New

