extends ../templates/template.pug
block content
  +header
  .bg-gray.bg-gray--new
    +cover
    .container
      .row.my-20
        .col-md-8.offset-md-4.col-xl-9.offset-xl-3
          .d-sm-flex.align-items-center
            .bg-secondary.p-10.border-radius.mr-sm-20
              h2.mb-0.text-dark Ближайшие мероприятия
            a.btn.btn-link.text-dark.px-0.px-sm-20(href="#") Смотреть все
      .item-grid.item-grid--8
        .row
          .col-sm-6.col-md-4.col-xl-3.item-grid__item
            +dashboard
          .col-sm-6.col-md-4.col-xl-3.item-grid__item
            +item({
              dates: '18 сентября - 20 октябрь',
              place: 'г. Рим, Италия',
              title: 'Название мероприятия в четыре строки для первоочередного раскрытия темы при наведении раскрывается ещё несколько строк',
              color: '#65a18d'
            })
          .col-sm-6.col-md-4.col-xl-3.item-grid__item
            +item({
              dates: '18-20 июня',
              place: 'г. Москва, Россия',
              title: 'Название мероприятия в несколько строк для первоочередного раскрытия темы',
              color: '#6fb5bf'
            })
          .col-sm-6.col-md-4.col-xl-3.item-grid__item
            +item({
              dates: '18-20 июня',
              place: 'г. Санкт-Петербург, Россия',
              title: 'Название мероприятия ',
              color: '#6fb5bf'
            })
          .col-sm-6.col-md-4.col-xl-3.item-grid__item
            +item({
              dates: '18-20 июня',
              place: 'г. Алма-Аты, Казахстан',
              title: 'Название мероприятия в несколько строк для первоочередного раскрытия темы при наведении раскрывается ещё несколько строк при наведении раскрывается ещё несколько строк',
              color: '#81a6d3'
            })
          .col-sm-6.col-md-4.col-xl-3.item-grid__item
            +item({
              dates: '3 июля',
              place: 'г. Лондон, Великобритания',
              title: 'Название мероприятия в несколько строк ',
              color: '#d381a8'
            })
          .col-sm-6.col-md-4.col-xl-3.item-grid__item
            +item({
              dates: '18-20 июня',
              place: 'г. Санкт-Петербург',
              title: 'Название мероприятия в несколько строк для первоочередного раскрытия темы  при наведении раскрывается ещё несколько строк  при наведении раскрывается ещё несколько строк  при наведении раскрывается ещё несколько строк',
              color: '#d3c581'
            })
          .col-sm-6.col-md-4.col-xl-3.item-grid__item
            +item({
              dates: '18 июля',
              place: 'г. Санкт-Петербург, Россия',
              title: 'Название мероприятия в несколько строк для первоочередного раскрытия',
              color: '#b381d3'
            })
          .col-sm-6.col-md-4.col-xl-3.item-grid__item
            +item({
              dates: '18 июля',
              place: 'г. Санкт-Петербург, Россия',
              title: 'Название мероприятия в несколько',
              color: '#b381d3'
            })
      .d-flex.justify-content-center.mt-15
        a.btn.btn-outline-secondary(href="#") Перейти в календарь мероприятий
      hr.hr--new.mt-30.mt-lg-40.mb-30.mb-lg-40
      .d-md-flex.align-items-center.mb-40
        h2.font-weight-normal.mb-20.mb-md-0.mr-sm-55 Последние опубликованные материалы
        a.btn.btn-outline-secondary(href="#") Смотреть все
      .row.mb-lg-30
        .col-lg-6.d-flex
          +material({
            type: 'short',
            picture: 'material-13.jpg',
            header: 'Отборочные соревнования для участия XII Региональная конференция российских соотечественников еще название максимум Отборочные соревнования для участия XII Региональная конференция российских соотечественников еще название максимум',
          }).material--short.material--wide
        .col-sm-6.col-lg-3.d-flex
          +material({
            type: 'short',
            picture: 'material-2.jpg',
            header: 'О форуме молодых Совет Ассоциации российских соотечественников Клуба ',
          }).material--short
        .col-sm-6.col-lg-3.d-flex
          +material({
            type: 'short',
            picture: 'material-3.jpg',
            header: 'О форуме молодых Совет Ассоциации российских соотечественников Клуба «Жаркий» совместно с Посольством РФ О форуме молодых Совет Ассоциации российских соотечественников Клуба «Жаркий» совместно с Посольством РФ',
          }).material--short
    +world
  +footer
  +share
