extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      +breadcrumbs({
        links: ['Справочник молодого соотечественника']
      })
    .container
      .catalog
        .row.mb-30
          .col-lg-6.d-flex.align-items-center
            h2.mb-20.mb-lg-0 Справочник соотечественника
          .col-lg-6.d-flex.align-items-center
            +search({
              placeholder: 'Поиск в материалах'
            }).w-100
        .d-sm-flex.align-items-center.mb-30
          h3.mb-20.mb-sm-0.mr-25 Последние добавленные материалы
          a.btn.btn-outline-secondary(href="#") Смотреть все
        .row
          .col-sm-6.col-lg-4.col-xl-3.d-flex
            +material({
              picture: 'material-2.jpg',
              header: 'Молодые соотечественники в Индии',
              dscr: 'Индийская столица стала центром молодёжного движения российских соотечественников'
            })
          .col-sm-6.col-lg-4.col-xl-3.d-flex
            +material({
              picture: 'material-3.jpg',
              header: 'XII Региональная конференция российских соотечественников',
              dscr: 'Совет Ассоциации российских соотечественников Клуба «Жаркий» совместно с Посольством РФ ...'
            })
          .col-sm-6.col-lg-4.col-xl-3.d-flex
            +material({
              picture: 'material-3.jpg',
              header: 'XII Региональная конференция российских соотечественников',
              dscr: 'Совет Ассоциации российских соотечественников Клуба «Жаркий» совместно с Посольством РФ ...'
            })
          .col-sm-6.col-lg-4.col-xl-3.d-flex
            +material({
              picture: 'material-4.jpg',
              header: 'Молодые соотечественники в Индии',
              dscr: 'Индийская столица стала центром молодёжного движения российских соотечественников'
            })
        .row
          .col-sm-6.d-flex
            +section({
              icon: 'section-1.png',
              header: 'О стране, городах, культурe',
            })
          .col-sm-6.d-flex
            +section({
              icon: 'section-2.png',
              header: 'Переезд в Россию',
            })
          .col-sm-6.d-flex
            +section({
              icon: 'section-3.png',
              header: 'О поддержке соотечественников',
            })
          .col-sm-6.d-flex
            +section({
              icon: 'section-4.png',
              header: 'Работа зарубежом',
            })
          .col-sm-6.d-flex
            +section({
              icon: 'section-5.png',
              header: 'Информация об АИС',
            })
          .col-sm-6.d-flex
            +section({
              icon: 'section-6.png',
              header: 'Образование для иностранцев в РФ',
            })
          .col-sm-6.d-flex
            +section({
              icon: 'section-7.png',
              header: 'Молодежные организации и их контакты',
            })
          .col-sm-6.d-flex
            +section({
              icon: 'section-8.png',
              header: 'Ежегодные мероприятия ',
            })
        +section({
          header: 'Прочие советы и материалы',
          modifier: 'other'
        })
  +footer
