extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      +breadcrumbs({
        links: ['Справочник молодого соотечественника']
      })
    .container
      .catalog
        .row.mb-30
          .col-lg-6.d-flex.align-items-center
            h2.mb-20.mb-lg-0.mr-20 Новости и мультимедиа
          .col-lg-6.d-flex.align-items-center
            +search({
              placeholder: 'Поиск'
            }).w-100
        .d-sm-flex.align-items-center.mb-30
          h3.mb-20.mb-sm-0.mr-25 Последние новости
          a.btn.btn-outline-secondary(href="#") Смотреть все
        .row
          .col-sm-6.col-lg-4.col-xl-3.d-flex
            +material({
              picture: 'material-1.jpg',
              header: 'Молодые соотечественники в Индии',
              dscr: 'Индийская столица стала центром молодёжного движения российских соотечественников',
              modifier: 'news'
            }).material--news
          .col-sm-6.col-lg-4.col-xl-3.d-flex
            +material({
              picture: 'material-2.jpg',
              header: 'XII Региональная конференция российских соотечественников',
              dscr: 'Совет Ассоциации российских соотечественников Клуба «Жаркий» совместно с Посольством РФ ...',
              modifier: 'news'
            }).material--news
          .col-sm-6.col-lg-4.col-xl-3.d-flex
            +material({
              picture: 'material-3.jpg',
              header: 'XII Региональная конференция российских соотечественников',
              dscr: 'Совет Ассоциации российских соотечественников Клуба «Жаркий» совместно с Посольством РФ ...',
              modifier: 'news'
            }).material--news
          .col-sm-6.col-lg-4.col-xl-3.d-flex
            +material({
              picture: 'material-4.jpg',
              header: 'Молодые соотечественники в Индии',
              dscr: 'Индийская столица стала центром молодёжного движения российских соотечественников',
              modifier: 'news'
            }).material--news
        .nav-tabs__wrapper.mb-40
          ul.nav.nav-tabs.mb-0
            li.nav-item
              a.nav-link(data-toggle='tab', href='#photo') Фотографии
            li.nav-item
              a.nav-link.active(data-toggle='tab', href='#video') Видео
        .tab-content
          #photo.tab-pane.fade(role='tabpanel')
          #video.tab-pane.fade.show.active(role='tabpanel')
            .row
              .col-md-4
                +media({
                  picture: 'media-1.jpg'
                }).media--video
              .col-md-4
                +media({
                  picture: 'media-2.jpg'
                }).media--video
              .col-md-4
                +media({
                  picture: 'media-3.jpg'
                }).media--video
              .col-md-4
                +media({
                  picture: 'media-1.jpg'
                }).media--video
              .col-md-4
                +media({
                  picture: 'media-2.jpg'
                }).media--video
              .col-md-4
                +media({
                  picture: 'media-3.jpg'
                }).media--video
            .text-center.mb-25
              a.btn.btn-outline-secondary(href="#") Смотреть все
  +footer
