extends ../templates/template.pug
block content
  +header
  .wrapper
    .container.my-40.my-lg-100
      .row
        .col-lg-6
          p Нажимая кнопку “Разрешить” вы соглашаетесь передавать личные данные платформе “Международная Академия Бизнеса и Новых Технологий (МУБиНТ)
          .d-flex
            a.btn.btn-primary.px-20.px-sm-40.mr-20(href="#") Разрешить
            a.btn.btn-primary.px-20.px-sm-40(href="#") Отклонить
  +footer
