extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      +breadcrumbs({
        links: ['Наши соотечественники', 'Абрамова Елизавета']
      })
    .profile.pb-0
      .profile__header
        .container
          .profile__header-wrapper
            .profile__header-left
              a.link-back.link-back--new(href="#")
              .profile__userpic.profile__userpic--online(style="background-image: url(./img/profile-user-new.png);")
              .profile__header-info
                .profile__header-info-top
                  .profile__header-id ID 5569885-Ru
                  .profile__socials
                    a.profile__socials-item(href="#")
                      img(src="./img/profile-vk.svg", alt)
                    a.profile__socials-item(href="#")
                      img(src="./img/profile-fb.svg", alt)
                    a.profile__socials-item(href="#")
                      img(src="./img/profile-ig.svg", alt)
                h3.mb-10.font-weight-bold.text-black Абрамова Елизавета Викторовна
                .profile__header-info-bottom
                  .profile__header-age 26 лет
                  .profile__header-place
                    p.p--sm.mb-0.font-weight-bold Россия
                    | | 
                    p.p--sm.mb-0 Москва
            .profile__header-right
              //a.btn.btn-outline-primary.px-10.px-xl-20(href="#") Убрать из друзей
              a.btn.btn-green.px-10.px-xl-20(href="#") Добавить в друзья
          //p.p--sm.mb-0 Архитектор, люблю скульптуру и различные проявления дизайна в окружающей среде, заядлый пктешественник. Всегда рад новым знакомствам
      .profile__content.profile__content--gray
        .container
          .row
            .col-lg-3
              .sidebar
                a.sidebar__link.sidebar__link--active(href="#") Друзья Натальи
                  .sidebar__link-number 2500
                a.sidebar__link(href="#") Заявки в друзья
                  .sidebar__link-number 12
            .col-lg-9
              .wrapper__white-content
                .row
                  .col-sm-6
                    +member({
                      photo: 'profile-user-new.png',
                      name: 'Александр Максагонов',
                      modifier: 'added'
                    }).mb-30.member--new.member--online
                  .col-sm-6
                    +member({
                      photo: 'member-7.png',
                      name: 'Александр Максагонов',
                      modifier: 'friend'
                    }).mb-30.member--new
                  .col-sm-6
                    +member({
                      photo: 'member-8.png',
                      name: 'Александр Максагонов',
                      modifier: 'sent-done'
                    }).mb-30.member--new.member--online
  +footer
