extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      +breadcrumbs({
        links: ['Наши соотечественники', 'Абрамова Елизавета']
      })
    .profile
      .profile__header
        .container
          .profile__header-wrapper
            .profile__header-left
              a.link-back.link-back--new(href="#")
              .profile__userpic.profile__userpic--online(style="background-image: url(./img/profile-user-new.png);")
              .profile__header-info
                .profile__header-info-top
                  .profile__header-id ID 5569885-Ru
                  .profile__socials
                    a.profile__socials-item(href="#")
                      img(src="./img/profile-vk.svg", alt)
                    a.profile__socials-item(href="#")
                      img(src="./img/profile-fb.svg", alt)
                    a.profile__socials-item(href="#")
                      img(src="./img/profile-ig.svg", alt)
                h3.mb-10.font-weight-bold.text-black Абрамова Елизавета Викторовна
                .profile__header-info-bottom
                  .profile__header-age 26 лет
                  .profile__header-place
                    p.p--sm.mb-0.font-weight-bold Россия
                    | | 
                    p.p--sm.mb-0 Москва
            .profile__header-right
              a.btn.btn-outline-primary.px-10.px-xl-20(href="#") Убрать из друзей
              //a.btn.btn-green.px-10.px-xl-20(href="#") Добавить в друзья
          //p.p--sm.mb-0 Архитектор, люблю скульптуру и различные проявления дизайна в окружающей среде, заядлый пктешественник. Всегда рад новым знакомствам
      .profile__content
        .container
          .row.border-bottom.pb-30.mb-30
            .col-lg-4
              p.text-primary.font-weight-bold Образование
            .col-lg-8
              .mb-25
                h2.font-weight-normal.text-dark Калифорнийский университет
                p.mb-0 Калифорния, США
              .mb-25
                h2.font-weight-normal.text-dark Калифорнийский университет
                p.mb-0 Магистр наук. 14.05.2014 - 14.05.2018
              a.profile__link(href="#") Посмотреть кто еще учился в этом ВУЗе
          .row.border-bottom.pb-30.mb-30
            .col-lg-4
              p.text-primary.font-weight-bold Карьера
            .col-lg-8
              .row
                .col-sm-6.mb-20.mb-sm-0
                  h2.mb-15.font-weight-normal.text-dark Архитектор
                  p.mb-0 VictorAndElen LTD <br>2 года 
                    span.text-gray (10.2016 по н. в.)
                .col-sm-6.mb-20.mb-sm-0
                  h2.mb-15.font-weight-normal.text-dark Мастер Наладчик
                  p.mb-0 Scoda <br>5 лет 
                    span.text-gray (10.2014-12.2016)
          .row.border-bottom.pb-30.mb-30
            .col-lg-4
              p.text-primary.font-weight-bold Интересы
            .col-lg-8
              .tag Техника
              .tag Автомобили
              .tag Дизайн
              .tag Архитектура
              .tag Техника
              .tag Автомобили
              .tag Дизайн
              .tag Архитектура
          .border-bottom.pb-30.mb-30
            .d-flex.align-items-center.mb-25
              p.text-primary.font-weight-bold.mb-0.mr-30 Друзья Леонида (250)
              a.btn.btn-secondary.btn-sm(href="#") Смотреть всех
            .row
              .col-md-6.col-xl-4
                +member({
                  photo: 'member-1.jpg',
                  name: 'Александр Максагонов'
                }).member--online.member--new
              .col-md-6.col-xl-4
                +member({
                  photo: 'member-2.jpg',
                  name: 'Александр Максагонов'
                }).member--offline.member--new
              .col-md-6.col-xl-4
                +member({
                  photo: 'member-3.jpg',
                  name: 'Александра Викторова'
                }).member--online.member--new
          .d-flex.align-items-center.mb-25
            p.text-primary.font-weight-bold.mb-0.mr-30 Группы Леонида (250)
            a.btn.btn-secondary.btn-sm(href="#") Смотреть всех
          .row
            .col-sm-6.col-xl-3.d-flex
              +group-item({
                picture: 'group-1.jpg',
                city: 'г. Санкт-Петербург, Россия'
              }).bg-gray
            .col-sm-6.col-xl-3.d-flex
              +group-item({
                picture: 'group-2.jpg',
                city: 'г. Санкт-Петербург, Россия'
              }).bg-gray
            .col-sm-6.col-xl-3.d-flex
              +group-item({
                picture: 'member-1.jpg',
                city: 'г. Санкт-Петербург, Россия'
              }).bg-gray
            .col-sm-6.col-xl-3.d-flex
              +group-item({
                picture: 'member-2.jpg',
                city: 'г. Санкт-Петербург, Россия'
              }).bg-gray
  +footer
