extends ../templates/template.pug
block content
  +header
  .registration
    .registration__header
      .container
        .registration__header-wrapper
          .registration__header-content
            h1.mb-10.mb-md-30.text-primary Добро пожаловать, Валентин
            p.p--sm.mb-0 Введите дополнительную информацию, чтобы завершить регистрацию
          a.btn.btn-secondary(href="#") Войти
    .registration__content
      form.form.border-bottom.pb-30.mb-30(action="#", method="POST")
        .container
          .row.border-bottom.pb-30.mb-30
            .col-lg-3.col-xl-4
              p.text-primary.font-weight-bold Основная информация
            .col-lg-9.col-xl-8
              .row
                .col-md-6
                  .form__item.form-group
                    label.form__label Фамилия
                    input.input.form-control(type="text")
                  .form__item.form-group
                    label.form__label Имя
                    input.input.form-control(type="text")
                  .form__item.form-group
                    label.form__label Отчество
                    input.input.form-control(type="text")
                  .form__item.form__item--hor.form-group.mt-20
                    label.form__label Добавьте фото профиля
                    .custom-file
                      input#customFile.custom-file-input(type='file')
                      label.custom-file-label(for='customFile') Выбрать фото
                    div Неправильный формат файла
                .col-md-6
                  .form__item.form__item--hor.justify-content-start.form-group.mt-30
                    label.form__label Дата рождения
                    .form__item-hor-content
                      +select({
                        placeholder: 'дд',
                        modifier: 'day'
                      }).select--birth
                      +select({
                        placeholder: 'мм',
                        modifier: 'month'
                      }).select--birth
                      +select({
                        placeholder: 'гггг',
                        modifier: 'year'
                      }).select--birth
                  .form__item.form__item--hor.justify-content-start.form-group.mt-50
                    label.form__label Пол
                    .form__item-hor-content
                      .custom-control.custom-radio
                        input#customRadio1.custom-control-input(type='radio', name='customRadio')
                        label.custom-control-label(for='customRadio1') Мужской
                      .custom-control.custom-radio.ml-15
                        input#customRadio2.custom-control-input(type='radio', name='customRadio')
                        label.custom-control-label(for='customRadio2') Женский
          .row.border-bottom.pb-30.mb-30
            .col-lg-3.col-xl-4
              p.text-primary.font-weight-bold Адресные данные
            .col-lg-9.col-xl-8
              .row
                .col-md-6
                  .form__item.form-group
                    label.form__label Страна проживания*
                    +select({
                      placeholder: ''
                    })
                  .form__item.form-group
                    label.form__label Город проживания (населенный пункт)*
                    input.input.input--auto.form-control(type="text", placeholder="")
                .col-md-6
                  .form__item.form-group
                    label.form__label Родной город (населенный пункт)*
                    input.input.input--auto.form-control(type="text", placeholder="Введите город в котором родились")
                    p.p--sm.mb-0.mt-20.text-dark Начните вводить название и форма автоматически подберет населенный пункт
          .row.border-bottom.pb-30.mb-30
            .col-lg-3.col-xl-4
              p.text-primary.font-weight-bold Контактные данные
            .col-lg-9.col-xl-8
              .row
                .col-md-6
                  .form__item.form-group
                    label.form__label Ваш номер телефона
                    input.input.form-control(type="text")   
                .col-md-6
                  .form__item.form-group
                    label.form__label Ваш e-mail
                    input.input.form-control(type="text")
          .row.border-bottom.pb-30.mb-30
            .col-lg-3.col-xl-4
              p.text-primary.font-weight-bold Пароль
            .col-lg-9.col-xl-8
              .row
                .col-md-6
                  .form__item.form-group
                    label.form__label Введите новый пароль*
                    input.input.form-control(type="text")   
                .col-md-6
                  .form__item.form-group
                    label.form__label Повторите пароль*
                    input.input.form-control(type="text")    
          .row
            .col-lg-3.col-xl-4
              p.p--sm.mb-0 * - поля обязательные для заполнения
            .col-lg-5.col-xl-4.my-20.my-lg-0
              .custom-control.custom-checkbox
                input#customCheck1.custom-control-input(type='checkbox')
                label.custom-control-label(for='customCheck1') Пользователь подтверждает, что ознакомлен со всеми пунктами 
                  a(href="#") настоящих Правил
                  |  и, безусловно, принимает их.
            .col-lg-4
              a.form--button.btn.btn-blue.w-100(href="#") Зарегистрироваться
  +footer
