extends ../templates/template.pug
block content
  +header
  .wrapper.pb-30.pb-sm-50
    .container
      +breadcrumbs({
        links: ['Результаты поиска']
      })
      h2.h2--lg.mb-20.mb-lg-30 Результаты поиска
      .row
        .col-lg-10
          +search-item({
            number: '1',
            title: 'Название мероприятия в две три сторки для раскрытия темы',
            info: ['18-20 июня', 'г. Рим, Италия', 'Тип мероприятия'],
            dscr: 'Давно выяснено, что при оценке <span class="search-item__highlight">поисковый заопрос</span> читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.'
          })
          +search-item({
            number: '2',
            title: 'Заголовок новости',
            info: ['18-20 июня'],
            dscr: 'Давно выяснено, что при оценке <span class="search-item__highlight">поисковый заопрос</span> читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.'
          })
          +search-item({
            number: '3',
            title: 'Название группы',
            info: ['Создана 20 мая 2020'],
            picture: 'search-item-1.jpg',
            dscr: 'Давно выяснено, что при оценке <span class="search-item__highlight">поисковый заопрос</span> читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.'
          })
          +search-item({
            number: '4',
            title: 'Название мероприятия в две три сторки для раскрытия темы',
            info: ['18-20 июня', 'г. Рим, Италия', 'Тип мероприятия'],
            dscr: 'Давно выяснено, что при оценке <span class="search-item__highlight">поисковый заопрос</span> читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.'
          })
  +footer
