extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      +breadcrumbs({
        links: ['Справочник молодого соотечественника', 'О стране, городах, культуре']
      })
    .container
      .catalog
        .row.mb-30
          .col-lg-7.d-flex.align-items-center.mb-20.mb-lg-0
            a.link-back(href="#")
            .catalog__section-icon(style="background-image: url(./img/section-1.png);")
            h2.mb-0.mr-20 О стране, городах, культуре
          .col-lg-5.d-flex.align-items-center
            +search({
              placeholder: 'Поиск в материалах'
            }).w-100
        p.p--sm.mb-25 Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах,Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст..
        .d-flex.mb-40
          p.font-weight-light.mb-0.mr-35 52 материала
          .d-flex
            .catalog__new-number 5
            p.font-weight-light.mb-0 новых
        .row
          .col-sm-6.col-lg-4.col-xl-3.d-flex
            +material({
              picture: 'material-14.png',
              header: 'Молодые соотечественники в Индии',
              dscr: 'Индийская столица стала центром молодёжного движения российских соотечественников'
            }).material--new
          .col-sm-6.col-lg-4.col-xl-3.d-flex
            +material({
              picture: 'material-15.png',
              header: 'XII Региональная конференция российских соотечественников',
              dscr: 'Совет Ассоциации российских соотечественников Клуба «Жаркий» совместно с Посольством РФ ...'
            }).material--new
          .col-sm-6.col-lg-4.col-xl-3.d-flex
            +material({
              picture: 'material-3.jpg',
              header: 'XII Региональная конференция российских соотечественников',
              dscr: 'Совет Ассоциации российских соотечественников Клуба «Жаркий» совместно с Посольством РФ ...'
            }).material--new
          .col-sm-6.col-lg-4.col-xl-3.d-flex
            +material({
              picture: 'material-4.jpg',
              header: 'Молодые соотечественники в Индии',
              dscr: 'Индийская столица стала центром молодёжного движения российских соотечественников'
            }).material--new
          .col-sm-6.col-lg-4.col-xl-3.d-flex
            +material({
              picture: 'material-5.jpg',
              header: 'Молодые соотечественники в Индии',
              dscr: 'Индийская столица стала центром молодёжного движения российских соотечественников'
            }).material--new
          .col-sm-6.col-lg-4.col-xl-3.d-flex
            +material({
              picture: 'material-6.jpg',
              header: 'XII Региональная конференция российских соотечественников',
              dscr: 'Совет Ассоциации российских соотечественников Клуба «Жаркий» совместно с Посольством РФ ...'
            })
          .col-sm-6.col-lg-4.col-xl-3.d-flex
            +material({
              picture: 'material-7.jpg',
              header: 'XII Региональная конференция российских соотечественников',
              dscr: 'Совет Ассоциации российских соотечественников Клуба «Жаркий» совместно с Посольством РФ ...'
            })
          .col-sm-6.col-lg-4.col-xl-3.d-flex
            +material({
              picture: 'material-8.jpg',
              header: 'Молодые соотечественники в Индии',
              dscr: 'Индийская столица стала центром молодёжного движения российских соотечественников'
            })
          .col-sm-6.col-lg-4.col-xl-3.d-flex
            +material({
              picture: 'material-9.jpg',
              header: 'Молодые соотечественники в Индии',
              dscr: 'Индийская столица стала центром молодёжного движения российских соотечественников'
            })
          .col-sm-6.col-lg-4.col-xl-3.d-flex
            +material({
              picture: 'material-10.jpg',
              header: 'XII Региональная конференция российских соотечественников',
              dscr: 'Совет Ассоциации российских соотечественников Клуба «Жаркий» совместно с Посольством РФ ...'
            })
          .col-sm-6.col-lg-4.col-xl-3.d-flex
            +material({
              picture: 'material-11.jpg',
              header: 'XII Региональная конференция российских соотечественников',
              dscr: 'Совет Ассоциации российских соотечественников Клуба «Жаркий» совместно с Посольством РФ ...'
            })
          .col-sm-6.col-lg-4.col-xl-3.d-flex
            +material({
              picture: 'material-12.jpg',
              header: 'Молодые соотечественники в Индии',
              dscr: 'Индийская столица стала центром молодёжного движения российских соотечественников'
            })
        .text-center.mt-15.mb-35
          a.btn.btn-outline-secondary(href="#") Загрузить еще
  +footer
