extends ../templates/template.pug
block content
  +header
  form.form.pb-30.mb-30(action="#", method="POST")
    .container
      +breadcrumbs({
        links: ['Предложить']
      })
      +link-back({
        title: 'Предложить'
      }).link-back--title.link-back--black.mb-25
      .form__switch
        .custom-control.custom-radio.custom-radio--switch
          input#customRadio1.custom-control-input(type='radio', checked, name='customRadio')
          label.custom-control-label(for='customRadio1') Мероприятие
        .custom-control.custom-radio.custom-radio--switch
          input#customRadio2.custom-control-input(type='radio', name='customRadio')
          label.custom-control-label(for='customRadio2') Новость
      .row
        .col-md-9.col-xl-8
          .form__item.form-group
            label.form__label Название мероприятия
            input.input.form-control(type="text", placeholder="Введите название")
      .row
        .col-md-6.col-xl-4
          .form__item.form-group
            label.form__label Тип мероприятия
            +select({
              placeholder: 'Выберите из списка'
            })
      .row
        .col-md-9.col-xl-8
          .form__item.form-group
            label.form__label Описание мероприятия
            textarea.input.input--textarea(type="text", placeholder="Введите название")
      .row
        .col-md-6.col-xl-4
          .form__item.form-group
            label.form__label Добавить документ
            input.input.form-control(type="text", placeholder="Название документа")
        .col-lg-6.col-xl-4.d-flex.align-items-end
          .form__file
            .custom-file.custom-file--lg
              input#customFile.custom-file-input(type='file')
              label.custom-file-label.font-weight-bold(for='customFile') Выбрать фото...
            .form__file-info
              p.sm.font-weight-bold.text-dark-new.mb-0 sampledample... .pdf
              p.sm.text-dark-new.mb-0 1.3 mb
      .row
        .col-md-6.col-xl-4
          .form__item.form-group
            label.form__label Даты мероприятия
            input.input.input--calendar.input--calendar-new.form-control(type="text", placeholder="Выбрать даты")
      .row
        .col-md-6.col-xl-4
          .form__item.form-group
            label.form__label Страна проведения
            +select({
              placeholder: 'Выберите из списка'
            })
        .col-md-6.col-xl-4
          .form__item.form-group
            label.form__label Город проведения
            +select({
              placeholder: 'Выберите из списка'
            })
      .row
        .col-md-6.col-xl-4
          .custom-control.custom-checkbox.custom-checkbox--new.mb-10
            input#customCheck1.custom-control-input(type='checkbox')
            label.custom-control-label(for='customCheck1') Регистрация активна 
      .row
        .col-md-6.col-xl-4
          .form__item.form-group
            label.form__label Даты регистрации
            input.input.input--calendar.input--calendar-new.form-control(type="text", placeholder="Выбрать даты")
      .row
        .col-md-9.col-xl-8
          .form__item.form-group
            label.form__label Ссылка на сайт мероприятия
            input.input.form-control(type="text", placeholder="Введите")
      .row
        .col-md-12
          p.font-weight-bold.mb-15 Обложки для мероприятия
      .row
        .col-md-6
          .form__item.form-group
            label.form__label.d-block Изображение внутри карточки мероприятия
            .custom-file.custom-file--picture.custom-file--picture-wide
              input#customFile.custom-file-input(type='file')
              label.custom-file-label.font-weight-bold(for='customFile')
                .custom-file__size 586 х 314
                .custom-file__info jpg, png до 1 mb
            .d-block
              .custom-file
                input#customFile.custom-file-input(type='file')
                label.custom-file-label.custom-file-label--no-shadow.font-weight-bold(for='customFile') Выбрать фото
        .col-md-6
          .form__item.form-group
            label.form__label.d-block Изображение внутри карточки мероприятия
            .custom-file.custom-file--picture
              input#customFile.custom-file-input(type='file')
              label.custom-file-label.font-weight-bold(for='customFile')
                .custom-file__size 270 х 385
                .custom-file__info jpg, png до 1 mb
            .d-block
              .custom-file
                input#customFile.custom-file-input(type='file')
                label.custom-file-label.custom-file-label--no-shadow.font-weight-bold(for='customFile') Выбрать фото
      .row
        .col-md-6.col-xl-4
          .form__item.form-group
            label.form__label Телефон для связи
            input.input.form-control(type="text", placeholder="+ _ ___ ___ __ __")
        .col-md-6.col-xl-4
          .form__item.form-group
            label.form__label E-mail
            input.input.form-control(type="text", placeholder="Введите")
      .custom-control.custom-checkbox.custom-checkbox--new.mb-10
        input#customCheck2.custom-control-input(type='checkbox')
        label.custom-control-label(for='customCheck2') Я ознакомлен с Требованиями к текстовым и фотоматериалам
      .custom-control.custom-checkbox.custom-checkbox--new
        input#customCheck3.custom-control-input(type='checkbox')
        label.custom-control-label(for='customCheck3') Я даю свое согласие на обработку вышеуказанных персональных данных в целях рассмотрения моего обращения
      button.btn.btn-blue.no-shadow.mt-30.mt-xl-50(type="submit") Предложить мероприятие
  +footer
