mixin user(data)
  .user&attributes(attributes)
    a.user__content(href="#")
      .user__pic(style="background-image: url(./img/user-main.jpg);")
      .user__name Викторов Александр
    a.btn.btn-primary.btn-primary--new.user__btn-primary(href="#") Предложить
    .user__right
      .user__btn
        .user__messages-icon
        a.user__btn-link(href="#chat", data-fancybox) 5
      .user__btn.user__btn--notifications
        a.user__notifications.user__notifications--new(href="#")
        .user__news
          +notification({
            photo: 'notification-1.png',
          })
            p.p--sm.mb-10
              span.font-weight-bold.text-primary-new Виктория Константинопольская
              |, создала группу 
              span.font-weight-bold.text-primary-new Радости проживания дома
          +notification({
            photo: 'notification-2.png',
            friend: true
          })
            p.p--sm.mb-10
              span.font-weight-bold.text-primary-new Виктория Кох
              |, хочет добавить Вас в друзья
          +notification({
            photo: 'notification-1.png',
          })
            p.p--sm.mb-10
              span.font-weight-bold.text-primary-new Виктория Константинопольская
              |, создала группу 
              span.font-weight-bold.text-primary-new Радости проживания дома
          .user__news-footer
            a.btn.btn-outline-primary.btn-sm.font-weight-normal.user__news-btn(href="#") Очистить
            a.btn.btn-primary.btn-sm.font-weight-normal.user__news-btn(href="#") Показать все
      .user__btn
        .user__articles-icon
        a.user__btn-link(href="#") 2
      .user__btn
        .user__friends-icon
        a.user__btn-link(href="#") 9
      .user__btns
        a.user__settings.tooltip__wrapper(href="#")
          +tooltip({
            title: 'Настройки'
          })
        a.user__logout.tooltip__wrapper(href="#")
          +tooltip({
            title: 'Выход'
          })

