.user {
  display: flex;
  align-items: center;

  @include media-breakpoint-down(md) {
    width: 100%;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    align-items: center;

    @include transition;

    &:hover {
      opacity: .75;
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__pic {
    width: 30px;
    height: 30px;
    background-position: top center;
    background-size: cover;
    border-radius: 5px;

    @include media-breakpoint-down(lg) {
      margin-right: 10px;
    }
  }

  &__name {
    margin-right: 18px;
    margin-left: 13px;
    font-size: 13px;
    font-weight: 700;
    color: $dark;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &__btn {
    display: flex;
    align-items: center;

    @include transition;

    & + & {
      margin-left: 11px;
    }

    &--notifications {
      position: relative;
      margin-right: -11px;
      margin-left: 0 !important;
    }
  }

  &__messages-icon {
    margin-right: 5px;
    width: 16px;
    height: 16px;
    background: url(../img/messages-icon.png) no-repeat center;
    background-size: contain;
  }

  &__friends-icon {
    margin-right: 5px;
    width: 16px;
    height: 16px;
    background: url(../img/user.svg) no-repeat center;
    background-size: contain;
  }

  &__btn-link {
    font-size: 13px;
    font-weight: 700;
    text-decoration: underline;
    color: #456bac;
  }

  &__articles-icon {
    margin-right: 5px;
    width: 16px;
    height: 16px;
    background: url(../img/articles-icon.png) no-repeat center;
    background-size: contain;
  }

  &__btns {
    display: flex;
    align-items: center;
  }

  &__settings {
    margin-right: 15px;
    margin-left: 14px;
    width: 16px;
    height: 16px;
    background: url(../img/user-settings.png) no-repeat center;
    background-size: contain;

    @include transition;
  }

  &__logout {
    width: 13px;
    height: 15px;
    background: url(../img/user-logout.png) no-repeat center;
    background-size: contain;

    @include transition;
  }

  &__btn-primary {
    margin-right: 18px;
    padding: 6px 11px;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 400;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__notifications {
    position: relative;
    width: 48px;
    height: 48px;
    background: url(../img/icon-bell-dark.svg) no-repeat center;

    @include transition;

    &--active {
      background: #2c4064 url(../img/icon-bell.svg) no-repeat center;
    }

    &--new {

      &:after {
        position: absolute;
        top: 13px;
        right: 16.5px;
        display: block;
        width: 5.4px;
        height: 5.4px;
        content: '';
        background: #eb5757;
        border-radius: 50%;
      }
    }
  }

  &__news {
    position: absolute;
    z-index: 2;
    top: 100%;
    right: 0;
    display: none;
    width: 100vw;
    max-width: 424px;
    background: #fff;
    box-shadow: 0 4px 50px rgba(0, 0, 0, .25);

    @include media-breakpoint-down(xs) {
      position: fixed;
      top: 59px;
      right: 0;
    }
  }

  &__news-footer {
    padding: 13px;
    display: flex;
    justify-content: space-between;
  }

  &__news-btn {
    font-size: 13px;
  }
}
