mixin share(data)
  .share&attributes(attributes)
    if data && data.invite
      a.share__invite(href="#") 
        .share__invite-content Пригласить друга
      .share__content
        a.share__item(href="#")
          img.share__item-icon(src="./img/share-vk.svg", alt)
        a.share__item(href="#")
          img.share__item-icon(src="./img/share-fb.svg", alt)
        a.share__item(href="#")
          img.share__item-icon(src="./img/share-tw.svg", alt)
        a.share__item(href="#")
          img.share__item-icon(src="./img/share-tg.svg", alt)
        a.share__item(href="#")
          img.share__item-icon(src="./img/share-wa.svg", alt)
    else
      a.share__item(href="#")
        img.share__item-icon(src="./img/share-vk.svg", alt)
      a.share__item(href="#")
        img.share__item-icon(src="./img/share-fb.svg", alt)
      a.share__item(href="#")
        img.share__item-icon(src="./img/share-tw.svg", alt)
      a.share__item(href="#")
        img.share__item-icon(src="./img/share-tg.svg", alt)
      a.share__item(href="#")
        img.share__item-icon(src="./img/share-wa.svg", alt)
