.share {
  position: fixed;
  z-index: 1;
  top: 50%;
  right: 0;
  display: flex;
  flex-direction: column;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, .13);
  transform: translateY(-50%);

  &__item {
    padding: 13px 0;
    display: flex;
    width: 48px;
    justify-content: center;
    align-items: center;
    background: #fff;

    &:hover {

      .share__item-icon {
        opacity: .7;
      }
    }

    &:first-child {
      padding-top: 19px;
      border-radius: 5px 0 0;
    }

    &:last-child {
      padding-bottom: 19px;
      border-radius: 0 0 0 5px;
    }
  }

  &__item-icon {

    @include transition;
  }

  &__invite {
    position: absolute;
    right: 100%;
    display: flex;
    width: 40px;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    background: $primary;

    @include transition;

    &:hover {
      color: rgba(#fff, .8);
    }
  }

  &__invite-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
  }

  &--invite {

    .share__invite {
      border-radius: 5px 0 0 5px;
    }

    .share__item {

      &:first-child,
      &:last-child {
        border-radius: 0;
      }
    }
  }
}
