mixin search-item(data)
  .search-item&attributes(attributes)
    .search-item__number= data.number
    .search-item__content
      a.search-item__link(href="#")= data.title
      .search-item__info
        for val in data.info
          .search-item__info-item= val
      .search-item__dscr
        if data && data.picture
          .search-item__picture(style="background-image: url(./img/" + data.picture + ');')
        p.p--sm.mb-0!= data.dscr
