.search-item {
  margin-bottom: 30px;
  display: flex;

  &__number {
    padding-right: 5px;
    min-width: 30px;
    flex-shrink: 0;
    font-size: 15px;
    line-height: 1.5;
    color: #000;

    @include media-breakpoint-down(sm) {
      min-width: 20px;
    }
  }

  &__content {
  }

  &__link {
    margin-bottom: 7px;
    display: block;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    color: $primary;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  &__info-item {
    margin-right: 20px;
    margin-bottom: 7px;
    font-size: 11px;
    line-height: 1.2;
    color: #2f2f2f;

    @include media-breakpoint-down(sm) {
      margin-right: 15px;
    }
  }

  &__dscr {
    display: flex;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__highlight {
    display: inline-flex;
    background: $secondary;
  }

  &__picture {
    margin-top: 5px;
    margin-right: 20px;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;

    @include media-breakpoint-down(sm) {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
}
