.event {

  &__header {
    padding: 40px 20px 25px;
    color: #fff;
  }

  &__title {
    margin-bottom: 70px;
    font-size: 30px;
    line-height: 1;
    font-weight: 700;

    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }
  }

  &__header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__cover {
    background-position: top center;
    background-size: cover;

    @include media-breakpoint-down(md) {
      width: 100%;
      min-height: 250px;
    }
  }

  &__header-bottom-left {

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__content {
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 20px;

    @include media-breakpoint-down(md) {
      padding-right: 0;
      padding-left: 0;
    }

    p {
      padding-right: 30px;

      @include media-breakpoint-down(md) {
        padding-right: 0;
      }
    }
  }

  &__contacts {
    padding: 20px 20px 35px;
    background: $gray;

    @include media-breakpoint-down(lg) {
      padding: 20px;
    }
  }

  &__contacts-header {
    margin-bottom: 25px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__contacts-write {
    margin-left: 14px;
    padding: 4px;
    display: flex;
    align-items: center;
    font-size: 11px;
    color: $dark;
    border: 1px solid #d3d3d3;
    border-radius: 5px;

    @include transition;

    @include media-breakpoint-down(sm) {
      margin-top: 10px;
      margin-left: 0;
    }

    &:hover {
      opacity: .75;
    }

    &:before {
      margin-right: 8px;
      display: block;
      width: 12px;
      height: 11px;
      content: '';
      background: url(../img/messages-icon.png) no-repeat center;
      background-size: contain;
    }
  }

  &__contacts-content {
    display: flex;

    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }
  }

  &__contacts-photo {
    margin-right: 30px;
    width: 74px;
    height: 74px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 50%;
  }

  &__contacts-info {
    padding-top: 3px;
  }

  &__contacts-numbers {
  }

  &__contacts-email {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    font-size: 13px;
    text-decoration: underline;
    color: #024998;

    &:before {
      margin-right: 16px;
      display: block;
      width: 17px;
      height: 15px;
      flex-shrink: 0;
      content: '';
      background: url(../img/mail-icon.png) no-repeat;
      background-size: contain;
    }
  }

  &__contacts-phone {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    font-size: 13px;

    &:before {
      margin-right: 16px;
      display: block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      content: '';
      background: url(../img/phone-icon.png) no-repeat;
      background-size: contain;
    }
  }

  &__address {
  }

  &__map {
    position: relative;
    padding-top: 50.7%;
  }

  &__documents {
  }
}
