mixin media(data)
  a.media(href="#")&attributes(attributes)
    .media__cover(style="background-image:url(./img/" + data.picture + ");")
    h4.font-weight-bold.mb-15 Название видеоматериала в одну две строки возможно и в три строки
    .media__date 15.10.18
