.media {
  margin-bottom: 40px;
  display: block;

  @include transition;

  &:hover {

    .media__cover {

      &:before {
        opacity: .2;
      }
    }
  }

  &__cover {
    position: relative;
    margin-bottom: 35px;
    padding-top: 55.16%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background-color: rgba(42, 62, 97, .6);

      @include transition;
    }
  }

  &__date {
    padding: 7px;
    display: inline-flex;
    font-size: 13px;
    color: $dark;
    background: #ddd;
    border-radius: 5px;
  }

  &--video {

    .media__cover {

      &:after {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        display: block;
        width: 66px;
        height: 66px;
        content: '';
        background: url(../img/play.png) no-repeat center;
        background-size: contain;
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
