mixin front(data)
  .front&attributes(attributes)
    .container
      .row
        if data && data.version == 'new'
          .col-lg-7.col-xl-8.front__left-wrapper
            .front__header
              h1.text-white Более 2 545 334 <br>соотечественников <br>по всему миру
              p.p--sm.text-white.front__dscr Присоединяйтесь к нашему сообществу, находите друзей и единомышленников, создавайте сообщества по интересам
            img.front__map(src="./img/front-world.png", alt)
        else
          .col-lg-7.col-xl-8
            .front__header
              h1.text-white Более 2 545 334 <br>соотечественников <br>по всему миру
              p.p--sm.text-white.front__dscr Присоединяйтесь к нашему сообществу, находите друзей и единомышленников, создавайте сообщества по интересам
            img.front__map(src="./img/front-world.png", alt)
        .col-lg-5.col-xl-4
          form.form.front__form.form--dark(action="#", method="POST")
            .form__item.form-group
              input.input.form-control(type="text", placeholder="Ваш логин или номер телефона")
            .form__item.form-group
              input.input.form-control(type="password", placeholder="Пароль")
            .row
              .col-6
                button.btn.btn-secondary(type="submit") Войти
              .col-6
                a.btn.btn-link.text-white.px-0.px-sm-10.text-center Забыли пароль?
          form.form.front__form(action="#", method="POST")
            p.text-primary.mb-5.font-weight-bold Впервые на сайте? Зарегистрируйтесь
            p.p--sm.mb-25.text-primary И получите доступ ко всем сервисам сайта
            .form__item.form-group
              input.input.form-control(type="text", placeholder="Имя")
            .form__item.form-group
              input.input.form-control(type="text", placeholder="Фамилия")
            .form__item.form__item--hor.justify-content-start.form-group.mt-30
              label.form__label Дата рождения
              .form__item-hor-content
                +select({
                  placeholder: 'дд',
                  modifier: 'day'
                }).select--birth
                +select({
                  placeholder: 'мм',
                  modifier: 'month'
                }).select--birth
                +select({
                  placeholder: 'гггг',
                  modifier: 'year'
                }).select--birth
            //.form__item.form-group.d-flex.align-items-center.justify-content-between
              p.p--sm.mb-0.mr-5 Дата рождения
              .d-flex.align-items-center
                +select({
                  placeholder: 'дд',
                  modifier: 'day'
                }).select--birth
                +select({
                  placeholder: 'мм',
                  modifier: 'month'
                }).select--birth
                +select({
                  placeholder: 'гггг',
                  modifier: 'year'
                }).select--birth
            button.btn.btn-blue.w-100(type="submit") Зарегистрироваться
