.front {
  padding: 52px 0 40px;
  flex: 1 0 auto;
  background: $primary;

  &__header {
    margin-top: 23px;
    margin-bottom: 50px;
    display: flex;

    @include media-breakpoint-down(lg) {
      margin-top: 0;
      margin-bottom: 0;
      flex-direction: column;
    }

    h1 {

      br {

        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }
  }

  &__left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @include media-breakpoint-down(md) {
      align-items: center;
      text-align: center;
    }
  }

  &__dscr {
    margin-left: 80px;

    @include media-breakpoint-down(lg) {
      margin-top: 20px;
      margin-left: 0;
    }
  }

  &__map {
    max-width: 100%;

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }
  }

  &__form {
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
    background: #fff;
    border: 1px solid #3f5d92;
    border-radius: 5px;

    @include media-breakpoint-down(sm) {
      padding: 15px;
    }

    & + & {
      margin-top: 30px;
    }

    .form__item {
      margin-bottom: 15px;
    }

    .form__item--hor {
      margin-top: 0 !important;

      .form__label {
        margin-right: 15px;
        min-width: 0;
        font-size: 11px;
      }
    }

    .p--sm {
      font-size: 11px;
    }
  }

  .alert {
    margin-bottom: 30px;
    padding: 20px;
    color: $primary;
    background: white;
    border-left: 10px solid silver;
    border-radius: 5px;

    h4 {
      color: inherit;
    }

    a {
      text-decoration: underline;
    }

    &-success {
      border-left-color: green;

      h4 {
        color: darkgreen;
      }
    }

    &-danger {
      border-left-color: brown;

      h4 {
        color: brown;
      }
    }
  }
}
