mixin album(data)
  a.album(href="#")&attributes(attributes)
    .album__picture
      img.album__picture-img(src="./img/album.jpg", alt)
      a.album__edit(href="#")
      .album__count 25
    .album__content
      p.mb-5 Широты наших городов
      p.sm.text-primary-new.mb-0 Олегов Игорь
