.album {
  margin-bottom: 45px;
  display: block;

  &:hover {

    .album__picture-img {
      transform: scale(1.08);
    }
  }

  &__picture {
    position: relative;
    margin-bottom: 15px;
    padding-top: 62.45%;
    overflow: hidden;
  }

  &__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;

    @include transition;
  }

  &__edit {
    position: absolute;
    right: 90px;
    bottom: 10px;
    width: 30px;
    height: 30px;
    background: #fff url(../img/icon-edit.png) no-repeat center;
    background-size: 16px 16px;
    border-radius: 5px;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &__count {
    position: absolute;
    z-index: 1;
    right: 10px;
    bottom: 10px;
    padding: 3px 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
    color: $primary-new;
    background: #fff;
    border-radius: 5px;

    &:before {
      margin-right: 10px;
      display: block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      content: '';
      background: url(../img/icon-album.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__content {
  }

  &--short {
    margin-bottom: 0;
    width: 216px;
  }
}
