.cabinet {
  overflow: hidden;

  &__header {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__userpic {
    margin-right: 34px;
    width: 75px;
    height: 75px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 5px;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__header-content {
  }

  &__header-links-wrapper {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__header-link {
    display: flex;
    align-items: center;
    font-size: 15px;

    @include transition;

    &:hover {
      opacity: .75;
    }

    &:before {
      margin-right: 15px;
      display: block;
      width: 16px;
      height: 16px;
      content: '';
    }

    & + & {
      margin-left: 30px;

      @include media-breakpoint-down(sm) {
        margin-top: 10px;
        margin-left: 0;
      }
    }

    span {
      font-size: 13px;
      font-weight: 700;
      color: $primary;
    }

    &--messages {

      &:before {
        background: url(../img/messages-icon.png) no-repeat center;
        background-size: contain;
      }
    }

    &--materials {

      &:before {
        background: url(../img/articles-icon.png) no-repeat center;
        background-size: contain;
      }
    }
  }

  &__form-userpic {
    margin-right: 24px;
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 5px;
    
    &--lg {
      width: auto;
      max-width: 100%;
      height: auto;
      margin-right: 0;
    }
  }

  .tab-pane {
    padding-top: 30px;

    &--gray {
      padding-bottom: 30px;
      background: #f1f1f2;
    }
  }
}
