mixin member(data)
  .member&attributes(attributes)
    .member__photo(style="background-image:url(./img/" + data.photo + ");")
    .member__content
      p.member__name
        a(href="#") Александр Максагонов
      if data && data.modifier == 'contact'
        a.member__link(href="#") Открыть профиль
      else
        p.member__place.p--sm Рим, Италия
      if data && data.modifier == 'short'
      else if data && data.modifier == 'friend'
        a.btn.btn-green.btn-sm(href="#") Добавить в друзья
      else if data && data.modifier == 'sent'
        .member__footer
          p.p--sm.mb-0.mr-10.font-weight-bold.text-dark-new Заявка отправлена
          a.btn.btn-outline-primary.btn-sm(href="#") Отменить
      else if data && data.modifier == 'sent-done'
        .member__footer
          p.p--sm.mb-0.mr-10.font-weight-bold.text-dark-new Заявка отправлена
      else if data && data.modifier == 'refused'
        p.p--sm.mb-0.font-weight-bold.text-danger Заявка отклонена
      else if data && data.modifier == 'added'
        .member__footer
          a.member__write(href="#") Написать
          .member__added У вас в друзьях
      else if data && data.modifier == 'contact'
      else
        .member__footer
          a.member__write(href="#") Написать
          if data && data.modifier == 'default'
          else
            a.btn.btn-outline-primary.btn-sm(href="#") Убрать из друзей
