.member {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__photo {
    position: relative;
    margin-right: 25px;
    width: 75px;
    height: 75px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 5px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }
  }

  &__content {
  }

  &__name {
    margin-bottom: 0;
  }

  &__place {
    margin-bottom: 20px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__write {
    margin-right: 22px;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
    color: $primary;

    @include transition;

    &:hover {
      opacity: .75;
    }

    &:before {
      margin-right: 10px;
      display: block;
      width: 16px;
      height: 16px;
      content: '';
      background: url(../img/messages-icon.png) no-repeat center;
      background-size: contain;
    }
  }

  &__added {
    padding: 2.5px 10.5px;
    font-size: 13px;
    font-weight: 700;
    color: rgba(#354a94, .5);
    background: rgba(182, 195, 217, .3);
    border-radius: 4px;
  }

  &__link {
    font-size: 12px;
    font-weight: 700;
    color: $primary-new;
  }

  &--offline {

    .member__photo {

      &:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: 14px;
        height: 14px;
        content: '';
        background: #d2d2d2;
        border: 3px solid #fff;
        border-radius: 50%;
        transform: translate(-50%, 50%);
      }
    }
  }

  &--online {

    .member__photo {

      &:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: 14px;
        height: 14px;
        content: '';
        background: #00a651;
        border: 3px solid #fff;
        border-radius: 50%;
        transform: translate(-50%, 50%);
      }
    }
  }

  &--default {
    margin-bottom: 12px;

    .member__photo {
      margin-right: 17px;
      width: 60px;
      height: 60px;
    }

    .member__name {
      margin-bottom: 0;
      font-size: 13px;
    }

    .member__place {
      margin-bottom: 10px;
    }
  }

  &--short {

    .member__place {
      margin-bottom: 0;
    }
  }

  &--friend {

    .member__place {
      margin-bottom: 5px;
    }
  }

  &--new {

    .member__name {
      color: $dark-new;
    }

    .member__place {
      margin-bottom: 5px;
    }

    .member__write {

      &:before {
        margin-right: 10px;
        display: block;
        width: 21px;
        height: 21px;
        content: '';
        background: url(../img/write-icon.svg) no-repeat center;
        background-size: contain;
      }
    }

    .btn-outline-primary {
      padding: 4.5px 10px;
      font-size: 13px;
      color: #354a94;
      border-color: #354a94;
    }
  }
}
