.comment {
  display: flex;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  &__userpic {
    margin-right: 25px;
    width: 75px;
    height: 75px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 5px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }
  }

  &__content {

    .comment {

      @include media-breakpoint-down(sm) {
        padding-left: 20px;
      }
    }
  }

  &__header {
    margin-bottom: 5px;
    display: flex;
    align-items: baseline;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }
}
