mixin comment(data)
  .comment&attributes(attributes)
    .comment__userpic(style="background-image: url(./img/profile-user.jpg);")
    .comment__content
      .comment__header
        p.p--sm.text-primary.mr-15.mb-0 Александра Максагонов
        p.p--sm.text-primary.mb-0 13.05.2017 15:05
      p.p--sm.mb-15 Читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное
      p.p--sm
        a(href="#") ответить
      if block
        block
