mixin map(data)
  .map&attributes(attributes)
    script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9a286b5d0987c285524f63a237d25f9781e299fde7df67c47b919d20cf60174b&width=100%25&height=290&lang=ru_RU&scroll=true')
