mixin link-back(data)
  .link-back&attributes(attributes)
    .link-back__content
      if data && data.title
        h3.font-weight-bold.text-primary-new.mb-0= data.title
      if data && data.comment
        .link-back__comment= data.comment
