.link-back {
  display: inline-flex;
  width: 17px;
  height: 14px;
  flex-shrink: 0;
  background: url(../img/link-back.png) no-repeat center;
  background-size: contain;

  @include transition;

  &:hover {
    opacity: .75;
  }

  &__comment {
    margin-top: 6px;
    font-size: 11px;
    line-height: 1.2;
    color: #2f2f2f;
  }

  &--next {
    transform: rotate(180deg);
  }

  &--new {
    margin-right: 18px;
    display: block;
    width: 13px;
    height: 16px;
    flex-shrink: 0;
    background: url(../img/profile-back.svg) no-repeat center;
    background-size: contain;
  }

  &--title {
    display: flex;
    width: auto;
    height: auto;
    align-items: baseline;
    background: transparent;

    &:before {
      position: relative;
      top: 1px;
      margin-right: 18px;
      display: block;
      width: 13px;
      height: 16px;
      flex-shrink: 0;
      content: '';
      background: url(../img/profile-back.svg) no-repeat center;
      background-size: contain;
    }
  }

  &--black {

    h3 {
      color: $black !important;
    }
  }
}
