mixin months(data)
  .months&attributes(attributes)
    .months__content
      a.months__arrow.months__arrow--prev(href="#")
      p.months__name Август
      a.months__arrow.months__arrow--next(href="#")
