.months {
  margin: 5px;
  padding: 0 10px;
  display: flex;
  min-height: 38px;
  align-items: center;
  background: #fff;
  border-radius: 5px;

  @include media-breakpoint-down(sm) {
    justify-content: center;
  }

  &:before {
    margin-right: 12px;
    display: block;
    width: 20px;
    height: 20px;
    content: '';
    background: url(../img/calendar.png) no-repeat center;
    background-size: contain;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__arrow {
    width: 6px;
    height: 11px;

    @include transition;

    &:hover {
      opacity: .75;
    }

    &--prev {
      background: url(../img/arrow-left.png) no-repeat center;
      background-size: contain;
    }

    &--next {
      background: url(../img/arrow-right.png) no-repeat center;
      background-size: contain;
    }
  }

  &__name {
    margin: 0 20px;
    font-size: 13px;
    text-transform: capitalize;
    color: #371f1b;
  }
}
