.person {
  padding: 16px;
  display: flex;
  align-items: center;

  @include transition;

  &:hover {
    background: rgba($primary-new, .1);
  }

  &__picture {
    position: relative;
    margin-right: 17px;
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
  }

  &__initials {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
  }

  &__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: top center;
  }

  &__picture-logo-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: $primary-new;
    border-radius: 5px;
  }

  &__picture-logo {
  }

  &__wrapper {
  }

  &__wrapper-header {
    margin-bottom: 6px;
  }

  &__name {
    overflow: hidden;
    width: 170px;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $black;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__message-picture {
    position: relative;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
  }

  &__message-picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    object-fit: cover;
    object-position: top center;
  }

  &__time {
    margin-right: 8px;
    padding: 1.5px 2.95px;
    flex-shrink: 0;
    font-size: 11px;
    line-height: 1.2;
    color: $black;
    background: rgba(#81a6d3, .3);
    border-radius: 2px;
  }

  &__message {
    overflow: hidden;
    width: 132px;
    font-size: 11px;
    line-height: 1.2;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgba($black, .7);
  }

  &--active {
    background: $primary-new;

    &:hover {
      background: $primary-new;
    }

    .person__name {
      color: #fff;
    }

    .person__time {
      color: #fff;
    }

    .person__message {
      color: rgba(#fff, .7);
    }
  }
}
