mixin person(data)
  a.person(href="#")&attributes(attributes)
    .person__picture
      if data && data.initials
        .person__initials(style="background-color:" + data.color + ";")= data.initials
      if data && data.picture
        img.person__picture-img(src="./img/" + data.picture, alt)
      if data && data.logo
        .person__picture-logo-wrapper
          img.person__picture-logo(src="./img/person-logo.svg", alt)
    .person__wrapper
      .person__wrapper-header
        .person__name= data.title
      .person__content
        if data && data.messagePicture
          .person__message-picture
            img.person__message-picture-img(src="./img/" + data.picture, alt)
        else
          .person__time 11:20
        .person__message= data.message
