.notification {
  padding: 13px;
  display: flex;

  & + & {
    border-top: 1px solid rgba(#b6c3d9, .5);
  }

  &__picture {
    position: relative;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
  }

  &__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: top center;
  }

  &__content {
    padding-top: 2px;
  }

  &__time {
    font-size: 11px;
    line-height: 1.2;
    color: #2f2f2f;
  }
}
