mixin notification(data)
  .notification&attributes(attributes)
    .notification__picture
      img.notification__picture-img(src="./img/" + data.photo, alt)
    .notification__content
      if block
        block
      .notification__time 14.04.20 в 13:00
      if data && data.friend
        a.btn.btn-secondary.btn-md.notification__btn.mt-15(href="#") Добавить в друзья
