.world {
  padding-top: 65px;
  padding-bottom: 90px;
  background: #f9f9fa;

  @include media-breakpoint-down(sm) {
    padding: 30px 0;
  }

  &__wrapper {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &__map {
    max-width: 100%;
  }

  &__item {
    position: absolute;
    padding: 6px 10px;
    display: inline-flex;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    border-radius: 10px;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__subheader {
    margin-bottom: 30px;
    font-weight: 400;
    text-align: center;
    color: $dark;

    span {
      font-size: 34px;
      font-weight: 700;

      @include media-breakpoint-down(lg) {
        font-size: 24px;
      }
    }
  }
}
