mixin world(data)
  .world&attributes(attributes)
    .container
      h2.font-weight-normal Наши соотечественники на всех континентах мира
      .world__wrapper
        img.world__map(src="./img/world.png", alt)
        .world__item(style="background-color: #4c4199; left: 60px; top: 80px") Канада ~ 200 тыс.ч
        .world__item(style="background-color: #4c4199; left: 690px; top: 220px") Индия ~ 50 тыс.ч
        .world__item(style="background-color: #4c4199; left: 880px; top: 420px;") Австралия ~ 20 тыс.ч
        .world__item(style="background-color: #009de1; left: 130px; top: 150px") США ~ 200 тыс.ч
        .world__item(style="background-color: #009de1; left: 480px; top: 400px") ЮАР ~ 20 тыс.ч
        .world__item(style="background-color: #009de1; left: 650px; top: 120px;") Страны СНГ ~ 2 320 тыс.ч
        .world__item(style="background-color: #ffcf0d; left: 240px; top: 310px; color: #3c3c3c;") Бразилия ~ 20 тыс.ч
        .world__item(style="background-color: #ffcf0d; left: 820px; top: 170px; color: #3c3c3c;") Китай ~ 1 200 тыс.ч
        .world__item(style="background-color: #ec178a; left: 20px; top: 220px") Мексика ~ 20 тыс.ч
        .world__item(style="background-color: #ec178a; left: 170px; top: 400px") Перу ~ 20 тыс.ч
        .world__item(style="background-color: #ec178a; left: 400px; top: 80px") Страны Европы ~ 1 220 тыс.ч
        .world__item(style="background-color: #ec178a; left: 500px; top: 200px") Египет ~ 20 тыс.ч
        .world__item(style="background-color: #ec178a; left: 940px; top: 120px") Япония ~ 20 тыс.ч
      h2.world__subheader Всего около 
        span 2 300 000
        |  соотечественников в 
        span 72 
        | странах мира
      p.mb-0.text-center.text-primary
        a.text-underline(href="#") Смотреть статистику и динамику изменения по всем странам 
