mixin menu(data)
  .menu&attributes(attributes)
    a.menu__btn(href="#")
    .menu__content
      a.menu__link.menu__link--additional(href="#") Главная
      a.menu__link(href="#") Календарь мероприятий
      a.menu__link(href="#") Наши соотечественники
      a.menu__link(href="#") Группы и объединения
      a.menu__link(href="#") Новости и мультимедиа
      a.menu__link.menu__link--additional(href="#") Справочник молодого соотечественника
      a.menu__link.menu__link--additional(href="#") Контакты
      a.menu__link.menu__link--additional(href="#") Обратная связь
      a.menu__link(href="#") Поиск
      if block
        block
