.menu {

  @include media-breakpoint-down(lg) {
    position: relative;
  }

  &__btn {
    display: none;

    @include media-breakpoint-down(lg) {
      display: block;
      width: 40px;
      height: 100%;
      min-height: 40px;
      background: url(../img/menu.svg) no-repeat center;
      background-size: 80%;
    }

    &--active {

      @include media-breakpoint-down(lg) {
        display: block;
        width: 40px;
        height: 100%;
        min-height: 40px;
        background: url(../img/close--white.svg) no-repeat center;
        background-size: 60%;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      display: none;
    }

    &--active {
      position: relative;
      z-index: 1;
      display: flex;

      @include media-breakpoint-down(lg) {
        position: absolute;
        top: 100%;
        right: -15px;
        padding: 15px;
        width: 100vw;
        background: $primary;
        border-top: 1px solid rgba($gray, .3);
      }

      @include media-breakpoint-down(md) {
        padding: 0;
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__link {
    font-size: 13px;
    color: #fff;

    @include transition;

    @include media-breakpoint-down(md) {
      padding: 10px 0;
      padding-left: 15px;
      width: 100%;
    }

    &:hover {
      opacity: .75;
      color: #fff;
    }

    & + & {
      margin-left: 20px;

      @include media-breakpoint-down(md) {
        margin-left: 0;
        border-top: 1px solid rgba($gray, .3);
      }
    }

    &--additional {
      display: none;

      @include media-breakpoint-down(md) {
        display: block;
      }
    }
  }
}
