.registration {
  flex: 1 0 auto;

  &__header {
    padding: 40px 0;
    border-bottom: 4px solid $primary;
  }

  &__header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__header-content {
    padding-right: 20px;

    @include media-breakpoint-down(sm) {
      padding-right: 0;
      padding-bottom: 20px;
    }
  }

  &__content {
    padding-top: 40px;
  }
}
