.course {
  margin-top: 40px;
  padding-top: 50px;
  padding-bottom: 40px;
  border-top: 4px solid $primary-new;

  &__header {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  &__header-text {
    max-width: 734px;
  }

  &__logo {
    margin-left: 40px;
    max-width: 200px;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      margin-left: 0;
    }

    img {
      max-width: 100%;
    }
  }

  &__bar {
    margin: 70px auto 45px;
    padding: 30px 40px;
    display: flex;
    max-width: 972px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #81a6d3;

    @include media-breakpoint-down(sm) {
      padding: 20px 30px;
      flex-direction: column;
      text-align: center;
    }
  }

  &__bar-text {
    margin-bottom: 0;
    max-width: 420px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__footer-logo {
    margin-right: 30px;
    max-width: 105px;
    flex-shrink: 0;

    img {
      max-width: 100%;
    }
  }

  &__footer-text {
    font-size: 11px;
    color: rgba($black, .7);
  }
}
