mixin select(data)
  .select&attributes(attributes)
    select.select__input(data-placeholder=data.placeholder)
      if data && data.modifier == "day"
        option 
        - var n = 1;
        while n < 32
          option= n++
      else if data && data.modifier == "month"
        option 
        - var n = 1;
        while n < 12
          option= n++
      else if data && data.modifier == "year"
        option 
        - var n = 1900;
        while n < 2021
          option= n++
      else if block
        block
      else
        option
        option Вариант 1
        option Вариант 2
        option Вариант 3
        option Вариант 4
        option Вариант 5
