.select {
  width: 100%;

  &__input {
    width: 100%;
  }

  &--birth {
    min-width: 65px;

    .select2-container .select2-selection--single .select2-selection__rendered {
      padding-left: 8px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
      right: 1px;
      width: 25px;
    }

    & + & {
      margin-left: 10px;
    }
  }
}
