.wrapper {
  flex: 1 0 auto;

  &__white-content {
    padding: 30px 30px 15px;
    min-height: 400px;
    background: #fff;
    border-radius: 5px;

    @include media-breakpoint-down(sm) {
      padding-right: 10px;
      padding-left: 10px;
    }

    &--tabbed {
      padding: 0;
    }
  }

  &__white-content-tabs {
    padding: 30px 30px 15px;
  }

  &--light {
    background: #eef1f6;
  }

  &--gray {
    background: #f1f1f2;

    .nav-tabs__wrapper {

      &:before {
        background: linear-gradient(to left, rgba(#f1f1f2, 0), #f1f1f2 80%);
      }

      &:after {
        background: linear-gradient(to right, rgba(#f1f1f2, 0), #f1f1f2 60%);
      }
    }
  }
}
