.header {

  &__top {
  }

  &__top-wrapper {
    padding: 11px 0;
    display: flex;
    min-height: 54px;
    justify-content: space-between;
    align-items: center;
  }

  &__top-left {
    margin-right: 20px;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__top-link {
    font-size: 13px;
    color: $dark;

    @include transition;

    &:hover {
      opacity: .75;
    }

    & + & {
      margin-left: 20px;
    }
  }

  &__top-right {

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  &__bottom {
    padding: 32px 0;
    background: $primary;

    @include media-breakpoint-down(lg) {
      padding: 0;
    }
  }

  &__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(lg) {
      align-items: stretch;
    }
  }

  &__bottom-left {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      padding: 15px 0;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 20px;
      justify-content: space-between;
      flex-grow: 1;
    }
  }

  &__search {
    margin-left: 42px;
    display: flex;
    align-items: center;

    @include transition;

    @include media-breakpoint-down(sm) {
      margin-left: 30px;
      display: none;
      font-size: 0;
    }

    &:hover {
      opacity: .75;
      color: #fff;
    }

    &--mobile {
      display: none;

      @include media-breakpoint-down(sm) {
        margin-left: 0;
        padding: 10px 0;
        padding-left: 15px;
        display: flex;
        width: 100%;
        border-top: 1px solid rgba($gray, .3);
      }
    }
  }

  &__search-btn {
    margin-right: 20px;
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/header-search.svg) no-repeat center;
    background-size: contain;

    @include media-breakpoint-down(sm) {
      margin-right: 10px;
    }
  }

  &__search-input {
    font-size: 13px;
    font-weight: 300;
    color: #fff;
    background: transparent;
    border: 0;

    @include placeholder(#fff);

    @include media-breakpoint-down(sm) {
      flex-grow: 1;
    }
  }

  &__bottom-right {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      display: flex;
      flex-direction: row-reverse;
      align-items: stretch;
    }
  }

  &__search-btn-new {
    margin-left: 40px;
    display: block;
    width: 48px;
    height: 48px;
    background: rgba(#b6c3d9, .1) url(../img/header-search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 19px 19px;
    border-radius: 5px;

    @include transition;

    &:hover {
      opacity: .8;
    }

    @include media-breakpoint-down(lg) {
      margin-right: 20px;
      margin-left: 0;
      width: 40px;
      height: 40px;
      align-self: center;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 10px;
      background-size: 15px 15px;
    }
  }

  &--enter {
    border-bottom: 1px solid #5f6e89;

    .header__bottom-left {
      margin-right: 0;
      width: 100%;
      justify-content: space-between;
    }

    .header__search {

      @include media-breakpoint-down(sm) {
        display: flex;
      }
    }

    .header__search-input {
      width: 45px;
    }
  }
}
