mixin header(data)
  .header&attributes(attributes)
    if data && data.version == 'new'
    else
      .header__top
        .container
          .header__top-wrapper
            .header__top-left
              a.header__top-link(href="#") Главная
              a.header__top-link(href="#") Справочник молодого соотечественника
              a.header__top-link(href="#") Контакты
              a.header__top-link(href="#") Обратная связь
              a.header__top-link(href="#") FAQ
            .header__top-right
              if data && data.type == 'enter'
                a.header__top-link.text-primary(href="#") In English
              else
                +user
    .header__bottom
      .container
        .header__bottom-wrapper
          .header__bottom-left
            +logo
            if data && data.version == 'new'
              p.mb-0
                a.text-white(href="#") Контакты
            //else
              form.header__search(action="#", method="POST")
                button.header__search-btn(type="submit")
                input.header__search-input(type="text", placeholder="Поиск")
          if data && data.type == 'enter'
          else
            .header__bottom-right
              +menu
                //form.header__search.header__search--mobile(action="#", method="POST")
                  button.header__search-btn(type="submit")
                  input.header__search-input(type="text", placeholder="Поиск")
              a.header__search-btn-new(href="#")
