.form {

  &__item {
    margin-bottom: 20px;

    &--hor {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .form__label {
        margin-bottom: 0;
        min-width: 137px;

        @include media-breakpoint-down(xs) {
          padding-right: 10px;
          min-width: 0;
        }
      }

      .custom-file + div {
        position: absolute;
        top: 100%;
        margin-top: 5px;
        width: 100%;
        font-size: 12px;
        color: $danger;
      }
    }

    .help-block {
      padding-top: .25em;
      font-size: 11px;
      color: $danger;
    }

    > label:after {
      content: ':';
    }
  }

  &__item-hor-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    @include media-breakpoint-down(sm) {
      justify-content: flex-end;
    }

    &--short {
      flex-grow: 0;
    }
  }

  &__label {
    margin-bottom: 12px;
    font-size: 13px;
    color: $primary;
  }

  &__input-calendar-to {
    position: relative;
  }

  &__input-calendar-to-checkbox {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 12px;
    display: flex;
    align-items: center;
    transform: translateY(-50%);

    .custom-control-label {

      &:before {
        margin-right: 0;
      }
    }
  }

  &__switch {
    margin-bottom: 30px;
    padding: 4px;
    display: inline-flex;
    border: 1px solid #b6c3d9;
    border-radius: 5px;
  }

  &__file {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__file-info {
    margin-left: 24px;

    @include media-breakpoint-down(xs) {
      margin-top: 20px;
      margin-left: 0;
    }
  }

  &__section {
    border-top: 1px solid rgba($primary-new, .2);
    margin-top: 18px;
    padding-top: 33px;
  }

  &__album-footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
    }
  }
  
  &__album-item {
    position: relative;
    min-height: 106px;
    margin-bottom: 30px;
    width: 100%;
  }
  
  &__album-item-remove {
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 2px;
    background: #fff url(../img/album-remove.svg) no-repeat center;
    display: block;
    width: 16px;
    height: 16px;
    z-index: 1;
  }
  
  &__album-item-picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  &--dark {
    background: transparent;
    border: 1px solid #3f5d92;
  }

  &--button[disabled] {
    background: darken(#ebebeb, 20%);

    &:hover {
      background: darken(#ebebeb, 33%);
    }
  }
  
  &--bordered {
    padding-top: 32px;
    border-top: 4px solid $dark-new;
  }
}
