.bar {
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $secondary;
  border-radius: 5px;

  @include media-breakpoint-down(md) {
    padding: 20px 0;
    flex-direction: column;
  }

  &__content {
    display: flex;

    @include media-breakpoint-down(md) {
      margin-top: 20px;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      flex-direction: column;
    }
  }

  &__select {

    & + & {

      .select2-container--default .select2-selection--single {
        border-left: 0;

        @include media-breakpoint-down(sm) {
          border-top: 0;
        }
      }
    }

    .select2-selection__clear {
      margin-right: 5px;
    }

    .select2-container--default .select2-selection--single {
      background: transparent;
      border: 0;
      border-left: 1px solid #ffd74a;
      border-right: 1px solid #ffd74a;

      @include media-breakpoint-down(sm) {
        border: 0;
        border-top: 1px solid #ffd74a;
        border-bottom: 1px solid #ffd74a;
        border-radius: 0;
      }
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
      //      padding-right: 50px;
      padding-right: 85px;
      padding-left: 20px;
      //      padding-left: 40px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
      right: 10px;
      background: transparent url(../img/bar-select-triangle.svg) no-repeat center;
      background-size: 9px 7px;
    }

    .select2-container--default .select2-selection--single .select2-selection__placeholder {
      color: #371f1b;
    }
  }

  &__search {
    margin-left: 30px;
    height: auto !important;
    border: 0 !important;

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
      margin-left: 0;
      min-height: 46px;
      border-radius: 0 !important;
    }

    &--transparent {
      margin: 8px 10px;
      padding: 0 10px;
      background: rgba(#fff, .52);

      .search__input {
        padding-left: 35px;
        min-width: 220px !important;
      }
    }
  }

  .search__input {
    min-width: 200px;
  }
}
